<include file="Public/head"/>
    <header>
        <section id="top_bar" style="text-align:center;height:47px;padding:5px 0px 0px 10px;">
            <ul style="padding-top:5px;">
                <li style="width:20%;text-align:left;vertical-align:middle;"><img onclick='doHREF("{:logistics_url(2,'/')}")' style="width:30px;height:30px;" src="__IMG__/goback.jpg"></li>
                <li style="width:56%;"><span class="header_title_text">用户管理中心</span></li>
                <li style="width:20%;"></li>
            </ul>
        </section>
    </header>
    <content>
        <section style="text-align:center;padding:0px 10px 0px 10px;">
            <ul style="list-style:none;padding:0px;text-align:left;">
                <div id="delivery_info">
                    <li style="border-bottom:0px;" onclick='doHREF("{:logistics_url(2,'user/account')}")'>
                        <span style="font-weight:900;">我的账户信息</span>
                        <img style="float:right" src="__IMG__/jiantou.png">
                    </li>
                </div>
                <div id="delivery_info">
                    <li style="border-bottom:0px;" onclick='alert_vip()'>
                        <span style="font-weight:900;">充值vip</span>
                        <img style="float:right" src="__IMG__/jiantou.png">
                    </li>
                </div>
                <div id="delivery_info">
                    <li style="border-bottom:0px;" onclick='doHREF("{:logistics_url(2,'kefu')}")'>
                        <span style="font-weight:900;">联系客服</span>
                        <img style="float:right" src="__IMG__/jiantou.png">
                    </li>
                </div>
            </ul>
        </section>
    </content>
<include file="Public/footer"/>
<script type="text/javascript" src="__STATIC__/layer/mobile/layer.js"></script>
<style>
    .layui-m-layercont{
        padding: 0;
    }
</style>
<script>
    function alert_vip(){
        layer.open({
            title: [
                '充值会员',
                'background-color: #FF4351; color:#fff;'
            ]
            ,content: '<div style="float:left;width: 50%;height: 50px;background: orange;line-height: 50px;font-size: 18px;color:white">VIP：￥688/年</div><div style="background: #2bb8aa;float:left;width: 50%;height: 50px;line-height: 50px;font-size: 18px;color:white">推荐：￥488/年</div><img style="margin-top: 10px" src="__STATIC__/images/recharge_qrcode.jpg"><p>充值为会员更够更好的展示您的信息，</p><p>展示排名更靠前！更多推广服务！</p>',
        });
    }
    function alert_kefu(){
        layer.open({
            title: [
                '联系客服',
                'background-color: #FF4351; color:#fff;'
            ]
            ,content: '<img style="margin-top: 10px" src="__STATIC__/images/kefu.png"><p>请用微信扫描上方二维码，</p><p>免费制作名片，快速推广</p>',
        });
    }
</script>