<select name="[project]_p" id="[project]_p" class="pca-select" onchange="pac_select(this,1)">
    <option value="0">请选择</option>
    <foreach name="province" item="val">
        <option value="{$val.id}">{$val.name}</option>
    </foreach>
</select>
<select name="[project]_c" id="[project]_c" class="pca-select" style="display: none" onchange="pac_select(this,2)" >

</select>
<select name="[project]_a" id="[project]_a" class="pca-select" style="display: none">

</select>

<script>
    function pac_select(object,level){
        var obj = $('#'+object.id);
        var id = obj.val();
        if(id > 0){
            $.post("{:U('Public/getNextArea')}", {id : id}, function(e){
                if(e.status == 0){
                    if(level == 1){
                        //alert(11);
                        obj.siblings().hide().empty();
                    }else{
                        obj.next().hide().empty();

                    }
                    obj.next().append('<option value="0">请选择</option>');
                    $.each(e.data, function(n, item){
                        obj.next().append('<option value="'+item.id+'">'+item.name+'</option>')
                    });
                    obj.next().show();
                }else{
                    if(level == 1){
                        obj.siblings().hide().empty();
                    }else{
                        obj.next().hide().empty();

                    }
                }
            });
        }else{
            if(level == 1){
                obj.siblings().hide().empty();
            }else{
                obj.next().hide().empty();

            }
        }
    }
</script>