<include file="Public/header"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/uc.css" media="all">
    <div class="wrap2">
        <div class="uleft2 ul3">
            <div class="utit">
                <h2>欢迎注册查物流网</h2>
            </div>
            <div class="ucon login">
                <form id="signup-user-form" method="post" action="{:logistics_url(1,'register')}" class="validator">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="width:70px;" class="input_title">用户名:</td>
                                <td style="width:205px;"><input type="text" size="30" name="nickname" id="signup-nickname" class="i_text" value=""></td>
                                <td><div class="Validform_checktip">昵称由3-30个字符组成</div></td>
                            </tr>
                            <tr>
                                <td style="width:70px;" class="input_title">密码:</td>
                                <td style="width:205px;"><input type="password" size="30" name="password" id="signup-password" class="i_text" value=""></td>
                                <td><div class="Validform_checktip">输入密码由6-30个字母或数字组成</div></td>
                            </tr>
                            <tr>
                                <td style="width:70px;" class="input_title">确认密码:</td>
                                <td style="width:205px;"><input type="password" size="30" name="password2" id="signup-password-confirm" class="i_text" ></td>
                                <td><div class="Validform_checktip">确认密码</div></td>
                            </tr>
                            <tr>
                                <td style="width:70px;" class="input_title">邮箱:</td>
                                <td style="width:205px;"><input type="text" size="30" name="mail" id="signup-email-address" class="i_text" value="" ></td>
                                <td><div class="Validform_checktip">邮箱地址用于密码找回(可选填)</div></td>
                            </tr>
                            <tr>
                                <td style="width:70px;" class="input_title">验证码:</td>
                                <td style="width:220px;">
                                    <input type="text" size="30" name="vcaptcha" ajaxurl="http://www.chawuliu.com/verifyValue" id="signup-mobile" class="i_text i_yanz" maxlength="4" style="text-transform:uppercase;">
                                    <span class="captcha_box">
                                        <img src="{:logistics_url(1,'verify')}" style="width:100px;height:30px;order: 0; cursor: pointer;" alt="看不清？点击刷新" id="refresh_captcha">
                                    </span>
                                </td>
                                <td><div class="Validform_checktip"></div></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="2"><input type="submit" value="注册" name="commit" id="signup-submit" class="input input42"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="uright2 ur3">
            <h3>已有查物流网账户？ 请直接 </h3>
            <p><a href="http://www.chawuliu.com/login" class="zhuce mt10">登录</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <script>
        $(function(){
            $('#refresh_captcha').click(function(){
                var url = $(this).attr('src');
                if( url.indexOf('?')>0){
                    $(this).attr("src", url.replace(/\?.*$/,'')+'?'+Math.random());
                }else{
                    $(this).attr("src", url+'?'+Math.random());
                }
            });
            $('#signup-submit').click(function(){
               return false;
            });
        });
    </script>
<include file="Public/footer"/>