<include file="Public/header"/>
    <div id="banner"><!-- banner广告横幅 -->

    </div>
    <div id="main">
        <div class='switch_city_page'>
            <div class='lately_view'>
                <strong class='fl'>最近访问：<span>》</span></strong>
                <div class='fl lately_view_list'>
                    <a href="http://cixi.chawuliu.com/city/cixi">慈溪</a>
                </div>
                <div class='c'></div>
            </div>
            <div class='lately_view lately_view_hot'>
                <strong class='fl' style='background:#f00'>热门城市：<span>》</span></strong>
                <div class='fl lately_view_list'>
                    <a href="http://cixi.chawuliu.com/city/shanghai"><b>上海</b></a>
                    <a href="http://cixi.chawuliu.com/city/tianjin"><b>天津</b></a>
                    <a href="http://cixi.chawuliu.com/city/hangzhou"><b>杭州</b></a>
                    <a href="http://cixi.chawuliu.com/city/yiwu"><b>义乌</b></a>
                    <a href="http://cixi.chawuliu.com/city/cixi"><b>慈溪</b></a>
                    <a href="http://cixi.chawuliu.com/city/jinan"><b>济南</b></a>
                    <a href="http://cixi.chawuliu.com/city/linyi"><b>临沂</b></a>
                    <a href="http://cixi.chawuliu.com/city/qingdao"><b>青岛</b></a>
                    <a href="http://cixi.chawuliu.com/city/chengdu"><b>成都</b></a>
                    <a href="http://cixi.chawuliu.com/city/guangzhou"><b>广州</b></a>
                    <a href="http://cixi.chawuliu.com/city/wuxi"><b>无锡</b></a>
                    <a href="http://cixi.chawuliu.com/city/suzhou"><b>苏州</b></a>
                    <a href="http://cixi.chawuliu.com/city/zhengzhou"><b>郑州</b></a>
                    <a href="http://cixi.chawuliu.com/city/changsha"><b>长沙</b></a>
                    <a href="http://cixi.chawuliu.com/city/hefei"><b>合肥</b></a>
                    <a href="http://cixi.chawuliu.com/city/changzhou"><b>常州</b></a>
                    <a href="http://cixi.chawuliu.com/city/yongkang"><b>永康</b></a>
                    <a href="http://cixi.chawuliu.com/city/ningbo"><b>宁波</b></a>
                </div>
                <div class='c'></div>
            </div>
            <h2 class='city_list_title'><strong>按省选择</strong><span>》</span></h2>
            <div class='hasallcity'>
                <foreach name="pca_p" item="p">
                    <div class="city_item">
                        <a class="city_item_title"><strong>{$p.name}</strong></a>
                        <div class="city_item_list">
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                            <a href="index.html">石家庄</a>
                        </div>
                        <div class="c"></div>
                    </div>
                </foreach>
            </div>
        </div>
    </div>

<include file="Public/footer"/>