<include file="Public/header"/>
    <div id="banner"><!-- banner广告横幅 -->

    </div>
    <div id="main">
        <div class='switch_city_page'>
            <div class='lately_view lately_view_hot'>
                <strong class='fl' style='background:#f00'>热门城市：<span>》</span></strong>
                <div class='fl lately_view_list'>
                    <foreach name="hot_city" item="val">
                        <a href="http://{$val.pinyin}.{:C('DOMAIN')}"><b>{$val.name}</b></a>
                    </foreach>
                </div>
                <div class='c'></div>
            </div>
            <h2 class='city_list_title'><strong>按省选择</strong><span>》</span></h2>
            <div class='hasallcity'>
                <div class="city_item">
                    <a class="city_item_title"><strong>直辖市</strong></a>
                    <div class="city_item_list">
                        <foreach name="zhixia" item="city">
                            <a href="http://{$city.pinyin}.{:C('DOMAIN')}">
                                <if condition="$city['hot'] eq 1">
                                    <b>{$city.name}</b>
                                    <span style="background:#f00;color:#fff;border-radius:2px;">hot</span>
                                <else/>
                                    {$city.name}
                                </if>
                            </a>
                        </foreach>
                    </div>
                    <div class="c"></div>
                </div>
                <foreach name="pca_p" item="p">
                    <div class="city_item">
                        <a class="city_item_title"><strong>{$p.name}</strong></a>
                        <div class="city_item_list">
                            <foreach name="p.child" item="city">
                                <a href="http://{$city.pinyin}.{:C('DOMAIN')}">
                                    <if condition="$city['hot'] eq 1">
                                        <b>{$city.name}</b>
                                        <span style="background:#f00;color:#fff;border-radius:2px;">hot</span>
                                    <else/>
                                        {$city.name}
                                    </if>
                                </a>
                            </foreach>
                        </div>
                        <div class="c"></div>
                    </div>
                </foreach>
            </div>
        </div>
    </div>

<include file="Public/footer"/>