<include file="Public/head"/>
    <div id="header">
        <div class="topbar_bg">
            <div class="topbar">
                <ul class="topnav">
                    <empty name="user_info">
                        <li><a href="{:logistics_url(1,'login')}" style="color: #FE8107;">登录</a></li>
                        <li class="sepline">|</li>
                        <li><a href="{:logistics_url(1,'register')}">注册</a></li>
                        <else />
                        <li>您好，{$user_info.username}</li>
                        <li class="sepline">|</li>
                        <li><a href="/admin/user">内容管理</a></li>
                        <li class="sepline">|</li>
                        <li><a href="{:logistics_url(1,'logout')}">退出</a></li>
                    </empty>

                    <li class="sepline">|</li>
                    <li><a rel="sidebar" href="#" onclick="jQuery.addFavorite('{:C('SITE_DOMAIN')}','{:C('WEB_SITE_TITLE')}信息平台');return false;">收藏我们</a></li>
                    <li class="sepline">|</li>
                    <li class="hover_li" onmouseover="this.className='hover'" onmouseout="this.className='hover_li'">
                        <a href="" class="help" target="_blank">帮助中心<span class="down"></span></a>
                        <div class="downlist">
                            <a href="" target="_blank">常见问题</a>
                            <a href="" target="_blank">意见反馈</a>
                            <a href="" target="_blank">商务合作</a>
                        </div>
                    </li>
                    <li class="sepline">|</li>
                    <li><span class="sitenav-call">0316-5327722</span></li>
                    <li class="sepline">|</li>
                </ul>
                <div class="c"></div>
            </div>
        </div>
        <script type="text/javascript">
            //添加到收藏夹方法
            jQuery.addFavorite=function(sURL, sTitle){
                try{
                    window.external.addFavorite(sURL, sTitle);
                }catch (e){
                    try{
                        window.sidebar.addPanel(sTitle, sURL, "");
                    }catch (e){
                        alert("加入收藏失败，请使用Ctrl+D进行添加");
                    }
                }
            }
        </script>
        <div class="w">
            <a href="{:logistics_url(1,'/')}" id="logo"><img height="71" alt="【{:C('WEB_SITE_TITLE')}信息平台】让物流更简单！" src="__STATIC__/images/logo.png"></a>
            <div id="switch_city">
                <strong class="city_name">{$city_info.name}</strong>
                <a href="{:logistics_url(1,'city')}">[切换分站]</a>
            </div>
            <div class="c"></div>
        </div>
        <div class="nav_bj">	<!-- 主导航 -->
        </div>
    </div>
    <div id="main">
        <div class='switch_city_page'>
            <div class="lately_view lately_view_hot">
                <strong class="fl">当前定位城市：<span style="border-color:#FFF  #FFF #FFF #4496D2 ">》</span></strong>
                <div class="fl lately_view_list" id="gps_city" style="width: 700px"></div>
                <div class="c"></div>
            </div>
            <div class='lately_view lately_view_hot'>
                <strong class='fl' style='background:#f00'>热门城市：<span>》</span></strong>
                <div class='fl lately_view_list'>
                    <foreach name="hot_city" item="val">
                        <a href="http://{$val.pinyin}.{:C('DOMAIN')}"><b>{$val.name}</b></a>
                    </foreach>
                </div>
                <div class='c'></div>
            </div>
            <h2 class='city_list_title'><strong>按省选择</strong><span>》</span></h2>
            <div class='hasallcity'>
                <div class="city_item">
                    <a class="city_item_title"><strong>直辖市</strong></a>
                    <div class="city_item_list">
                        <foreach name="zhixia" item="city">
                            <a href="http://{$city.pinyin}.{:C('DOMAIN')}">
                                <if condition="$city['hot'] eq 1">
                                    <b>{$city.name}</b>
                                    <span style="background:#f00;color:#fff;border-radius:2px;">hot</span>
                                <else/>
                                    {$city.name}
                                </if>
                            </a>
                        </foreach>
                    </div>
                    <div class="c"></div>
                </div>
                <foreach name="pca_p" item="p">
                    <div class="city_item">
                        <a class="city_item_title"><strong>{$p.name}</strong></a>
                        <div class="city_item_list">
                            <foreach name="p.child" item="city">
                                <a href="http://{$city.pinyin}.{:C('DOMAIN')}">
                                    <if condition="$city['hot'] eq 1">
                                        <b>{$city.name}</b>
                                        <span style="background:#f00;color:#fff;border-radius:2px;">hot</span>
                                    <else/>
                                        {$city.name}
                                    </if>
                                </a>
                            </foreach>
                        </div>
                        <div class="c"></div>
                    </div>
                </foreach>
            </div>
        </div>
    </div>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=dNcVKmvUBgsfAh2IKy72RTWYVtlrEpvf" type="text/javascript"></script>
    <script>
        $(function(){
            var geolocation = new BMap.Geolocation();
            geolocation.getCurrentPosition(function (r) {
                if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                    var geoc = new BMap.Geocoder();
                    var pt = r.point;
                    geoc.getLocation(pt, function (rs) {
                        var addComp = rs.addressComponents;
                        add_gps_city(addComp.city);
                    });
                } else {
                    $('#gps_city').html('定位失败，请手动选择城市');
                }
            });
            function add_gps_city(city){
                var target = "{:logistics_url(1,'gps_city')}";
                var query = {city:city};
                var content;
                var gps_city = $('#gps_city');
                $.post(target,query).success(function(e){
                    if (e.status==1){
                        content = '<a href="http://'+e.data.pinyin+'.{:C('DOMAIN')}/"><b>'+e.data.name+'</b></a>';
                    }else{
                        content = '定位失败，请手动选择城市';
                    }
                    gps_city.html(content);
                });
            }
        });
    </script>
<include file="Public/footer"/>