    <img src="__IMG__/close.png" style="z-index: 25000; height: 20px; width: 20px; position: absolute; top: 15px; right: 10px; display: none;" onclick="closeSortSelect()" id="close_cross">
    <footer>
        <section>
            <div class="plain_bar" style="padding:5px 0px 5px 0px;">
                <span>全国统一客服热线：</span>
                <a style="display:inline-block;" href="tel:0316-5327722"><span class="blue_12_label">0316-5327722</span></a>
                    <span>
                        <br>© 2017 源腾物流版权所有<br>
                    </span>
            </div>
        </section>
    </footer>
    <script>
        var mySwiper = new Swiper('.swiper-container',{
            pagination: '.pagination',
            loop:true,
            grabCursor: true,
            paginationClickable: true,
            autoplay : 2000,
            speed: 800,
        })
    </script>
</body>
</html>