<include file="Public/head"/>
<body>
    <header>
        <!-- 头部广告  -->
        <notempty name="banner">
            <section id="slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <foreach name="banner" item="val">
                            <div class="swiper-slide">
                                <a href="{$val.ad_url}" title="{$val.ad_title}">
                                    <img src="{$val.ad_img}" alt="{$val.ad_title}" style="width:100%;height: 60px;">
                                </a>
                            </div>
                        </foreach>
                    </div>
                    <div class="pagination"></div>
                </div>
            </section>
        </notempty>
        <!-- 头部切换的布局  -->
        <section id="top_bar" style="height:47px;padding:5px 0px 0px 10px;">
            <ul>
                <li onclick='doHREF("{:logistics_url(2,'city')}");'>
                    <span style="" class="white_16_label" id="city_name">{$CITY.name}</span>
                    <br><span class="white_12_label">[选择地区]</span>
                </li>
                <li style="float:right;position:relative;top:5px;right:15px;">
                    <img src="__IMG__/account.jpg" class="header_button" onclick="doDropBox('account_box');">
                    <span style="position:relative;top:20px;left:5px;" class="white_12_label" onclick="doDropBox('account_box');">账户</span>
                </li>
                <li style="float:right;position:relative;top:5px;right:20px;">
                    <img src="__IMG__/search.jpg" class="header_button" onclick="submitSearch(this)">
                    <span style="position:relative;top:20px;left:5px;" class="white_12_label" onclick="submitSearch(this)">搜索</span>
                </li>
                <li style="float:right;position:relative;top:5px;right:20px;">
                    <form id="search_form" action="{:logistics_url(2,'search-'.$category['id'])}" method="get">
                        <input id="search" type="text" class="input_field" style="height: 30px;border: 1px #969090 solid;" name="keywords" value="" placeholder="专线搜索">
                    </form>
                </li>
            </ul>
        </section>

        <script type="text/javascript">
            function submitSearch( e ){
                var kw = $("#search").val();
                kw = $.trim( kw );
                if( !kw ){
                    return false;
                }else{
                    $("#search_form").submit();
                }
            }
        </script>
        <!-- 账户操作  -->
        <section id="account_box" style="padding:10px 0px 5px 0px;text-align:center;background-color:#fe9417;font-size:14px;border-top:1px #ffca8b dashed;display:none;">
            <ul style="list-style:none;padding:0px;margin:0px;">
                <if condition="$user">
                    <div style="display:block;padding:0px 30px 10px 30px;text-align:left;color:#ffffff;font-size:12px;"><span>欢迎您回来！{$user.username}</span></div>
                    <li style="width:45%;display:inline-block;">
                        <img onclick='doHREF("{:logistics_url(2,'logout')}");' style="width:48px;height:48px;" src="__IMG__/logoff.jpg">
                    </li>
                    <li style="width:45%;display:inline-block;">
                        <img onclick='doHREF("{:logistics_url(2,'user')}");' style="width:48px;height:48px;" src="__IMG__/dimanagement.jpg">
                    </li>
                <else/>

                    <!-- 登录 -->
                    <li style="width:45%;display:inline-block;">
                        <img onclick='doHREF("{:logistics_url(2,'login')}");' style="width:48px;height:48px;" src="__IMG__/logon.jpg">
                    </li>
                    <!-- 注册 -->
                    <li style="width:45%;display:inline-block;">
                        <img onclick='doHREF("{:logistics_url(2,'register')}");' style="width:48px;height:48px;" src="__IMG__/register.jpg">
                    </li>
                </if>
            </ul>
        </section>
    </header>
    <!-- 头部结束  -->