<!DOCTYPE html>
<html lang="en">
<head>
    <title>{:C('WEB_SITE_TITLE')}信息平台</title>
    <meta name="keywords" content="查物流,物流查询,货运公司,专线托运部,信息部大全,查快递,上海物流">
    <meta name="description" content="{:C('WEB_SITE_TITLE')}信息平台-让物流更简单！">
    <link href="__PUBLIC__/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="apple-touch-icon" href="__IMG__/wuliuicon.png"/>
    <link charset="utf-8" type="text/css" rel="stylesheet" href="__CSS__/style.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/idangerous.swiper.css" media="all">
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="__STATIC__/idangerous.swiper.min.js"></script>
    <script type="text/javascript"  src="__JS__/function.js" ></script>
    <script type="text/javascript" src="__JS__/navselect.js"></script>
    <script type="text/javascript" src="__JS__/jquery.lazyload.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);
        /*
         * 注意：
         * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
         * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
         * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
         *
         * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
         * 邮箱地址：weixin-open@qq.com
         * 邮件主题：【微信JS-SDK反馈】具体问题
         * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。

         wx.config({
         debug: false,
         appId: 'wxbbfe68842d68246f',
         timestamp: 1493778034,
         nonceStr: '8ZPn2EsUlRCroQPd',
         signature: 'a521d781c1787a02d68a09b73872a1bb4f446bd3',
         jsApiList: [
         // 所有要调用的 API 都要加到这个列表中
         "onMenuShareTimeline","onMenuShareAppMessage","onMenuShareQQ","onMenuShareWeibo"
         ]
         });
         //微信分享
         var shareTitle="【查物流】上海物流网,上海物流,上海物流公司,上海物流专线！";
         var descContent="查物流-让天下货主与物流实现更高效的链接！";
         var imgUrl = "";
         var lineLink = "";*/
        $(function() {
            $("img").lazyload({effect: "fadeIn"});
        });
    </script>
</head>
