<include file="Public/head"/>
    <script src="http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=414938"></script>
    <link rel="stylesheet" href="http://bdimg.share.baidu.com/static/api/css/share_style1_16.css">
<body>
    <header>
        <section id="top_bar" style="text-align:center;height:52px;line-height:52px;padding:0px 0px 0px 10px;">
            <ul>
                <li style="padding-top:10px;width:20%;text-align:left;vertical-align:middle;">
                    <img onclick="window.history.back(-1);" style="width:30px;height:30px;margin-left: 15px" src="__IMG__/back_new.jpg" data-bd-imgshare-binded="1"></li>
                <li style="width:56%;"><span class="header_title_text">我的电子名片</span>({$info.view}次查看)</li>
                <li style="width:20%;"></li>
            </ul>
        </section>
    </header>
    <content>
        <section id="goods_detail" style="margin-top:10px;">
            <ul style="box-shadow:0px 1px 2px 1px #ededed; border-radius:5px;border:1px #ededed solid;">
                <li style="border-bottom:1px #ededed solid;padding:10px 0px 10px 0px;padding:10px;display:block;font-weight:bold;font-size:20px;" id="remainTime" class="dark_grey_14_label">{$info.title}</li>
                <li style="display:block; padding:5px 0 5px 10px; ">
                    <eq name="category.id" value="7">
                        <eq name="user.vip" value="1">
                            <neq name="contact_res.contact_ids" value="no_limit">
                                <in name="info.id" value="$contact_res['contact_ids']">
                                    <a style="display:block;position:relative;" href="tel:{$info.contact}">
                                        <img src="__IMG__/phone.png" style="position:relative;top:2px;" data-bd-imgshare-binded="1">
                                        <span style="color:#ed6d00;font-size:16px;font-weight:bold;margin-left:5px;">
                                            {$info.contact}
                                        </span>
                                    </a>
                                <else/>
                                    <eq name="contact_res.contact_limit" value="1">
                                        <a data-id="{$info['id']}" class="show_contact" style="display:block;margin-top:0;">
                                            <img src="__IMG__/phone.png" style="position:relative;top:2px;" data-bd-imgshare-binded="1">
                                            <span style="color:#ed6d00;font-size:14px;font-weight:bold;margin-left:5px;">点击查看联系方式</span>
                                        </a>
                                    <else/>
                                        <a style="display:block;position:relative;" href="tel:{$info.contact}">
                                            <img src="__IMG__/phone.png" style="position:relative;top:2px;" data-bd-imgshare-binded="1">
                                            <span style="color:#ed6d00;font-size:16px;font-weight:bold;margin-left:5px;">
                                                {$info.contact}
                                            </span>
                                        </a>
                                    </eq>
                                </in>
                            <else/>
                                <a style="display:block;position:relative;" href="tel:{$info.contact}">
                                    <img src="__IMG__/phone.png" style="position:relative;top:2px;" data-bd-imgshare-binded="1">
                                    <span style="color:#ed6d00;font-size:16px;font-weight:bold;margin-left:5px;">
                                        {$info.contact}
                                    </span>
                                </a>
                            </neq>
                        </eq>
                        <eq name="contact_res.contact_show" value="1">
                            <a style="display:block;position:relative;" href="tel:{$info.contact}">
                                <img src="__IMG__/phone.png" style="position:relative;top:2px;" data-bd-imgshare-binded="1">
                                <span style="color:#ed6d00;font-size:16px;font-weight:bold;margin-left:5px;">
                                    {$info.contact}
                                </span>
                            </a>
                        </eq>
                        <eq name="contact_res.contact_show" value="0">
                            <a data-id="{$info['id']}" class="show_contact" style="display:block;margin-top:0;color: #FF8500">
                                <img src="__IMG__/phone.png" style="position:relative;top:2px;" data-bd-imgshare-binded="1">
                                <span style="color:#ed6d00;font-size:14px;font-weight:bold;margin-left:5px;">点击查看联系方式</span>
                            </a>
                        </eq>
                    <else/>
                        <a style="display:block;position:relative;" href="tel:{$info.contact}">
                            <img src="__IMG__/phone.png" style="position:relative;top:2px;" data-bd-imgshare-binded="1">
                            <span style="color:#ed6d00;font-size:16px;font-weight:bold;margin-left:5px;">
                                {$info.contact}
                            </span>
                        </a>
                    </eq>
                </li>
                <li style="display:block; padding:0 0 5px 10px; ">
                    <a style="display:block;margin-top:0px;" href="javascript:;">
                        <img src="__IMG__/address.png" style="position:relative;top:2px;" data-bd-imgshare-binded="1">
                        <span style="color:#666;font-size:14px;margin-left:5px;">{$info.address}</span>
                    </a>
                </li>
                <li style="padding:5px 10px 10px 10px; display:block;position:relative;">
                    <img style="width:100%;max-width:440px;" onerror="__STATIC__/images/default.jpg" src="{$info.cover_id|get_cover='path'}" data-bd-imgshare-binded="1">
                    <eq name="info.vip" value="3"><img src="__IMG__/vip.png" style="position:absolute;left:8px;top:2px;" data-bd-imgshare-binded="1"></eq>
                    <eq name="info.vip" value="2"><img src="__IMG__/tuijian.png" style="position:absolute;left:8px;top:2px;" data-bd-imgshare-binded="1"></eq>
                </li>

                <li style="border-top:1px #ededed solid;padding:10px 0 ;display:block; ">

                    <div class="clickButton" style="margin-left:24%;width:25%;max-width:85px;" onclick="if(document.getElementById('bdsharebuttonbox').style.display == 'block'){ document.getElementById('bdsharebuttonbox').style.display = 'none'; }else{ document.getElementById('bdsharebuttonbox').style.display ='block'; }">分享名片&nbsp;◎</div>
                    <div class="clickButton" style="width:25%;max-width:85px;" onclick="goToAddress('{$info.address}','{$info.title}')">一键导航&nbsp;◎</div>

                    <script>
                        window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"{$info.title}","bdMini":"1","bdMiniList":["mshare","weixin","kaixin001","tqf","tieba","douban","tsohu","taobao","baidu","mail"],"bdPic":"{:logistics_url(1,'/')}{$info.cover_id|get_cover='path'}","bdStyle":"1","bdSize":"16"},"share":{"bdSize":16},"image":{"viewList":["qzone","tsina","sqq","tqq"],"viewText":"分享：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","sqq","tqq"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
                    </script>
                </li>
                <li style="width:100%;">
                    <div class="bdsharebuttonbox bdshare-button-style1-16" id="bdsharebuttonbox" style="padding:5px 0px 0px 10px; margin-top:10px; border-top:1px solid #ededed; display:none;" data-bd-bind="1493782251338">
                        <a href="#" class="bds_more" data-cmd="more" style="margin:6px 0px 6px 0;">分享：</a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间" style="color:#333">空间</a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博" style="color:#333">微博</a>
                        <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友" style="color:#333">QQ好友</a>
                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博" style="color:#333">腾讯微博</a>
                    </div></li>
            </ul>
        </section>
        <section style="margin:10px 10px 10px 10px;background:#fff;box-shadow:0px 1px 2px 1px #ededed; border-radius:5px;border:1px #ededed solid;">
            <div id="tips_collapse" class="collapse_bar" onclick="doCollapse('tips_collapse');">
                <span>名片详情</span>
                <span style="font-size:12px;float:right;">&nbsp;▲</span>
            </div>
            <div id="tips_collapse_content" class="collapse_content" style="display:block;padding:10px 10px 10px 10px;list-style:square;color:#1d1d1d;font-size:12px;">
                <div class="content_item" style="font-size:16px;font-family:&quot;microsoft yahei&quot;,sans serif;">
                    {$info.content|htmlspecialchars_decode}
                    <p style="color:#FF8500;">
                        <eq name="info.vip_zh" value="游客">
                            联系我时，请说是{:C('WEB_SITE_TITLE')}看到的，谢谢！
                            <else />
                            本会员已升级为{$info.vip_zh}，联系我时，请说是在{:C('WEB_SITE_TITLE')}看到的，谢谢！
                        </eq>
                    </p>
                </div>
            </div>
        </section>
    </content>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=dNcVKmvUBgsfAh2IKy72RTWYVtlrEpvf" type="text/javascript"></script>
    <script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
    <script>
        function goToAddress(address,title){
            var myGeo = new BMap.Geocoder();
            // 将地址解析结果显示在地图上,并调整地图视野
            myGeo.getPoint(address, function(point){
                if (point) {
                    var lng=point.lng;
                    var lat=point.lat;
                    var url="http://api.map.baidu.com/marker?location="+lat+","+lng+"&title="+title+"&content="+address+"&output=html&appName=shexie_map";
                }else{
                    var url="http://api.map.baidu.com/geocoder?address="+address+"&output=html";
                }
                window.location.href=url;
            }, "");
        }
        $(function(){
            var goto_login = "{$contact_res['goto_login']?1:0}";
            var goto_vip = "{$contact_res['goto_vip']?1:0}";
            var contact_limit = "{$contact_res['contact_limit']?1:0}";
            $('.show_contact').click(function(){
                if(goto_login == 1){
                    layer.msg('请您先登录!');
                    return false;
                }
                if(goto_vip == 1){
                    if(contact_limit == 1){
                        layer.msg('您已经查看了20次，提升会员等级，可以查看更多');
                    }else{
                        layer.msg('您是游客，提升会员等级，才可以查看');
                    }
                    return false;
                }
            });
        })
    </script>
<include file="Public/footer"/>