<include file="Public/head"/>
    <script src="http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=414938"></script>
    <link rel="stylesheet" href="http://bdimg.share.baidu.com/static/api/css/share_style1_16.css">
<body>
    <header>
        <section id="top_bar" style="text-align:center;height:52px;line-height:52px;padding:0px 0px 0px 10px;">
            <ul>
                <li style="padding-top:10px;width:20%;text-align:left;vertical-align:middle;">
                    <img onclick="doHREF('http://m.chawuliu.com/');" style="width:30px;height:30px;margin-left: 15px" src="__IMG__/back_new.jpg" data-bd-imgshare-binded="1"></li>
                <li style="width:56%;"><span class="header_title_text">我的电子名片</span></li>
                <li style="width:20%;"></li>
            </ul>
        </section>
    </header>
    <content>
        <section id="goods_detail" style="margin-top:10px;">
            <ul style="box-shadow:0px 1px 2px 1px #ededed; border-radius:5px;border:1px #ededed solid;">
                <li style="border-bottom:1px #ededed solid;padding:10px 0px 10px 0px;padding:10px;display:block;font-weight:bold;font-size:20px;" id="remainTime" class="dark_grey_14_label">【双圆物流】上海至淮安、宿迁、徐州、盐城、连云港专线(苏北三线中转周边地区)</li>
                <li class="orange_16_b_label" style="display:block; padding:5px 0 5px 10px; ">
                    <a style="display:block;position:relative;" href="tel:021-51691330">
                        <img src="__IMG__/phone.png" style="position:relative;top:2px;" data-bd-imgshare-binded="1"><span style="color:#ed6d00;font-size:16px;font-weight:bold;margin-left:5px;">021-51691330</span>
                    </a>
                </li>
                <li style="display:block; padding:0 0 5px 10px; ">
                    <a style="display:block;margin-top:0px;" href="javascript:;">
                        <img src="__IMG__/address.png" style="position:relative;top:2px;" data-bd-imgshare-binded="1"><span style="color:#666;font-size:14px;margin-left:5px;">上海市宝山区业绩路21号A区甲棚</span>
                    </a>
                </li>
                <li style="display:block;padding:0 0 5px 12px;">
                    <strong style="color:#ed6d00; font-size:15px;" class="hotCount">90</strong> 推荐&nbsp;&nbsp;<strong style="color:#ed6d00; font-size:15px;">3036</strong> 浏览
                </li>
                <li style="padding:5px 10px 10px 10px; display:block;position:relative;">
                    <img style="width:100%;max-width:440px;" onerror="__STATIC__/images/default.jpg" src="http://www.chawuliu.com/uploads/page/2015/0404/15/551f96e8f40cd9d665cfbf7bbd3834f7accbeaeea423b.jpg" data-bd-imgshare-binded="1">
                    <img src="__IMG__/vip.png" style="position:absolute;left:8px;top:2px;" data-bd-imgshare-binded="1">
                </li>

                <li style="border-top:1px #ededed solid;padding:10px 0 ;display:block; ">

                    <div class="clickButton" style="margin-left:24%;width:25%;max-width:85px;" onclick="if(document.getElementById('bdsharebuttonbox').style.display == 'block'){ document.getElementById('bdsharebuttonbox').style.display = 'none'; }else{ document.getElementById('bdsharebuttonbox').style.display ='block'; }">分享名片&nbsp;◎</div>
                    <div class="clickButton" style="width:25%;max-width:85px;" onclick="goToAddress('河北省秦皇岛市河北大街西段512号欧美学院','欧美学院')">一键导航&nbsp;◎</div>

                    <script>
                        window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"【双圆物流】上海至淮安、宿迁、徐州、盐城、连云港专线(苏北三线中转周边地区)-查物流上海站","bdMini":"1","bdMiniList":["mshare","weixin","kaixin001","tqf","tieba","douban","tsohu","taobao","baidu","mail"],"bdPic":"http://www.chawuliu.com/uploads/page/2015/0404/15/551f96e8f40cd9d665cfbf7bbd3834f7accbeaeea423b.jpg","bdStyle":"1","bdSize":"16"},"share":{"bdSize":16},"image":{"viewList":["qzone","tsina","sqq","tqq"],"viewText":"分享：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","sqq","tqq"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
                    </script>
                </li>
                <li style="width:100%;">
                    <div class="bdsharebuttonbox bdshare-button-style1-16" id="bdsharebuttonbox" style="padding:5px 0px 0px 10px; margin-top:10px; border-top:1px solid #ededed; display:none;" data-bd-bind="1493782251338">
                        <a href="#" class="bds_more" data-cmd="more" style="margin:6px 0px 6px 0;">分享：</a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间" style="color:#333">空间</a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博" style="color:#333">微博</a>
                        <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友" style="color:#333">QQ好友</a>
                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博" style="color:#333">腾讯微博</a>
                    </div></li>
            </ul>
        </section>
        <section style="margin:10px 10px 10px 10px;background:#fff;box-shadow:0px 1px 2px 1px #ededed; border-radius:5px;border:1px #ededed solid;">
            <div id="tips_collapse" class="collapse_bar" onclick="doCollapse('tips_collapse');">
                <span>名片详情</span>
                <span style="font-size:12px;float:right;">&nbsp;▲</span>
            </div>
            <div id="tips_collapse_content" class="collapse_content" style="display:block;padding:10px 10px 10px 10px;list-style:square;color:#1d1d1d;font-size:12px;">
                <div class="content_item" style="font-size:16px;font-family:&quot;microsoft yahei&quot;,sans serif;">
                    <p>
                        <strong>上海双圆物流有限公司</strong>
                    </p>
                    <p>
                        <span style="color:#e53333;">上海至淮安、宿迁、徐州、盐城、连云港专线（苏北三线中转周边地区）</span>
                    </p>
                    <p>
                        <strong>联系人：房经理</strong>
                    </p>
                    <p>
                        手机：<a href="tel:13611783986" style="color:#1d1d1d;">13611783986</a>
                    </p>
                    <p>
                        <strong>上海收货地址：</strong>
                    </p>
                    <p>
                        上海市宝山区业绩路21号A区甲棚
                    </p>
                    <p>
                        电话：<a href="tel:021-51691330" style="color:#1d1d1d;">021-51691330</a>
                    </p>
                    <p>
                        手机：<a href="tel:13611956409" style="color:#1d1d1d;">13611956409</a>
                    </p>
                    <p>
                        联系人：陈小姐
                    </p>
                    <p>
                        <strong>嘉定收货地址：</strong>
                    </p>
                    <p>
                        上海市宝安公路2633号祈敏停车场进门第一排13档
                    </p>
                    <p>
                        电话：<a href="tel:021-31262856" style="color:#1d1d1d;">021-31262856</a>
                    </p>
                    <p>
                        手机：<a href="tel:13917144475" style="color:#1d1d1d;">13917144475</a>
                    </p>
                    <p>
                        联系人：房经理
                    </p>
                    <p>
                        <strong>淮安卸货地址：</strong>
                    </p>
                    <p>
                        淮安市国际农贸城南大门西区A8幢113-115号
                    </p>
                    <p>
                        电话：<a href="tel:0517-84991018" style="color:#1d1d1d;">0517-84991018</a>
                    </p>
                    <p>
                        手机：15358691018
                    </p>
                    <p>
                        联系人：房经理
                    </p>
                    <p>
                        <strong>宿迁卸货地址：</strong>
                    </p>
                    <p>
                        宿迁市平安大道748号卡行天下
                    </p>
                    <p>
                        电话：<a href="tel:0527-88850210" style="color:#1d1d1d;">0527-88850210</a>
                    </p>
                    <p>
                        手机：13815785901
                    </p>
                    <p>
                        联系人：苏经理
                    </p>
                    <p>
                        <strong>徐州卸货地址：</strong>
                    </p>
                    <p>
                        徐州市铜山区长安路大成物流园内D12区-12号
                    </p>
                    <p>
                        手机：<a href="tel:13013987617" style="color:#1d1d1d;">13013987617</a>
                    </p>
                    <p>
                        手机：<a href="tel:13775848989" style="color:#1d1d1d;">13775848989</a>
                    </p>
                    <p>
                        联系人：张经理
                    </p>
                    <p>
                        <strong>连云港卸货地址：</strong>
                    </p>
                    <p>
                        连云港丁字路福客尔物流园A12卡行天下
                    </p>
                    <p>
                        电话：0518-85153837
                    </p>
                    <p>
                        手机：<a href="tel:13912165825" style="color:#1d1d1d;">13912165825</a>
                    </p>
                    <p>
                        联系人：王经理
                    </p>
                    <p>
                        <strong>盐城卸货地址：</strong>
                    </p>
                    <p>
                        盐城开放大道361号白马物流园D区7号
                    </p>
                    <p>
                        电话：0515-88892558
                    </p>
                    <p>
                        手机：<a href="tel:13651962558" style="color:#1d1d1d;">13651962558</a>
                    </p>
                    <p>
                        联系人：杨经理
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170314/20170314101219_76724.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170314/20170314101252_32123.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20150404/20150404074430_16017.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170314/20170314101336_45877.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170314/20170314101356_37608.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20150404/20150404074450_97022.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170321/20170321094526_84449.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <p>
                        <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170321/20170321085545_47700.jpg_water.jpg" data-bd-imgshare-binded="1">
                    </p>
                    <p>
                        <br>
                        <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170321/20170321085606_15922.jpg_water.jpg" data-bd-imgshare-binded="1">
                    </p>
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170321/20170321085616_48042.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170321/20170321085626_54857.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <p>
                        <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170321/20170321085533_57643.jpg_water.jpg" data-bd-imgshare-binded="1">
                    </p>
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170314/20170314101431_68949.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170314/20170314101531_77009.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170314/20170314101440_55966.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170314/20170314101451_14682.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170314/20170314103614_67492.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170314/20170314101459_68107.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170314/20170314101506_12933.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170314/20170314103509_58024.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170314/20170314101517_22735.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20150404/20150404074508_66947.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <p>
                        <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20150404/20150404074537_75492.jpg_water.jpg" data-bd-imgshare-binded="1">
                    </p>
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170314/20170314101608_42395.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                        <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20150404/20150404074605_21151.jpg_water.jpg" data-bd-imgshare-binded="1">
                    </p>
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20150404/20150404074624_51226.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <p>
                        <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20150404/20150404074645_25367.jpg_water.jpg" data-bd-imgshare-binded="1">
                    </p>
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170321/20170321085652_83246.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170321/20170321085659_26254.jpg_water.jpg" data-bd-imgshare-binded="1">
                    <p>
                        <br>
                    </p>
                    <img alt="" src="http://www.chawuliu.com//resource/kindeditor-4.1.10/attached/image/20170321/20170321085709_81316.jpg_water.jpg" data-bd-imgshare-binded="1"><p style="color:#FF8500;">本会员已升级为查物流平台VIP推荐会员，联系我时，请说是查物流上看到的，谢谢！</p>			</div>

            </div>
        </section>
        <!--
        <section class="my_pos">
            <ul>
                <li style="padding-left:10px;" onclick="doHREF('http://m.chawuliu.com/');">上海物流大全</li>
                <!--<li style="width:10px;">&gt;</li>
                <li style="width:60px;" onclick="doHREF('http://m.chawuliu.com/detail/15572');">名片详情</li>
                -->
        <!--  <li style="width:80px;float:right;margin-right:10px;" onclick="hideURLbar();">回顶部&nbsp;▲&nbsp;</li>
      </ul>
    </section>-->
    </content>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=dNcVKmvUBgsfAh2IKy72RTWYVtlrEpvf" type="text/javascript"></script>
    <script>
        function goToAddress(address,title){
            var myGeo = new BMap.Geocoder();
            // 将地址解析结果显示在地图上,并调整地图视野
            myGeo.getPoint(address, function(point){
                if (point) {
                    var lng=point.lng;
                    var lat=point.lat;
                    var url="http://api.map.baidu.com/marker?location="+lat+","+lng+"&title="+title+"&content="+address+"&output=html&appName=shexie_map";
                }else{
                    var url="http://api.map.baidu.com/geocoder?address="+address+"&output=html";
                }
                window.location.href=url;
            }, "");
        }
    </script>
<include file="Public/footer"/>