<include file="Public/header"/>
    <!-- 二级菜单选则  -->
    <section id="popup_list" style="width: 100%; position: absolute; top: 112px; z-index: 30000; display: none;">
        <!-- 排序的输出 -->
        <div id="popup_list_left" class="order_nav nav_list" style="width: 100%; display: none;">
            <ul style="border-top:1px #cccccc solid;">
                <li onclick='doHREF("{:logistics_url(2,$CITY['pinyin'].'/'.$order_uri.'1')}");' style="<eq name='order_type' value="1">color:#1d1d1d;background-color:#ededed;border-left:3px #ed6d00 solid;</eq>">
                <div class="tag">默认排序</div>
                <div class="quantity"></div>
                </li>
                <li onclick='doHREF("{:logistics_url(2,$CITY['pinyin'].'/'.$order_uri.'2')}");' style="<eq name='order_type' value="2">color:#1d1d1d;background-color:#ededed;border-left:3px #ed6d00 solid;</eq>">
                <div class="tag">人气排序</div>
                <div class="quantity"></div>
                </li>
                <li onclick='doHREF("{:logistics_url(2,$CITY['pinyin'].'/'.$order_uri.'3')}");' style="<eq name='order_type' value="3">color:#1d1d1d;background-color:#ededed;border-left:3px #ed6d00 solid;</eq>">
                <div class="tag">更新排序</div>
                <div class="quantity"></div>
                </li>
            </ul>
        </div>
    </section>
    <!-- 导航栏  -->
    <section id="navi_top">
        <!-- 大类输出  -->
        <ul class="big-nav">
            <li style="width:19%" onclick='doHREF("{:logistics_url(2,$CITY['pinyin'].'/list-'.$category['id'])}");'>
                <div class="wrapper <eq name="category.id" value="$category['id']">wrappered</eq>">{$category.title}</div>
            </li>
            <li style="width:19%" onclick='doHREF("{:logistics_url(2,'publish')}");'>
            <div class="wrapper">发布货源</div>
            </li>
        </ul>
        <!-- 选中 -->
        <ul style="border-bottom:1px #cccccc solid;">
            <li style="width:32%">
                <div class="wrapper two_wrapper">
                    <div class="tag" style="width: 90%">
                        <select name="location_p" id="location_p" class="pca-select" style="width: 100%;height: 25px;" onchange="pac_select('location',1)">
                            <option value="000000">始发省份</option>
                            <foreach name="province" item="val">
                                <option value="{$val.id}" <eq name="location_p" value="$val.id">selected</eq>>{$val.name}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
            </li>
            <li style="width:32%">
                <div class="wrapper two_wrapper">
                    <div class="tag" style="width: 90%">
                        <select name="location_c" id="location_c" class="pca-select" style="width: 100%;height: 25px;" onchange="pac_select('location',2)">
                            <option value="000000">始发城市</option>
                            <foreach name="location_city" item="val">
                                <option value="{$val.id}" <eq name="location_c" value="$val.id">selected</eq>>{$val.name}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
            </li>
            <li style="width:32%">
                <div class="wrapper two_wrapper">
                    <div class="tag" style="width: 90%">
                        <select name="location_a" id="location_a" class="pca-select" style="width: 100%;height: 25px;">
                            <option value="000000">始发县区</option>
                            <foreach name="location_area" item="val">
                                <option value="{$val.id}" <eq name="location_a" value="$val.id">selected</eq>>{$val.name}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
            </li>
        </ul>
        <ul style="border-bottom:1px #cccccc solid;">
            <li style="width:32%">
                <div class="wrapper two_wrapper">
                    <div class="tag" style="width: 90%">
                        <select name="destination_p" id="destination_p" class="pca-select" style="width: 100%;height: 25px;" onchange="pac_select('destination',1)">
                            <option value="000000">目的省份</option>
                            <foreach name="province" item="val">
                                <option value="{$val.id}" <eq name="destination_p" value="$val.id">selected</eq>>{$val.name}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
            </li>
            <li style="width:32%">
                <div class="wrapper two_wrapper">
                    <div class="tag" style="width: 90%">
                        <select name="destination_c" id="destination_c" class="pca-select" style="width: 100%;height: 25px;" onchange="pac_select('destination',2)">
                            <option value="000000">目的城市</option>
                            <foreach name="destination_city" item="val">
                                <option value="{$val.id}" <eq name="destination_c" value="$val.id">selected</eq>>{$val.name}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
            </li>
            <li style="width:32%">
                <div class="wrapper two_wrapper">
                    <div class="tag" style="width: 90%">
                        <select name="destination_a" id="destination_a" class="pca-select" style="width: 100%;height: 25px;">
                            <option value="000000">目的县区</option>
                            <foreach name="destination_area" item="val">
                                <option value="{$val.id}" <eq name="destination_a" value="$val.id">selected</eq>>{$val.name}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
            </li>
        </ul>
        <ul style="border-bottom:1px #cccccc solid;">
            <li style="width:32%" onclick="setSortClick('order')">
                <div class="wrapper two_wrapper"><div class="tag">{$order_name}</div><div class="triangle_mark_down order_mark" style="border-color: rgb(135, 135, 135) transparent transparent;"></div></div>
            </li>
            <li style="width:32%">
                <div class="wrapper two_wrapper">
                    <div class="tag" style="width: 60%">
                        <div class="plain_button_orange" style="padding: 0;height: 20px;line-height: 20px"><a style="font-size: 13px" id="pca_search">查询</a></div>
                    </div>
                </div>
            </li>
            <li style="width:32%">
                <div class="wrapper two_wrapper">
                    <div class="tag" style="width: 90%">

                    </div>
                </div>
            </li>
        </ul>
    </section>
    <empty name="list">
        <section style="background:#fff;height:200px;">
            <div style="padding:20px;">抱歉！还没有名片,请浏览其它的分类</div>
        </section>
    <else/>
        <foreach name="list" item="val">
            <section style="text-align:center;" class="goods_list_item">
                <ul>
                    <li style="width:auto;vertical-align:top;position:relative;" onclick='doHREF("{:logistics_url(2,$CITY['pinyin'].'/'.$val['id'])}");'>
                        <img class="goods_list_image" data-original="{$val.cover_id|get_cover='path'}" onerror="javascript:this.src='__STATIC__/images/default.jpg';">
                        <eq name="val.vip" value="2"><img data-original="__IMG__/tuijian.png" style="position:absolute;left:-3px;top:-3px;"></eq>
                        <eq name="val.vip" value="3"><img data-original="__IMG__/vip.png" style="position:absolute;left:-3px;top:-3px;"></eq>
                    </li>
                    <li style="text-align:left;width:62%;">
                        <ul>
                            <li style="height:32px;overflow:hidden;line-height:16px;" onclick='doHREF("{:logistics_url(2,$CITY['pinyin'].'/'.$val['id'])}");'>
                                <span class="black_14_b_label">{$val.title}</span>
                            </li>
                            <li style="display:block;position:relative;">
                                <span style="position: absolute;top:0;right:0px;"><em style="color:#ed6d00;font-weight:bold;font-style: normal;">{$val.view}</em>人浏览</span>
                                    <eq name="user.vip" value="1">
                                        <neq name="contact_res.contact_ids" value="no_limit">
                                            <in name="val.id" value="$contact_res['contact_ids']">
                                                <a style="display:block; height:18px;overflow:hidden;" href="tel:{$val.contact}">
                                                    <span style="color:#ed6d00;font-size:16px;font-weight:bold;">
                                                        {$val.contact}
                                                    </span>
                                                </a>
                                            <else/>
                                                <eq name="contact_res.contact_limit" value="1">
                                                    <a data-id="{$val['id']}" class="show_contact" style="color: #FF8500">点击查看联系方式</a>
                                                <else/>
                                                    <a href="{:logistics_url(2,$CITY['pinyin'].'/'.$val['id'])}" style="color: #FF8500">点击查看联系方式</a>
                                                </eq>
                                            </in>
                                        <else/>
                                            <a href="{:logistics_url(2,$CITY['pinyin'].'/'.$val['id'])}" style="color: #FF8500">点击查看联系方式</a>
                                        </neq>
                                    </eq>
                                    <eq name="contact_res.contact_show" value="1">
                                        <a style="display:block; height:18px;overflow:hidden;" href="tel:{$val.contact}">
                                            <span style="color:#ed6d00;font-size:16px;font-weight:bold;">
                                                {$val.contact}
                                            </span>
                                        </a>
                                    </eq>
                                    <eq name="contact_res.contact_show" value="0"><a data-id="{$val['id']}" class="show_contact" style="color: #FF8500">点击查看联系方式</a></eq>
                                <a style="display:block; height:16px;overflow:hidden;margin-top:6px;" href="javascript:;"><span style="color:#666;font-size:14px;">{$val.address}</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </foreach>
        <section id="navi_bottom" style="text-align:center;">
            {$page}
        </section>
    </empty>
    <script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
    <script>
        function pac_select(prefix,level){
            var obj = $('#'+prefix+'_p');
            var next_obj = $('#'+prefix+'_c');
            var third_obj = $('#'+prefix+'_a');
            var id,project,action;
            if(level == 1){
                id = obj.val();
                project = next_obj;
            }else{
                id = next_obj.val();
                project = third_obj;
            }
            if(prefix == 'location'){
                action = '始发';
            }else{
                action = '目的';
            }
            if(id > 0){
                $.post("{:logistics_url(2,'getNextArea')}", {id : id, type : level}, function(e){
                    if(e.status == 0){
                        $.each(e.data, function(n, item){
                            project.append('<option value="'+item.id+'">'+item.name+'</option>')
                        });
                    }else{
                        if(level == 1){
                            next_obj.html('<option value="000000">'+action+'城市</option>');
                            third_obj.html('<option value="000000">'+action+'县区</option>')
                        }else{
                            third_obj.html('<option value="000000">'+action+'县区</option>')
                        }
                    }
                });
            }else{
                if(level == 1){
                    next_obj.html('<option value="000000">'+action+'城市</option>');
                    third_obj.html('<option value="000000">'+action+'县区</option>')
                }else{
                    third_obj.html('<option value="000000">'+action+'县区</option>')
                }
            }
        }

        $(function(){
            $('#pca_search').click(function(){
                var uri = 'list-7';
                var location_p = $('#location_p').val();
                var location_c = $('#location_c').val();
                var location_a = $('#location_a').val();
                var destination_p = $('#destination_p').val();
                var destination_c = $('#destination_c').val();
                var destination_a = $('#destination_a').val();
                uri += '-'+location_p+'-'+location_c+'-'+location_a+'-'+destination_p+'-'+destination_c+'-'+destination_a;
                window.location.href = "{:logistics_url(2,'/')}/{$CITY['pinyin']}/"+uri+'.html';
            });
            var goto_login = "{$contact_res['goto_login']?1:0}";
            var goto_vip = "{$contact_res['goto_vip']?1:0}";
            var contact_limit = "{$contact_res['contact_limit']?1:0}";
            $('.show_contact').click(function(){
                if(goto_login == 1){
                    layer.msg('请您先登录!');
                    return false;
                }
                if(goto_vip == 1){
                    if(contact_limit == 1){
                        layer.msg('您已经查看了20次，提升会员等级，可以查看更多');
                    }else{
                        layer.msg('您是游客，提升会员等级，才可以查看');
                    }
                    return false;
                }
            });
        });

    </script>
<include file="Public/footer"/>