<include file="Public/header"/>
    <!-- 背景 -->
    <section id="screen_mask" style="position: absolute; top: 112px; width: 100%; height: 0px; background-color: black; opacity: 0.5; z-index: 20000; display: none;"></section>
    <section id="top_bar_mask" style="position: absolute; top: 0px; width: 100%; height: 52px; background-color: black; opacity: 0.5; z-index: 20000; display: none;"></section>
    <!-- 二级菜单选则  -->
    <section id="popup_list" style="width: 100%; position: absolute; top: 112px; z-index: 30000; display: none;">
        <!-- 细类的输出 -->
        <div id="popup_list_left" class="sid238_nav nav_list" style="width: 100%; display: none;">
            <ul style="border-top:1px #cccccc solid;">
                <!--<li onclick="doHREF('/');" style="color:#1d1d1d;background-color:#ededed;border-left:3px #ed6d00 solid;">
                    <div class="tag">全部直达线路</div>
                    <div class="quantity"></div>
                </li>-->
                <li onclick="doHREF('/?sid238=275');" style="">
                    <div class="tag">市内配送(4)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=277');" style="">
                    <div class="tag">北京专线(35)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=278');" style="">
                    <div class="tag">天津专线(33)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=280');" style="">
                    <div class="tag">重庆专线(24)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=281');" style="">
                    <div class="tag">浙江专线(179)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=282');" style="">
                    <div class="tag">江苏专线(185)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=283');" style="">
                    <div class="tag">山东专线(84)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=284');" style="">
                    <div class="tag">安徽专线(70)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=285');" style="">
                    <div class="tag">广东专线(56)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=286');" style="">
                    <div class="tag">福建专线(41)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=287');" style="">
                    <div class="tag">江西专线(28)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=288');" style="">
                    <div class="tag">湖南专线(22)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=289');" style="">
                    <div class="tag">湖北专线(30)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=290');" style="">
                    <div class="tag">河南专线(33)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=291');" style="">
                    <div class="tag">河北专线(33)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=292');" style="">
                    <div class="tag">山西专线(14)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=293');" style="">
                    <div class="tag">陕西专线(19)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=294');" style="">
                    <div class="tag">广西专线(16)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=295');" style="">
                    <div class="tag">云南专线(21)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=296');" style="">
                    <div class="tag">贵州专线(15)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=297');" style="">
                    <div class="tag">四川专线(38)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=298');" style="">
                    <div class="tag">吉林专线(25)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=299');" style="">
                    <div class="tag">黑龙江线(19)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=300');" style="">
                    <div class="tag">辽宁专线(49)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=301');" style="">
                    <div class="tag">新疆专线(20)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=302');" style="">
                    <div class="tag">宁夏专线(15)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=303');" style="">
                    <div class="tag">内蒙专线(20)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=304');" style="">
                    <div class="tag">甘肃专线(16)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=305');" style="">
                    <div class="tag">青海专线(9)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=306');" style="">
                    <div class="tag">西藏专线(12)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=307');" style="">
                    <div class="tag">海南专线(6)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid238=308');" style="">
                    <div class="tag">港澳台线(5)</div>
                    <div class="quantity"></div>
                </li>
            </ul>
        </div>
        <div id="popup_list_left" class="sid383_nav nav_list" style="width: 100%; display: none;">
            <ul style="border-top:1px #cccccc solid;">
                <!--<li onclick="doHREF('/');" style="color:#1d1d1d;background-color:#ededed;border-left:3px #ed6d00 solid;">
                    <div class="tag">全部所在区域</div>
                    <div class="quantity"></div>
                </li>-->
                <li onclick="doHREF('/?sid383=384');" style="">
                    <div class="tag">闵行区(192)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid383=385');" style="">
                    <div class="tag">宝山区(214)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid383=386');" style="">
                    <div class="tag">普陀区(96)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid383=387');" style="">
                    <div class="tag">嘉定区(296)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid383=389');" style="">
                    <div class="tag">松江区(160)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid383=390');" style="">
                    <div class="tag">浦东区(1)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid383=391');" style="">
                    <div class="tag">清浦区(1)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid383=392');" style="">
                    <div class="tag">奉贤区(0)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid383=397');" style="">
                    <div class="tag">徐汇区(4)</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?sid383=403');" style="">
                    <div class="tag">其他区(1)</div>
                    <div class="quantity"></div>
                </li>
            </ul>
        </div>
        <!-- 排序的输出 -->
        <div id="popup_list_left" class="order_nav nav_list" style="width: 100%; display: none;">
            <ul style="border-top:1px #cccccc solid;">
                <li onclick="doHREF('/?order=default');" style="color:#1d1d1d;background-color:#ededed;border-left:3px #ed6d00 solid;">
                    <div class="tag">默认排序</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?order=hot');" style="">
                    <div class="tag">人气排序</div>
                    <div class="quantity"></div>
                </li>
                <li onclick="doHREF('/?order=new');" style="">
                    <div class="tag">更新排序</div>
                    <div class="quantity"></div>
                </li>
            </ul>
        </div>
    </section>
    <!-- 导航栏  -->
    <section id="navi_top">
        <!-- 大类输出  -->
        <ul class="big-nav">
            <foreach name="main_nav" item="val">
                <li style="width:19%" onclick='doHREF("{:logistics_url(2,'list-'.$val['id'])}");'>
                    <div class="wrapper <eq name="category.id" value="$val['id']">wrappered</eq>">{$val.title}</div>
                </li>
            </foreach>
        </ul>
        <!-- 选中 -->
        <ul style="border-bottom:1px #cccccc solid;">
            <li style="width:32%" onclick="setSortClick('sid238')">
                <div class="wrapper two_wrapper"><div class="tag">直达线路</div><div class="triangle_mark_down sid238_mark" style="border-color: rgb(237, 109, 0) transparent transparent;"></div></div>
            </li>
            <li style="width:32%" onclick="setSortClick('sid383')">
                <div class="wrapper two_wrapper"><div class="tag">所在区域</div><div class="triangle_mark_down sid383_mark" style="border-color: rgb(135, 135, 135) transparent transparent;"></div></div>
            </li>
            <li style="width:32%" onclick="setSortClick('order')">
                <div class="wrapper two_wrapper"><div class="tag">默认排序</div><div class="triangle_mark_down order_mark" style="border-color: rgb(135, 135, 135) transparent transparent;"></div></div>
            </li>
        </ul>
    </section>
    <section style="text-align:center;" class="goods_list_item">
        <ul>
            <li style="width:auto;vertical-align:top;position:relative;" onclick="doHREF('http://m.chawuliu.com/detail/15572');">
                <img class="goods_list_image" src="http://www.chawuliu.com/uploads/page/2015/0404/15/551f96e8f40cd9d665cfbf7bbd3834f7accbeaeea423b.jpg">
                <img src="__IMG__/vip.png" style="position:absolute;left:-3px;top:-3px;">
            </li>
            <li style="text-align:left;width:62%;">
                <ul>
                    <li style="height:32px;overflow:hidden;line-height:16px;" onclick="doHREF('http://m.chawuliu.com/detail/15572');">
                        <span class="black_14_b_label">【双圆物流】上海至淮安、宿迁、徐州、盐城、连云港专线(苏北三线中转周边地区)</span>
                    </li>
                    <li style="display:block;position:relative;">
                        <span style="position: absolute;top:0;right:0px;"><em style="color:#ed6d00;font-weight:bold;font-style: normal;">3036</em>人浏览</span>
                        <a style="display:block; height:18px;overflow:hidden;" href="tel:021-51691330"><span style="color:#ed6d00;font-size:16px;font-weight:bold;">021-51691330</span></a>
                        <a style="display:block; height:18px;overflow:hidden;margin-top:6px;" href="javascript:;"><span style="color:#666;font-size:14px;">上海市宝山区业绩路21号A区甲棚</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <section id="navi_bottom" style="text-align:center;">

        <div class="navi_button" style="border-right:1px #ededed solid;background:transparent !important;">
        </div>
        <div style="width:31%;text-align:center; display:inline-block;">
            <span style="position:relative;top:8px;" class="dark_grey_14_label">1/49</span></div>
        <div class="navi_button" style="border-left:1px #ededed solid;">
            <a href="/?page=2"><span class="dark_grey_14_label">下一页</span></a>    	</div>
    </section>
<include file="Public/footer"/>