<include file="Public/header"/>
    <!-- 背景 -->
    <section id="screen_mask" style="position: absolute; top: 112px; width: 100%; height: 0px; background-color: black; opacity: 0.5; z-index: 20000; display: none;"></section>
    <section id="top_bar_mask" style="position: absolute; top: 0px; width: 100%; height: 52px; background-color: black; opacity: 0.5; z-index: 20000; display: none;"></section>
    <!-- 二级菜单选则  -->
    <section id="popup_list" style="width: 100%; position: absolute; top: 112px; z-index: 30000; display: none;">
        <!-- 细类的输出 -->
        <notempty name="minor.data">
            <div id="popup_list_left" class="sid238_nav nav_list" style="width: 100%; display: none;">
                <ul style="border-top:1px #cccccc solid;">
                    <foreach name="minor.data" item="val">
                        <li onclick='doHREF("{:logistics_url(2,$CITY['pinyin'].'/list-'.$category['id'].'-'.$val['id'])}");' style="<eq name='zx' value="$val['id']">color:#1d1d1d;background-color:#ededed;border-left:3px #ed6d00 solid;</eq>">
                            <div class="tag">{$val.title}({$val.sum})</div>
                            <div class="quantity"></div>
                        </li>
                    </foreach>
                </ul>
            </div>
        </notempty>
        <notempty name="third.data">
            <div id="popup_list_left" class="sid383_nav nav_list" style="width: 100%; display: none;">
                <ul style="border-top:1px #cccccc solid;">
                    <foreach name="third.data" item="val">
                        <li onclick='doHREF("{:logistics_url(2,$CITY['pinyin'].'/list-'.$category['id'].'-'.$zx.'-'.$val['id'])}");' style="<eq name='zx' value="$val['id']">color:#1d1d1d;background-color:#ededed;border-left:3px #ed6d00 solid;</eq>">
                        <div class="tag">{$val.title}({$val.sum})</div>
                        <div class="quantity"></div>
                        </li>
                    </foreach>
                </ul>
            </div>
        </notempty>
        <!-- 排序的输出 -->
        <div id="popup_list_left" class="order_nav nav_list" style="width: 100%; display: none;">
            <ul style="border-top:1px #cccccc solid;">
                <li onclick='doHREF("{:logistics_url(2,$CITY['pinyin'].'/'.$order_uri.'1')}");' style="<eq name='order_type' value="1">color:#1d1d1d;background-color:#ededed;border-left:3px #ed6d00 solid;</eq>">
                    <div class="tag">默认排序</div>
                    <div class="quantity"></div>
                </li>
                <li onclick='doHREF("{:logistics_url(2,$CITY['pinyin'].'/'.$order_uri.'2')}");' style="<eq name='order_type' value="2">color:#1d1d1d;background-color:#ededed;border-left:3px #ed6d00 solid;</eq>">
                    <div class="tag">人气排序</div>
                    <div class="quantity"></div>
                </li>
                <li onclick='doHREF("{:logistics_url(2,$CITY['pinyin'].'/'.$order_uri.'3')}");' style="<eq name='order_type' value="3">color:#1d1d1d;background-color:#ededed;border-left:3px #ed6d00 solid;</eq>">
                    <div class="tag">更新排序</div>
                    <div class="quantity"></div>
                </li>
            </ul>
        </div>
    </section>
    <!-- 导航栏  -->
    <section id="navi_top">
        <!-- 大类输出  -->
        <ul class="big-nav">
            <li style="width:19%" onclick='doHREF("{:logistics_url(2,$CITY['pinyin'].'/list-'.$category['id'])}");'>
                <div class="wrapper <eq name="category.id" value="$category['id']">wrappered</eq>">{$category.title}</div>
            </li>
        </ul>
        <!-- 选中 -->
        <ul style="border-bottom:1px #cccccc solid;">
            <notempty name="minor.data">
                <li style="width:32%" onclick="setSortClick('sid238')">
                    <div class="wrapper two_wrapper"><div class="tag">{$minor.name}</div><div class="triangle_mark_down sid238_mark" style="border-color: rgb(237, 109, 0) transparent transparent;"></div></div>
                </li>
            </notempty>
            <notempty name="third.data">
                <li style="width:32%" onclick="setSortClick('sid383')">
                    <div class="wrapper two_wrapper"><div class="tag">{$third.name}</div><div class="triangle_mark_down sid383_mark" style="border-color: rgb(135, 135, 135) transparent transparent;"></div></div>
                </li>
            </notempty>
            <li style="width:32%" onclick="setSortClick('order')">
                <div class="wrapper two_wrapper"><div class="tag">{$order_name}</div><div class="triangle_mark_down order_mark" style="border-color: rgb(135, 135, 135) transparent transparent;"></div></div>
            </li>
        </ul>
    </section>
    <empty name="list">
        <section style="background:#fff;height:200px;">
            <div style="padding:20px;">抱歉！还没有名片,请浏览其它的分类</div>
        </section>
    <else/>
        <foreach name="list" item="val">
            <section style="text-align:center;" class="goods_list_item">
                <ul>
                    <li style="width:auto;vertical-align:top;position:relative;" onclick='doHREF("{:logistics_url(2,$CITY['pinyin'].'/'.$val['id'])}");'>
                        <img class="goods_list_image" src="{$val.cover_id|get_cover='path'}" onerror="javascript:this.src='__STATIC__/images/default.jpg';">
                        <eq name="val.vip" value="2"><img src="__IMG__/tuijian.png" style="position:absolute;left:-3px;top:-3px;"></eq>
                        <eq name="val.vip" value="3"><img src="__IMG__/vip.png" style="position:absolute;left:-3px;top:-3px;"></eq>
                    </li>
                    <li style="text-align:left;width:62%;">
                        <ul>
                            <li style="height:32px;overflow:hidden;line-height:16px;" onclick='doHREF("{:logistics_url(2,$CITY['pinyin'].'/'.$val['id'])}");'>
                                <span class="black_14_b_label">{$val.title}</span>
                            </li>
                            <li style="display:block;position:relative;">
                                <span style="position: absolute;top:0;right:0px;"><em style="color:#ed6d00;font-weight:bold;font-style: normal;">{$val.view}</em>人浏览</span>
                                <a style="display:block; height:18px;overflow:hidden;" href="tel:{$val.contact}"><span style="color:#ed6d00;font-size:16px;font-weight:bold;">{$val.contact}</span></a>
                                <a style="display:block; height:16px;overflow:hidden;margin-top:6px;" href="javascript:;"><span style="color:#666;font-size:14px;">{$val.address}</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </foreach>
        <section id="navi_bottom" style="text-align:center;">
            {$page}
        </section>
    </empty>
<include file="Public/footer"/>