<include file="Public/head"/>
<body>
    <header>
        <!-- 头部广告  -->
        <notempty name="banner">
            <section id="slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <foreach name="banner" item="val">
                            <div class="swiper-slide">
                                <a href="{$val.ad_url}" title="{$val.ad_title}">
                                    <img src="{$val.ad_img}" alt="{$val.ad_title}" style="width:100%;height: 60px;">
                                </a>
                            </div>
                        </foreach>
                    </div>
                    <div class="pagination"></div>
                </div>
            </section>
        </notempty>
        <!-- 头部切换的布局  -->
        <section id="top_bar" style="height:47px;padding:5px 0px 0px 10px;">
            <ul>
                <li onclick='doHREF("{:logistics_url(2,'city')}");'>
                <span style="" class="white_16_label" id="city_name">{$CITY.name}</span>
                <br><span class="white_12_label">[切换]</span>
                </li>
                <li style="position:absolute;margin-left:10px;width:60%">
                    <form id="search_form" action="{:logistics_url(2,'search-'.$category['id'])}" method="get">
                        <input id="search" type="text" class="input_field" style="height: 30px" name="keywords" value="{$search_keywords}" placeholder="城市、名称、地址">
                    </form>
                </li>
                <li style="float:right;position:relative;top:5px;right:15px;">
                    <img src="__IMG__/back_new.jpg" class="header_button" onclick="history.back();">
                    <span style="position:relative;top:20px;left:5px;" class="white_12_label" onclick="history.back();">返回</span>
                </li>
                <li style="float:right;position:relative;top:5px;right:20px;">
                    <img src="__IMG__/search.jpg" class="header_button" onclick="submitSearch(this)">
                    <span style="position:relative;top:20px;left:5px;" class="white_12_label" onclick="submitSearch(this)">搜索</span>
                </li>
            </ul>
        </section>
        <script type="text/javascript">
            function submitSearch( e ){
                var kw = $("#search").val();
                kw = $.trim( kw );
                if( !kw ){
                    return false;
                }else{
                    $("#search_form").submit();
                }
            }
        </script>
    </header>
    <section class="notice_bar"><label>搜索 "{$search_keywords}" 共{$list['count']?$list['count']:0}条结果：</label></section>
    <empty name="list">
        <section style="background:#fff;height:200px;">
            <div style="padding:20px; text-align: center">抱歉！没有符合条件名片</div>
        </section>
    <else/>
        <foreach name="list.data" item="val">
            <section style="text-align:center;" class="goods_list_item">
                <ul>
                    <li style="width:auto;vertical-align:top;position:relative;" onclick='doHREF("{:logistics_url(2,$CITY['pinyin'].'/'.$val['id'])}");'>
                        <img class="goods_list_image" src="{$val.cover_id|get_cover='path'}" onerror="javascript:this.src='__STATIC__/images/default.jpg';">
                        <eq name="val.vip" value="2"><img src="__IMG__/tuijian.png" style="position:absolute;left:-3px;top:-3px;"></eq>
                        <eq name="val.vip" value="3"><img src="__IMG__/vip.png" style="position:absolute;left:-3px;top:-3px;"></eq>
                    </li>
                    <li style="text-align:left;width:62%;">
                        <ul>
                            <li style="height:32px;overflow:hidden;line-height:16px;" onclick='doHREF("{:logistics_url(2,$CITY['pinyin'].'/'.$val['id'])}");'>
                                <span class="black_14_b_label">{$val.title}</span>
                            </li>
                            <li style="display:block;position:relative;">
                                <span style="position: absolute;top:0;right:0px;"><em style="color:#ed6d00;font-weight:bold;font-style: normal;">{$val.view}</em>人浏览</span>
                                <a style="display:block; height:18px;overflow:hidden;" href="tel:{$val.contact}"><span style="color:#ed6d00;font-size:16px;font-weight:bold;">{$val.contact}</span></a>
                                <a style="display:block; height:18px;overflow:hidden;margin-top:6px;" href="javascript:;"><span style="color:#666;font-size:14px;">{$val.address}</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </foreach>
        <section id="navi_bottom" style="text-align:center;">
            {$page}
        </section>
    </empty>
<include file="Public/footer"/>