<include file="Public/header"/>
    <div id="main">
        <div class="listerouter">
            <div class="fl left">
                <div class="left_item pl15">
                    <div class="page_title" style="height: auto">{$info.title}</div>
                    <div class="linkman_msg">
                        <span><img src="__IMG__/phone.png" class="mr5" data-bd-imgshare-binded="1">{$info.contact}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span><img src="__IMG__/address.png" class="mr5" data-bd-imgshare-binded="1">{$info.address}</span>
                    </div>
                    <div style="height:340px;">
                        <div class="fl" style="width:440px;">
                            <div style="position:relative;">
                                <!--<img src="__IMG__/vip.png" class="vip-img" style="top:7px;left:-3px;" data-bd-imgshare-binded="1">-->
                                <eq name="info.vip" value="2"><img src="__IMG__/tuijian.png" class="vip-img" style="top:7px;left:-3px;" data-bd-imgshare-binded="1"></eq>
                                <eq name="info.vip" value="3"><img src="__IMG__/vip.png" class="vip-img" style="top:7px;left:-3px;" data-bd-imgshare-binded="1"></eq>
                                <img class="mt10 mb10" src="{$info.cover_id|get_cover='path'}" width="440px" height="312px" data-bd-imgshare-binded="1" onerror="javascript:this.src='__STATIC__/images/default.jpg';"/>
                            </div>

                        </div>
                        <div class="fr mr15 deal-info mb20" style="position:relative;">
                            <div class="mt10">
                                <span>二维码名片分享</span>
                                <img src="http://qr.liantu.com/api.php?bg=ffffff&amp;fg=000000&amp;gc=000000&amp;el=l&amp;w=132&amp;m=2&amp;text={$info.url}" width="132px" height="132px" data-bd-imgshare-binded="1">
                            </div>
                            <div class="mt5">
                                <script type="text/javascript" charset="utf-8" src="http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js"></script>
                                <script>
                                    window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"{$info.title}","bdMini":"1","bdMiniList":["mshare","weixin","kaixin001","tqf","tieba","douban","tsohu","taobao","baidu","mail"], "bdPic":"{:logistics_url(1,'/')}{$info.cover_id|get_cover='path'}", "bdStyle":"1","bdSize":"16"},"share":{"bdSize":16},"image":{"viewList":["qzone","tsina","tqq"],"viewText":"分享：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","sqq","tqq"]}};
                                </script>
                                <div class="c"></div>
                            </div>
                            <div class="hot_count"><strong>{$info.view}</strong>&nbsp;浏览</div>
                            <div class="bdsharebuttonbox bdshare-button-style1-16" id="bdsharebuttonbox" style="padding:5px 0px 0px 10px; margin-top:10px; border-top:1px solid #ededed;">
                                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间" style="color:#333">空间</a>
                                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博" style="color:#333">微博</a>
                                <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博" style="color:#333">腾讯微博</a>
                            </div>
                            <div class="time mt10"><i>发布时间: </i>{$info.create_time|date='Y-m-d H:i',###}</div>

                        </div>
                        <div class="c"></div>
                    </div>
                </div>
                <div class="left_item mt10">
                    <h2 class="item_title" style="text-align:left;">
                        <a class="item_detail" id="item_detail" href="#item_detail">详情信息</a>
                    </h2>
                    <div id="baidu_map" style="width:100%;height:400px;"></div>
                    <div class="ml15 mt10 mb10 mr15" style="overflow:hidden;font-size:16px;font-family:microsoft yahei,sans serif;">
                        {$info.content}
                        <p style="color:#FF8500;">
                            <eq name="info.vip_zh" value="游客">
                                联系我时，请说是{:C('WEB_SITE_TITLE')}看到的，谢谢！
                            <else />
                                本会员已升级为{$info.vip_zh}，联系我时，请说是在{:C('WEB_SITE_TITLE')}看到的，谢谢！
                            </eq>
                        </p>
                    </div>
                </div>
            </div>
            <div class="fr right">
                <!-- 有信息 -->
                <div class="right_item right_item_no">
                    <h2 class="item_title">推荐查看其它{$category.title}信息</h2>
                    <div>
                        <foreach name="list.data" item="val">
                            <div class="tuanitem_mini">
                                <eq name="val.vip" value="2"><img src="__IMG__/tuijian.png" class="vip-img"></eq>
                                <eq name="val.vip" value="3"><img src="__IMG__/vip.png" class="vip-img"></eq>
                                <a class="tuanitem-item">
                                    <div class="tuanitem-item-border"></div>
                                </a>
                                <div class="tuanitem-meta">
                                    <a class="tuanitem-meta-img" href="{:logistics_url(1,$val['id'])}">
                                        <img alt="{$val.title}" src="{$val.cover_id|get_cover='path'}" onerror="javascript:this.src='__STATIC__/images/default.jpg';"/>
                                    </a>
                                    <div class="tuanitem-meta-title">
                                        <a href="{:logistics_url(1,$val['id'])}" title="{$val.title}" class="c_b">{$val.title}</a>
                                    </div>
                                </div>
                                <div class="gobuy">
                                    <span class="nprice"><img src="__IMG__/phone.png" class="mr5" style="position:relative; top:3px;" data-bd-imgshare-binded="1">{$val.contact}</span>
                                    <a href="{:logistics_url(1,$val['id'])}" class="look-detail"><img src="__IMG__/btns.png" width="75px" height="32px" data-bd-imgshare-binded="1"></a>
                                    <div class="c"></div>
                                </div>
                                <div class="hot_des">
                                    <div class="fl"><img src="__IMG__/address.png" class="mr5" style="position:relative; top:3px;" data-bd-imgshare-binded="1">{$val.address|msubstr=0,14}</div>
                                    <div class="c"></div>
                                </div>
                            </div>
                        </foreach>
                    </div>
                </div>
                <div class="c"></div>
            </div>
            <div class="c"></div>
        </div>
    </div>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=dNcVKmvUBgsfAh2IKy72RTWYVtlrEpvf" type="text/javascript"></script>
    <script type="text/javascript">
        // 百度地图API功能
        var map = new BMap.Map("baidu_map");
        // 创建地址解析器实例
        var myGeo = new BMap.Geocoder();
        // 将地址解析结果显示在地图上,并调整地图视野
        myGeo.getPoint("{$info.address}", function(point){
            if (point) {
                map.centerAndZoom(point, 16);
                map.addOverlay(new BMap.Marker(point));
            }else{
                var baidu_map = document.getElementById('baidu_map');
                baidu_map.style.display = 'none';
            }
        },'');
    </script>
<include file="Public/footer"/>