<include file="Public/header"/>
    <div id="banner"><!-- banner广告横幅 -->
        <notempty name="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                <foreach name="banner" item="val">
                    <div class="swiper-slide">
                        <a href="{$val.ad_url}" title="{$val.ad_title}">
                            <img src="{$val.ad_img}" alt="{$val.ad_title}" style="width: 960px">
                        </a>
                    </div>
                </foreach>
                </div>
                <div class="pagination"></div>
            </div>
        </notempty>
    </div>
    <div id="filter">
        <notempty name="minor.data">
            <dl class="selitem">
                <dt></dt>
                <dd row="2">
                    <a class="<eq name='zx' value="0">selectt</eq>" href="{:logistics_url(1,'list-'.$category['id'])}">{$minor.name}：</a>
                    <foreach name="minor.data" item="val">
                        <a href="{:logistics_url(1,'list-'.$category['id'].'-'.$val['id'])}" class="<eq name='zx' value="$val['id']">selectt</eq>">{$val.title}<span>({$val.sum})</span></a>
                    </foreach>
                </dd>
            </dl>
        </notempty>
        <notempty name="third.data">
            <dl class="selitem">
                <dt></dt>
                <dd row="2">
                    <a class="<eq name='l_area' value="0">selectt</eq>" href="{:logistics_url(1,'list-'.$category['id'].'-'.$zx)}">{$third.name}：</a>
                    <foreach name="third.data" item="val">
                        <a href="{:logistics_url(1,'list-'.$category['id'].'-'.$zx.'-'.$val['id'])}" class="<eq name='l_area' value="$val['id']">selectt</eq>">{$val.title}<span>({$val.sum})</span></a>
                    </foreach>
                </dd>
            </dl>
        </notempty>
        <div class="sortbar"><!-- 排序方式 -->
            <ul class="sortor">
                <li class="<eq name='order_type' value="1">cur</eq>"><a href="{:logistics_url(1,$order_uri.'1')}">默认排序</a></li>
                <li class="<eq name='order_type' value="2">cur</eq>"><a href="{:logistics_url(1,$order_uri.'2')}">人气排序<i class="arrw arrwdown"></i></a></li>
                <li class="<eq name='order_type' value="3">cur</eq>"><a href="{:logistics_url(1,$order_uri.'3')}">更新排序<i class="arrw arrwdown"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- 内容  -->
    <div id="main">
        <div class="listerouter">
            <div class="lister">
                <empty name="list">
                    抱歉！还没有信息,请浏览其它的分类
                <else />
                    <foreach name="list" item="val">
                        <div class="tuanitem">
                            <eq name="val.vip" value="2"><img src="__IMG__/tuijian.png" class="vip-img"></eq>
                            <eq name="val.vip" value="3"><img src="__IMG__/vip.png" class="vip-img"></eq>
                            <a class="tuanitem-item">
                                <div class="tuanitem-item-border"></div>
                            </a>
                            <div class="tuanitem-meta">
                                <a class="tuanitem-meta-img" href="{:logistics_url(1,$val['id'])}">
                                    <img alt="{$val.title}" src="{$val.cover_id|get_cover='path'}" onerror="javascript:this.src='__STATIC__/images/default.jpg';"/>
                                </a>
                                <div class="tuanitem-meta-title">
                                    <a href="{:logistics_url(1,$val['id'])}" title="{$val.title}" class="c_b">{$val.title}</a>
                                </div>
                            </div>
                            <div class="gobuy">
                                <div class="nprice"><img src="__IMG__/phone.png" class="mr5">{$val.contact}</div>
                                <a href="{:logistics_url(1,$val['id'])}" class="look-detail"><img src="__IMG__/btns.png" width="75px" height="32px"></a>
                                <div class="c"></div>
                            </div>
                            <div class="hot_des">
                                <div class="fl"><img src="__IMG__/address.png" class="mr5">{$val.address|msubstr=0,14}</div>
                                <div class="fr"><strong>{$val.view}</strong>人浏览</div>
                                <div class="c"></div>
                            </div>
                        </div>
                    </foreach>
                </empty>
                <div class="c"></div>
            </div>
        </div>
        <div class="page mt40 mb40">
            {$page}
        </div>
    </div>
<include file="Public/footer"/>