<include file="Public/head"/>
<body>
    <header>
        <section id="top_bar" style="text-align:center;height:47px;padding:5px 0px 0px 10px;">
            <ul style="padding-top:5px;">
                <li style="width:20%;text-align:left;"><img onclick="javascript:history.back();" style="width:30px;height:30px;" src="__IMG__/back_new.jpg"></li>
                <li style="width:56%;vertical-align:30%;"><span class="header_title_text">城市选择</span></li>
                <li style="width:20%;"></li>
            </ul>
        </section>
    </header>
    <content>
        <section style="padding: 10px;">
            <ul style="list-style: none;padding: 0px;margin: 0px;color: #000000;font-size: 14px;font-weight: bold;">
                <li style="height:30px;line-height:30px;padding:0px;border:0px;background:transparent;">当前定位城市：</li>
                <li style="padding:0px;height:auto;line-height:auto;border:0px;background:transparent;display: block">
                    <div class="city_item" id="gps_city" style="line-height: 40px">

                    </div>
                    <div class="c"></div>
                </li>
            </ul>
        </section>
        <section id="hot_city">
            <ul>
                <li style="height:30px;line-height:30px;padding:0px;border:0px;background:transparent;">热门城市</li>
                <li style="padding:0px;height:auto;line-height:auto;border:0px;background:transparent;">
                    <div class="city_item">
                        <foreach name="hot_city" item="val">
                            <a href="{:logistics_url(2,$val['pinyin'].'/list-'.$category)}">{$val.name}</a>
                        </foreach>
                    </div>
                    <div class="c"></div>
                </li>
            </ul>
        </section>
        <!-- 城市列表 -->

        <section class="city_list">
            <div id="zxs_city" class="collapse_bar" onclick="doCollapse('zxs_city')">
                <span>直辖市</span>
                <span style="font-size:10px;float:right;">&nbsp;▼</span>
            </div>
            <div id="zxs_city_content" class="collapse_content" style="display:none;padding:10px;">
                <div class="city_item">
                    <foreach name="zhixia" item="city">
                        <a href="{:logistics_url(2,$city['pinyin'].'/list-'.$category)}">{$city.name}</a>
                    </foreach>
                </div>
                <div class="c"></div>
            </div>
        </section>
        <foreach name="pca_p" item="p">
            <section class="city_list">
                <div id="{$p.id}_city" class="collapse_bar" onclick="doCollapse('{$p.id}_city')">
                    <span>{$p.name}</span>
                    <span style="font-size:10px;float:right;">&nbsp;▼</span>
                </div>
                <div id="{$p.id}_city_content" class="collapse_content" style="display:none;padding:10px;">
                    <div class="city_item">
                        <foreach name="p.child" item="city">
                            <a href="{:logistics_url(2,$city['pinyin'].'/list-'.$category)}">{$city.name}</a>
                        </foreach>
                    </div>
                    <div class="c"></div>
                </div>
            </section>
        </foreach>
    </content>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=dNcVKmvUBgsfAh2IKy72RTWYVtlrEpvf" type="text/javascript"></script>
    <script>
        $(function(){
            var geolocation = new BMap.Geolocation();
            geolocation.getCurrentPosition(function (r) {
                if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                    var geoc = new BMap.Geocoder();
                    var pt = r.point;
                    geoc.getLocation(pt, function (rs) {
                        var addComp = rs.addressComponents;
                        add_gps_city(addComp.city);
                    });
                } else {
                    $('#gps_city').html('定位失败，请手动选择城市');
                }
            });
            function add_gps_city(city){
                var target = "{:logistics_url(2,'gps_city')}";
                var query = {city:city};
                var content;
                var gps_city = $('#gps_city');
                $.post(target,query).success(function(e){
                    if (e.status==1){
                        content = '<a href="{:logistics_url(2,'/')}/'+e.data.pinyin+'/list-{$category}.html">'+e.data.name+'</a>';
                    }else{
                        content = '定位失败，请手动选择城市';
                    }
                    gps_city.html(content);
                });
            }
        });
    </script>
<include file="Public/footer"/>