.qg_but {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.but_q1 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.but_q2 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.but_q3 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.but_q4 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.but_q5 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.bz_tk1 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.bz_tk2 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.bz_tk3 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.bz_tk4 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.bz_tk1_h {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.bz_tk2_h {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.bz_tk3_h {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.bz_tk4_h {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.img_xl {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.img_xr {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.tj_more1 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.tj_more2 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.tj_more1:hover {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.tj_more2:hover {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.tj_icon {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.qkk_but {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.dtabs1 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.dtabs1 UL LI.dt_last A {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.dtabs1 UL LI.dt_last A SPAN {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.dt_icon {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.dt_qg {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.d_qg1 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.d_qg2 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.d_qg3 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.d_qg4 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.d_qg5 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.hp {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.re3 A {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.reviews_t LI A.t_last {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.r_icon {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.xx_red {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.xx_gray {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.pjx1 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.p_j {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.bottom_qg1 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.b_qg1 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.b_qg2 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.b_qg3 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.b_qg4 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.b_qg5 {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.bizinfo DD.ck_map A {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.r_bt {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
.k_gm {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/images/link_icon_01.gif) !important
}
I {
    FONT-STYLE: normal
}
.c_gray {
    COLOR: #888
}
.c_blue {
    COLOR: #0066cc
}
.detail_icon {
    POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-LEFT: 16px; PADDING-RIGHT: 0px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/images/detail_ico.jpg?0712) no-repeat 0px 6px; COLOR: #9b9b9b; FONT-SIZE: 12px; RIGHT: 20px; PADDING-TOP: 0px
}
.crambtop {
    TEXT-ALIGN: left; LINE-HEIGHT: 36px; MARGIN: 0px auto -10px; WIDTH: 960px; COLOR: #999
}
.crambtop I {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; FONT-FAMILY: "锟斤拷锟斤拷" !important; PADDING-TOP: 0px
}
#main {
    MARGIN: 10px auto; WIDTH: 960px
}
.order_column {
    BORDER-BOTTOM: #e9e9e9 1px solid; BORDER-LEFT: #e9e9e9 1px solid; WIDTH: 958px; MARGIN-BOTTOM: 10px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/images/link_tj_img02.gif) repeat-y right 50%; BORDER-TOP: #e9e9e9 1px solid; BORDER-RIGHT: #e9e9e9 1px solid
}
.order_left {
    BORDER-BOTTOM: #b8b8b8 1px solid; BORDER-LEFT: #b8b8b8 1px solid; PADDING-BOTTOM: 20px; MARGIN: -1px; PADDING-LEFT: 20px; WIDTH: 698px; PADDING-RIGHT: 20px; FLOAT: left; BORDER-TOP: #b8b8b8 1px solid; BORDER-RIGHT: #b8b8b8 1px solid; PADDING-TOP: 20px; _position: relative
}
.order_column H1 {
    FONT: 700 20px/1.2 "Microsoft YaHei", "锟斤拷锟斤拷"; COLOR: #000
}
.order_column P.des {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 16px/26px "Microsoft YaHei", "锟斤拷锟斤拷"; WORD-WRAP: break-word; COLOR: #666; PADDING-TOP: 10px
}
.order_wrap1 {
    MARGIN: 10px 0px 0px
}
.order_tic1 {
    BORDER-BOTTOM: #e9e9e9 1px solid; POSITION: relative; BORDER-LEFT: #e9e9e9 1px solid; WIDTH: 222px; BACKGROUND: #fbfbfb; FLOAT: left; HEIGHT: 310px; BORDER-TOP: #e9e9e9 1px solid; BORDER-RIGHT: #e9e9e9 1px solid
}
.qg_but {
    POSITION: absolute; PADDING-LEFT: 50px; WIDTH: 217px; BACKGROUND: 0px 0px; HEIGHT: 67px; TOP: -1px; LEFT: -39px
}
.qg_but SPAN {
    FONT: bold 32px/64px Arial; WHITE-SPACE: nowrap; COLOR: #fff
}
.qg_but SPAN I {
    PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 4px; DISPLAY: inline-block; FONT: 28px/64px Arial; VERTICAL-ALIGN: middle; PADDING-TOP: 0px; _vertical-align: 1px
}
.but_q1 {
    POSITION: absolute; LINE-HEIGHT: 100px; DISPLAY: inline-block; HEIGHT: 41px; OVERFLOW: hidden; TOP: 11px; RIGHT: 15px
}
.but_q2 {
    POSITION: absolute; LINE-HEIGHT: 100px; DISPLAY: inline-block; HEIGHT: 41px; OVERFLOW: hidden; TOP: 11px; RIGHT: 15px
}
.but_q3 {
    POSITION: absolute; LINE-HEIGHT: 100px; DISPLAY: inline-block; HEIGHT: 41px; OVERFLOW: hidden; TOP: 11px; RIGHT: 15px
}
.but_q4 {
    POSITION: absolute; LINE-HEIGHT: 100px; DISPLAY: inline-block; HEIGHT: 41px; OVERFLOW: hidden; TOP: 11px; RIGHT: 15px
}
.but_q5 {
    POSITION: absolute; LINE-HEIGHT: 100px; DISPLAY: inline-block; HEIGHT: 41px; OVERFLOW: hidden; TOP: 11px; RIGHT: 15px
}
.but_q1 {
    WIDTH: 85px; BACKGROUND: 0px -77px
}
.but_q2 {
    WIDTH: 103px; BACKGROUND: -95px -77px
}
.but_q3 {
    WIDTH: 95px; BACKGROUND: 0px -128px
}
.but_q4 {
    WIDTH: 95px; BACKGROUND: -125px -128px
}
.but_q5 {
    WIDTH: 103px; BACKGROUND: 0px -179px
}
.price_tg {
    BORDER-BOTTOM: #e9e9e9 1px solid; HEIGHT: 58px; PADDING-TOP: 64px
}
.price_tg TD {
    TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 21px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; HEIGHT: 30px; COLOR: #999; PADDING-TOP: 8px
}
.price_tg I {
    COLOR: #333; FONT-SIZE: 12px; FONT-WEIGHT: 700
}
.sell_time {
    BORDER-BOTTOM: #e9e9e9 1px solid; TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 90px; BORDER-TOP: #fff 1px solid; PADDING-TOP: 18px; _line-height: 22px
}
.sell_time #salecounttip {

}
.sell_time B {
    PADDING-RIGHT: 3px; COLOR: #ff0000; FONT-SIZE: 24px; VERTICAL-ALIGN: -2px
}
.sell_time EM {
    COLOR: #999
}
.showTime I {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT: 700 14px/2 Arial; COLOR: #333; VERTICAL-ALIGN: -1px; PADDING-TOP: 0px; _vertical-align: 2px
}
.bz_tk1 {
    HEIGHT: 29px
}
.bz_tk2 {
    HEIGHT: 29px
}
.bz_tk3 {
    HEIGHT: 29px
}
.bz_tk4 {
    HEIGHT: 29px
}
.bz_tk1_h {
    HEIGHT: 29px
}
.bz_tk2_h {
    HEIGHT: 29px
}
.bz_tk3_h {
    HEIGHT: 29px
}
.bz_tk4_h {
    HEIGHT: 29px
}
.bz_tk1 {
    WIDTH: 29px; BACKGROUND: no-repeat 0px -554px; MARGIN-LEFT: 21px
}
.bz_tk2 {
    WIDTH: 27px; BACKGROUND: no-repeat -52px -554px; MARGIN-LEFT: 20px
}
.bz_tk3 {
    WIDTH: 29px; BACKGROUND: no-repeat -103px -554px; MARGIN-LEFT: 50px
}
.bz_tk4 {
    WIDTH: 29px; BACKGROUND: no-repeat -145px -554px; MARGIN-LEFT: 50px
}
.bz_tk1_h {
    WIDTH: 31px; BACKGROUND: no-repeat 0px -592px; MARGIN-LEFT: 21px
}
.bz_tk2_h {
    WIDTH: 31px; BACKGROUND: no-repeat -52px -592px; MARGIN-LEFT: 20px
}
.bz_tk3_h {
    WIDTH: 31px; BACKGROUND: no-repeat -103px -592px; MARGIN-LEFT: 52px
}
.bz_tk4_h {
    WIDTH: 31px; BACKGROUND: no-repeat -145px -592px; MARGIN-LEFT: 52px
}
.baozhang LI.bz_48 {
    TEXT-ALIGN: center; PADDING-LEFT: 44px; WIDTH: 135px
}
.order_img {
    WIDTH: 460px; FLOAT: right
}
.sp_img {
    POSITION: relative; WIDTH: 460px; HEIGHT: 288px; OVERFLOW: hidden
}
.sp_img IMG {
    WIDTH: 460px; HEIGHT: 288px
}
.img_xl {
    POSITION: absolute; FILTER: Alpha(opacity=60); WIDTH: 31px; DISPLAY: inline-block; HEIGHT: 37px; TOP: 136px; -moz-opacity: 0.6; opacity: 0.6
}
.img_xr {
    POSITION: absolute; FILTER: Alpha(opacity=60); WIDTH: 31px; DISPLAY: inline-block; HEIGHT: 37px; TOP: 136px; -moz-opacity: 0.6; opacity: 0.6
}
.img_xl {
    BACKGROUND: -130px -507px; LEFT: 10px
}
.img_xr {
    BACKGROUND: -176px -507px; RIGHT: 10px
}
.sp_wx {
    POSITION: relative; LINE-HEIGHT: 23px; WIDTH: 460px; BACKGROUND: #f6f6f6; HEIGHT: 23px; OVERFLOW: hidden; BORDER-TOP: #fff 1px solid
}
.sp_wx SPAN {
    PADDING-LEFT: 3px; COLOR: #999
}
SPAN.bds_more {
    PADDING-LEFT: 22px !important
}
.bds_tools A {
    PADDING-LEFT: 22px !important
}
.baidu_fx {
    POSITION: absolute; TOP: -1px; RIGHT: 0px
}
.order_right {
    POSITION: relative; WIDTH: 239px; FLOAT: left
}
.tj_icon {
    POSITION: absolute; LINE-HEIGHT: 200px; WIDTH: 54px; BACKGROUND: right -554px; HEIGHT: 55px; OVERFLOW: hidden; TOP: -2px; RIGHT: -3px
}
.order_right SPAN {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 113px; PADDING-RIGHT: 0px; DISPLAY: block; HEIGHT: 8px; PADDING-TOP: 11px
}
.tj_more1 {
    WIDTH: 15px; DISPLAY: inline-block; HEIGHT: 8px
}
.tj_more2 {
    WIDTH: 15px; DISPLAY: inline-block; HEIGHT: 8px
}
.tj_more1 {
    BACKGROUND: no-repeat -227px -508px
}
.tj_more2 {
    BACKGROUND: no-repeat -252px -533px
}
.tj_more1:hover {
    BACKGROUND: no-repeat -252px -508px
}
.tj_more2:hover {
    BACKGROUND: no-repeat -227px -533px
}
.tj_tp {
    PADDING-BOTTOM: 9px; PADDING-LEFT: 21px; PADDING-RIGHT: 0px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/images/link_tj_img01.gif) no-repeat 50% bottom; PADDING-TOP: 9px
}
.tj_tp LABEL {
    PADDING-BOTTOM: 3px; WIDTH: 210px; TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; HEIGHT: 24px; OVERFLOW: hidden
}
.tj_tp A {
    COLOR: #888
}
.tj_tp DL {
    WIDTH: 218px; HEIGHT: 89px; OVERFLOW: hidden
}
.tj_tp DL DT {
    WIDTH: 138px; FLOAT: left
}
.tj_tp DL DT IMG {
    WIDTH: 128px; HEIGHT: 81px; OVERFLOW: hidden
}
.tj_tp DL DD {
    WIDTH: 80px; FLOAT: left; PADDING-TOP: 12px; _padding-top: 15px
}
.tj_tp DL DD EM {
    LINE-HEIGHT: 22px; WIDTH: 80px; DISPLAY: block; HEIGHT: 25px; COLOR: #999; OVERFLOW: hidden
}
.tj_tp DL DD EM.yen_h {
    COLOR: #ff0000; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.tj_tp DL DD EM.yen_h I {
    FONT-SIZE: 16px; VERTICAL-ALIGN: -1px
}
.qkk_but {
    LINE-HEIGHT: 100px; WIDTH: 56px; DISPLAY: inline-block; BACKGROUND: -56px -507px; HEIGHT: 20px; OVERFLOW: hidden
}
.order_column1 {
    BORDER-BOTTOM: #ccc 1px solid; MARGIN: 10px 0px; WIDTH: 960px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/images/link_tj_img06.gif) repeat-y; BORDER-TOP: #ccc 1px solid
}
.dtabs1 {
    BORDER-LEFT: #ccc 1px solid; MARGIN-TOP: -1px; WIDTH: 958px; BACKGROUND: 0px -630px; HEIGHT: 34px; BORDER-RIGHT: #ccc 1px solid
}
.dtabs1 UL LI {
    POSITION: relative; FLOAT: left; MARGIN-LEFT: 20px
}
.dtabs1 UL LI A {
    LINE-HEIGHT: 34px; DISPLAY: inline-block; HEIGHT: 34px; COLOR: #666; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.dtabs1 UL LI A SPAN {
    LINE-HEIGHT: 34px; DISPLAY: inline-block; HEIGHT: 34px; COLOR: #666; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.dtabs1 UL LI A {
    PADDING-LEFT: 5px
}
.dtabs1 UL LI A SPAN {
    PADDING-RIGHT: 5px
}
.dtabs1 UL LI.dt_last A {
    PADDING-LEFT: 20px; BACKGROUND: left -674px
}
.dtabs1 UL LI.dt_last A SPAN {
    PADDING-RIGHT: 20px; BACKGROUND: right -674px; COLOR: #000
}
.dt_icon {
    POSITION: absolute; WIDTH: 11px; BOTTOM: 0px; DISPLAY: inline-block; BACKGROUND: right -614px; HEIGHT: 6px; MARGIN-LEFT: -5px; LEFT: 50%; _bottom: -9px
}
.dt_qg {
    POSITION: relative; LINE-HEIGHT: 34px; WIDTH: 183px; BACKGROUND: no-repeat 0px -383px; FLOAT: right; HEIGHT: 34px; OVERFLOW: hidden; MARGIN-RIGHT: -1px
}
.dt_qg SPAN {
    PADDING-LEFT: 24px; COLOR: #fff; FONT-SIZE: 22px; FONT-WEIGHT: bold
}
.dt_qg SPAN I {
    PADDING-RIGHT: 5px; FONT-SIZE: 20px; FONT-WEIGHT: normal
}
.d_qg1 {
    POSITION: absolute; LINE-HEIGHT: 100px; DISPLAY: inline-block; HEIGHT: 30px; OVERFLOW: hidden; TOP: 3px; RIGHT: 8px
}
.d_qg2 {
    POSITION: absolute; LINE-HEIGHT: 100px; DISPLAY: inline-block; HEIGHT: 30px; OVERFLOW: hidden; TOP: 3px; RIGHT: 8px
}
.d_qg3 {
    POSITION: absolute; LINE-HEIGHT: 100px; DISPLAY: inline-block; HEIGHT: 30px; OVERFLOW: hidden; TOP: 3px; RIGHT: 8px
}
.d_qg4 {
    POSITION: absolute; LINE-HEIGHT: 100px; DISPLAY: inline-block; HEIGHT: 30px; OVERFLOW: hidden; TOP: 3px; RIGHT: 8px
}
.d_qg5 {
    POSITION: absolute; LINE-HEIGHT: 100px; DISPLAY: inline-block; HEIGHT: 30px; OVERFLOW: hidden; TOP: 3px; RIGHT: 8px
}
.d_qg1 {
    WIDTH: 62px; BACKGROUND: 0px -427px
}
.d_qg2 {
    WIDTH: 71px; BACKGROUND: -71px -427px
}
.d_qg3 {
    WIDTH: 81px; BACKGROUND: -153px -427px
}
.d_qg4 {
    WIDTH: 81px; BACKGROUND: 0px -467px
}
.d_qg5 {
    WIDTH: 71px; BACKGROUND: -91px -467px
}
.l_content {
    WIDTH: 960px; OVERFLOW: hidden
}
.content {
    PADDING-BOTTOM: 30px; PADDING-LEFT: 30px; WIDTH: 680px; PADDING-RIGHT: 30px; FLOAT: left; PADDING-TOP: 20px
}
.detaildes {
    WIDTH: 680px; MARGIN-BOTTOM: 18px; OVERFLOW: hidden
}
.detaildes TABLE {
    BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-SPACING: 0; BORDER-COLLAPSE: collapse; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.detaildes TABLE TH {
    BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px
}
.detaildes TABLE TD {
    BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px
}
.content {
    FONT-SIZE: 14px
}
#comment {
    WIDTH: 680px
}
.combar {
    Z-INDEX: 1; BORDER-BOTTOM: #e0e0e0 1px solid; POSITION: relative; LINE-HEIGHT: 33px; BACKGROUND-COLOR: #fafafa; MARGIN: 0px auto 10px; PADDING-LEFT: 20px; BACKGROUND-POSITION: 10px -344px; HEIGHT: 33px; COLOR: #000; PADDING-TOP: 3px
}
.content P {
    PADDING-BOTTOM: 15px
}
.content IMG {
    DISPLAY: block; MAX-WIDTH: 680px
}
.content IMG.auto {
    WIDTH: auto; HEIGHT: auto
}
.detaildes H2 {
    LINE-HEIGHT: 28px; MARGIN: 10px 0px; PADDING-LEFT: 10px; WIDTH: 680px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/images/link_tj_img03.gif) no-repeat; HEIGHT: 28px; COLOR: #794328
}
.t_title {
    LINE-HEIGHT: 33px; WIDTH: 680px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/images/link_tj_img04.gif) no-repeat; HEIGHT: 33px
}
.t_title B {
    PADDING-LEFT: 23px; FONT: 700 18px/33px "Microsoft YaHei", "锟斤拷锟斤拷"; FLOAT: left
}
.t_title SPAN {
    PADDING-RIGHT: 11px; FLOAT: right; COLOR: #666; FONT-SIZE: 12px
}
.reviews_c {
    BORDER-BOTTOM: #e4e3e3 1px solid; BORDER-LEFT: #e4e3e3 1px solid; MARGIN-TOP: 9px; WIDTH: 678px; HEIGHT: 98px; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: #e4e3e3 1px solid; BORDER-RIGHT: #e4e3e3 1px solid
}
.reviews_1 {
    BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 13px; PADDING-LEFT: 0px; WIDTH: 676px; PADDING-RIGHT: 0px; BACKGROUND: #fafafa; HEIGHT: 70px; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid; PADDING-TOP: 13px
}
.reviews_2 {
    WIDTH: 676px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/images/link_tj_img05.gif) repeat-y; HEIGHT: 70px
}
.re1 {
    LINE-HEIGHT: 19px; PADDING-LEFT: 44px; WIDTH: 125px; FLOAT: left; COLOR: #ff0000
}
.re1 B {
    LINE-HEIGHT: 28px; FONT-SIZE: 28px
}
.re1 B I {
    FONT-SIZE: 16px
}
.re1 EM {
    COLOR: #999
}
.re2 {
    PADDING-LEFT: 44px; WIDTH: 238px; FLOAT: left
}
.re2 LI SPAN {
    MARGIN: 0px 10px 0px 5px; WIDTH: 130px; DISPLAY: inline-block; BACKGROUND: #eee; HEIGHT: 10px; OVERFLOW: hidden
}
.hp {
    DISPLAY: inline-block; BACKGROUND: 0px -718px; HEIGHT: 10px
}
.re3 {
    TEXT-ALIGN: center; PADDING-LEFT: 28px; WIDTH: 170px; FLOAT: left
}
.re3 SPAN {
    DISPLAY: block; PADDING-TOP: 10px
}
.re3 A {
    TEXT-ALIGN: center; LINE-HEIGHT: 22px; WIDTH: 92px; DISPLAY: inline-block; BACKGROUND: -96px -768px; HEIGHT: 22px; COLOR: #fff
}
.re3 A:hover {
    TEXT-DECORATION: none
}
.reviews_t {
    LINE-HEIGHT: 20px; MARGIN-TOP: 10px; WIDTH: 680px; BACKGROUND: #f3f3f3; HEIGHT: 20px; FONT-SIZE: 12px; OVERFLOW: hidden
}
.reviews_t LI {
    POSITION: relative; FLOAT: left; BORDER-RIGHT: #fff 1px solid
}
.reviews_t LI A {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 21px; PADDING-RIGHT: 21px; DISPLAY: inline-block; COLOR: #333; PADDING-TOP: 0px
}
.reviews_t LI A I {
    COLOR: #666
}
.reviews_t LI A.t_last {
    BACKGROUND: 0px -738px; HEIGHT: 20px; COLOR: #fff
}
.reviews_t LI A.t_last I {
    COLOR: #fff
}
.reviews_t LI A:hover {
    TEXT-DECORATION: none
}
.r_icon {
    POSITION: absolute; WIDTH: 5px; BOTTOM: 0px; DISPLAY: inline-block; BACKGROUND: right -768px; HEIGHT: 3px; LEFT: 50%; _bottom: -12px
}
.reviews_s {
    WIDTH: 680px; MARGIN-BOTTOM: 30px; FONT-SIZE: 12px; OVERFLOW: hidden
}
.reviews_s DL {
    PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; WIDTH: 650px; PADDING-RIGHT: 15px; BACKGROUND: #fbfbfb; PADDING-TOP: 15px
}
.reviews_s DL.p_bj {
    BACKGROUND: #fff
}
.reviews_s DL DT {
    WIDTH: 650px; FONT-WEIGHT: bold
}
.reviews_s DL DT I {
    COLOR: #ff0000
}
.reviews_s DL DT B {
    PADDING-RIGHT: 10px
}
.reviews_s DL DD {
    COLOR: #999; _padding-top: 5px
}
.reviews_s DL DD SPAN {
    PADDING-RIGHT: 30px
}
.reviews_s DL DD EM {
    PADDING-RIGHT: 1px; VERTICAL-ALIGN: 1px
}
.xx_red {
    WIDTH: 14px; DISPLAY: inline-block; HEIGHT: 13px; MARGIN-RIGHT: 2px
}
.xx_gray {
    WIDTH: 14px; DISPLAY: inline-block; HEIGHT: 13px; MARGIN-RIGHT: 2px
}
.xx_red {
    BACKGROUND: 0px -768px
}
.xx_gray {
    BACKGROUND: 0px -786px
}
.pj_x {
    BORDER-BOTTOM: #dcdcdc 1px solid; POSITION: relative; BORDER-LEFT: #dcdcdc 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 15px; WIDTH: 618px; PADDING-RIGHT: 15px; BACKGROUND: #fff; BORDER-TOP: #dcdcdc 1px solid; BORDER-RIGHT: #dcdcdc 1px solid; PADDING-TOP: 5px
}
.pj_x LI LABEL {
    PADDING-RIGHT: 15px; COLOR: #333
}
.pjx1 {
    WIDTH: 23px; DISPLAY: inline-block; BACKGROUND: no-repeat -198px -768px; HEIGHT: 15px
}
.p_j {
    POSITION: absolute; WIDTH: 9px; BACKGROUND: no-repeat -258px -785px; HEIGHT: 5px; OVERFLOW: hidden; TOP: -5px; LEFT: 12px
}
.pj_x LI LABEL.red {
    COLOR: #fc6412
}
.recorddate {
    MARGIN-TOP: 10px; BORDER-SPACING: 1px; BACKGROUND: #f0f0f0
}
.recorddate TD {
    TEXT-ALIGN: left; PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #fff; FONT-SIZE: 12px; PADDING-TOP: 3px
}
.recorddate TH {
    TEXT-ALIGN: left; PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #fff; FONT-SIZE: 12px; PADDING-TOP: 3px
}
.recorddate TH {
    BACKGROUND: #fafafa; COLOR: #888
}
.bottomtic {
    POSITION: relative; PADDING-BOTTOM: 15px; MARGIN: 15px 0px 10px; PADDING-LEFT: 18px; PADDING-RIGHT: 15px; ZOOM: 1; BACKGROUND: #fafafa; OVERFLOW: hidden; PADDING-TOP: 15px
}
.bottomtic .buybtn {
    POSITION: absolute; WIDTH: 119px; DISPLAY: inline-block; BACKGROUND-POSITION: 0px -214px; FLOAT: right; HEIGHT: 41px; TOP: 15px; RIGHT: 15px
}
.bottomtic .buybtn:hover {
    BACKGROUND-POSITION: 0px -257px
}
.bottomtic .value {
    DISPLAY: inline-block; FONT: 16px/41px Arial; COLOR: #f00
}
.bottomtic .value I {
    PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px; FONT: 700 12px/26px Arial; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.bottomtic .oldv SPAN {
    MARGIN-LEFT: 15px
}
.bottomtic .oldv I {
    PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT: 14px/26px Arial; COLOR: #666; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.noresult {
    TEXT-ALIGN: center; PADDING-BOTTOM: 40px; PADDING-LEFT: 40px; PADDING-RIGHT: 40px; FONT-WEIGHT: 700; PADDING-TOP: 40px
}
.bottom_qg {
    WIDTH: 680px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/images/link_tj_img07.gif) no-repeat; HEIGHT: 68px; OVERFLOW: hidden
}
.bottom_qg LABEL {
    TEXT-ALIGN: center; LINE-HEIGHT: 22px; WIDTH: 100px; DISPLAY: inline-block; FLOAT: left; COLOR: #999; FONT-SIZE: 12px; PADDING-TOP: 12px
}
.bottom_qg LABEL B {
    COLOR: #000; FONT-SIZE: 14px
}
.bottom_qg1 {
    POSITION: relative; PADDING-BOTTOM: 0px; MARGIN-TOP: 9px; PADDING-LEFT: 0px; WIDTH: 188px; PADDING-RIGHT: 9px; BACKGROUND: 0px -230px; FLOAT: right; HEIGHT: 42px; OVERFLOW: hidden; PADDING-TOP: 7px
}
.bottom_qg1 SPAN {
    PADDING-LEFT: 15px; FONT: bold 26px/37px Arial; WHITE-SPACE: nowrap; COLOR: #fff
}
.bottom_qg1 SPAN I {
    PADDING-RIGHT: 3px; DISPLAY: inline-block; FONT: 22px/37px Arial; VERTICAL-ALIGN: 1px
}
.b_qg1 {
    POSITION: absolute; LINE-HEIGHT: 100px; DISPLAY: inline-block; HEIGHT: 37px; OVERFLOW: hidden; TOP: 7px; RIGHT: 15px
}
.b_qg2 {
    POSITION: absolute; LINE-HEIGHT: 100px; DISPLAY: inline-block; HEIGHT: 37px; OVERFLOW: hidden; TOP: 7px; RIGHT: 15px
}
.b_qg3 {
    POSITION: absolute; LINE-HEIGHT: 100px; DISPLAY: inline-block; HEIGHT: 37px; OVERFLOW: hidden; TOP: 7px; RIGHT: 15px
}
.b_qg4 {
    POSITION: absolute; LINE-HEIGHT: 100px; DISPLAY: inline-block; HEIGHT: 37px; OVERFLOW: hidden; TOP: 7px; RIGHT: 15px
}
.b_qg5 {
    POSITION: absolute; LINE-HEIGHT: 100px; DISPLAY: inline-block; HEIGHT: 37px; OVERFLOW: hidden; TOP: 7px; RIGHT: 15px
}
.b_qg1 {
    WIDTH: 74px; BACKGROUND: 0px -289px
}
.b_qg2 {
    WIDTH: 86px; BACKGROUND: -84px -289px
}
.b_qg3 {
    WIDTH: 77px; BACKGROUND: 0px -336px; HEIGHT: 35px; TOP: 8px
}
.b_qg4 {
    WIDTH: 77px; BACKGROUND: -104px -336px; HEIGHT: 35px; TOP: 8px
}
.b_qg5 {
    WIDTH: 86px; BACKGROUND: -181px -289px
}
.siderbar_r {
    WIDTH: 239px; PADDING-RIGHT: 1px; FLOAT: right; OVERFLOW: hidden
}
.bizinfo {
    POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 18px; PADDING-RIGHT: 18px; ZOOM: 1; WORD-WRAP: break-word; FONT-SIZE: 12px; PADDING-TOP: 10px
}
.bizinfo DT {
    FONT-WEIGHT: 700
}
.bizinfo B {
    COLOR: #333
}
.bizinfo DD {
    COLOR: #666
}
.seemap {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 16px; DISPLAY: inline-block; WHITE-SPACE: nowrap; BACKGROUND-POSITION: 100% -804px; PADDING-TOP: 0px
}
.bizinfo DD SPAN {
    DISPLAY: inline
}
.bizinfo DD.map {
    WIDTH: 203px; DISPLAY: block; HEIGHT: 196px; OVERFLOW: hidden
}
DD.allmap {
    PADDING-BOTTOM: 5px; MARGIN: 7px 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: #fff; OVERFLOW: hidden; PADDING-TOP: 5px; box-shadow: 0 0 3px #aaa; border-radius: 7px
}
.seeAllmap {
    POSITION: relative; DISPLAY: block; OVERFLOW: hidden
}
.seeAllmap .zoomOut {
    POSITION: absolute; WIDTH: 199px; DISPLAY: block; HEIGHT: 199px; OVERFLOW: hidden; TOP: 0px; LEFT: 0px
}
.seeAllmap:hover .zoomOut {
    FILTER: alpha(opacity=80); BACKGROUND: url(http://pic2.58.com/n/tuan/v4/imgv2/zoomout.png) no-repeat 50% 50%; opacity: 0.8
}
.bizinfo DD.ck_map {
    TEXT-ALIGN: center
}
.bizinfo DD.ck_map A {
    BORDER-BOTTOM: #d8d8d8 1px solid; BORDER-LEFT: #d8d8d8 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 57px; PADDING-RIGHT: 57px; DISPLAY: inline-block; BACKGROUND: 0px -809px; HEIGHT: 24px; BORDER-TOP: #d8d8d8 1px solid; BORDER-RIGHT: #d8d8d8 1px solid; PADDING-TOP: 0px
}
.bizinfo DD.ck_map A:hover {
    TEXT-DECORATION: none
}
.map_t {
    MARGIN-TOP: 20px; WIDTH: 239px
}
.r_bt {
    LINE-HEIGHT: 29px; MARGIN-TOP: 30px; PADDING-LEFT: 20px; WIDTH: 219px; BACKGROUND: 0px -843px; HEIGHT: 29px; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.lister_r {
    PADDING-LEFT: 19px; WIDTH: 200px; ZOOM: 1; OVERFLOW: hidden
}
.rdl_1 {
    POSITION: relative; LINE-HEIGHT: 18px; WIDTH: 200px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/images/link_tj_img09.gif) no-repeat center bottom; HEIGHT: 210px; PADDING-TOP: 20px
}
.rdl_1 A {
    DISPLAY: block; HEIGHT: 166px; COLOR: #666; OVERFLOW: hidden
}
.rdl_1 A:hover {
    COLOR: #f00; TEXT-DECORATION: underline
}
.rdl_1 DT {
    WIDTH: 200px; OVERFLOW: hidden
}
.rdl_1 DT IMG {
    WIDTH: 200px; DISPLAY: block; MARGIN-BOTTOM: 6px; HEIGHT: 125px
}
.rdl_1 .info {
    POSITION: absolute; LINE-HEIGHT: 24px; WIDTH: 200px; BOTTOM: 10px; HEIGHT: 24px; COLOR: #999; LEFT: 0px
}
.rdl_1 .info .ltext {
    FLOAT: left; COLOR: #f00; FONT-SIZE: 18px; FONT-WEIGHT: 700
}
.rdl_1 .info .ltext I {
    FONT-STYLE: normal; PADDING-RIGHT: 2px; FONT-SIZE: 14px; VERTICAL-ALIGN: 1px
}
.rdl_1 .info .rtext {
    FLOAT: right; COLOR: #666
}
.rdl_1 DD.zk_t {
    POSITION: absolute; TEXT-ALIGN: center; WIDTH: 46px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/images/link_tj_img_1.png) no-repeat; HEIGHT: 26px; COLOR: #96624d; TOP: 19px; RIGHT: 0px; PADDING-TOP: 5px; _background: none
}
.rdl_1 DD.zk_t B {
    FONT-STYLE: oblique; PADDING-RIGHT: 3px; COLOR: #9b4928; FONT-SIZE: 14px; VERTICAL-ALIGN: -1px; FONT-WEIGHT: bold
}
.he_n {
    BACKGROUND: none transparent scroll repeat 0% 0%
}
.d_tp .lister_4 {
    BORDER-BOTTOM: 0px
}
.rdl_2 {
    POSITION: relative; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 16px; WIDTH: 210px; PADDING-RIGHT: 16px; FLOAT: left; HEIGHT: 215px; PADDING-TOP: 20px
}
.rdl_2 A {
    DISPLAY: block; HEIGHT: 175px; COLOR: #666; OVERFLOW: hidden
}
.rdl_2 A:hover {
    COLOR: #f00; TEXT-DECORATION: underline
}
.rdl_2 DT {
    WIDTH: 210px; OVERFLOW: hidden
}
.rdl_2 DT IMG {
    WIDTH: 210px; DISPLAY: block; MARGIN-BOTTOM: 6px; HEIGHT: 131px
}
.rdl_2 .info {
    POSITION: absolute; LINE-HEIGHT: 24px; WIDTH: 215px; BOTTOM: 10px; HEIGHT: 24px; COLOR: #999; LEFT: 12px
}
.rdl_2 .info .ltext {
    FLOAT: left; COLOR: #f00; FONT-SIZE: 18px; FONT-WEIGHT: 700
}
.rdl_2 .info .ltext I {
    FONT-STYLE: normal; PADDING-RIGHT: 2px; FONT-SIZE: 14px; VERTICAL-ALIGN: 1px
}
.rdl_2 .info .rtext {
    FLOAT: right
}
.rdl_2 DD.zk_t {
    POSITION: absolute; TEXT-ALIGN: center; WIDTH: 46px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/images/link_tj_img_1.png) no-repeat; HEIGHT: 26px; COLOR: #96624d; TOP: 19px; RIGHT: 16px; PADDING-TOP: 5px; _background: none
}
.rdl_2 DD.zk_t B {
    FONT-STYLE: oblique; PADDING-RIGHT: 3px; COLOR: #9b4928; FONT-SIZE: 14px; VERTICAL-ALIGN: -1px; FONT-WEIGHT: bold
}
.top_tj {
    BORDER-BOTTOM: #cbcbcb 1px solid; BORDER-LEFT: #cbcbcb 1px solid; WIDTH: 958px; MARGIN-BOTTOM: 30px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/images/link_tj_img12.gif) repeat-x; HEIGHT: 596px; OVERFLOW: hidden; BORDER-TOP: #cbcbcb 1px solid; BORDER-RIGHT: #cbcbcb 1px solid
}
.tg_end {
    TEXT-ALIGN: center; WIDTH: 958px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/images/link_tj_img10.gif) repeat-x; HEIGHT: 80px
}
.tp_tj {
    PADDING-LEFT: 5px
}
.k_gm {
    TEXT-ALIGN: center; LINE-HEIGHT: 25px; WIDTH: 69px; DISPLAY: inline-block; BACKGROUND: -172px -467px; HEIGHT: 27px !important; COLOR: #fff !important; FONT-SIZE: 13px
}
.se_gjz {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 23px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.se_gjz SPAN {
    FLOAT: left; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.se_gjz LABEL {
    FLOAT: right; PADDING-TOP: 2px
}
.se_gjz A {
    FONT-FAMILY: "锟斤拷锟斤拷"; COLOR: #333
}
.se_gjz B {
    COLOR: #ff6600
}
.recommend_link {
    BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 18px; WIDTH: 960px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 10px; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 10px
}
.recommend_link UL {
    WIDTH: 1040px
}
.recommend_link LI {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 14px; WIDTH: 405px; PADDING-RIGHT: 11px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/images/recommend_link_img.gif) no-repeat 0px 9px; FLOAT: left; OVERFLOW: hidden; MARGIN-RIGHT: 80px; PADDING-TOP: 2px
}
.recommend_link LI A {
    WIDTH: 405px; DISPLAY: block; HEIGHT: 24px; COLOR: #666; OVERFLOW: hidden
}
.recommend_link LI SPAN {
    FLOAT: left; FONT-WEIGHT: normal
}
.recommend_link LI STRONG {
    FLOAT: left; FONT-WEIGHT: normal
}
.recommend_link LI SPAN {
    WIDTH: 60px
}
.recommend_link LI B {
    WIDTH: 53px; COLOR: #ff0000
}
.recommend_link LI STRONG {
    WIDTH: 194px; TEXT-OVERFLOW: ellipsis; WHITE-SPACE: nowrap; OVERFLOW: hidden; CURSOR: pointer
}
.recommend_link LI B {
    FLOAT: right
}
.recommend_link LI EM {
    FLOAT: right
}
.recommend_link LI EM {
    TEXT-ALIGN: right; WIDTH: 93px
}
.recommend_link LI A:hover {
    COLOR: #ff6600 !important; TEXT-DECORATION: none
}
#btmrecommend .bar {
    BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/tgimg.png?v=20120709) no-repeat 0px 0px
}
.rightlist .bar {
    BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/tgimg.png?v=20120709) no-repeat 0px 0px
}
#btmrecommend .bar {
    PADDING-LEFT: 18px; BACKGROUND-REPEAT: repeat-x; FONT: 700 14px/33px Arial; BACKGROUND-POSITION: 0px -493px; COLOR: #000
}
.rightlist .bar {
    PADDING-LEFT: 18px; BACKGROUND-REPEAT: repeat-x; FONT: 700 14px/33px Arial; BACKGROUND-POSITION: 0px -493px; COLOR: #000
}
.rightlist .bar .fr {
    LINE-HEIGHT: 300px; WIDTH: 64px; PADDING-RIGHT: 5px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/refresh.png) no-repeat 0px -1px; HEIGHT: 29px; FONT-SIZE: 12px; OVERFLOW: hidden; FONT-WEIGHT: 400
}
.lister_4 {
    POSITION: relative; PADDING-LEFT: 5px; ZOOM: 1; OVERFLOW: hidden
}
.lister_4 .rdl {
    POSITION: relative; PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; WIDTH: 211px; PADDING-RIGHT: 15px; FLOAT: left; HEIGHT: 212px; PADDING-TOP: 15px
}
.rightlist {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: right; BORDER-TOP: #efefef 1px solid; PADDING-TOP: 0px
}
.rightlist .lister_4 {
    PADDING-LEFT: 0px
}
.rightlist .bar {
    PADDING-LEFT: 15px
}
.rightlist .lister_4 .rdl {
    PADDING-BOTTOM: 15px; MARGIN-TOP: -2px; PADDING-LEFT: 17px; PADDING-RIGHT: 13px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/dotte2.png) no-repeat 17px -5px; PADDING-TOP: 17px
}
.rightlist .rdl .info {
    LINE-HEIGHT: 45px; HEIGHT: 36px; OVERFLOW: hidden; LEFT: 3px
}
.siderbar {
    MARGIN: 18px 0px 0px; WIDTH: 243px; DISPLAY: inline; BACKGROUND: #fafafa; FLOAT: right; CLEAR: right; OVERFLOW: hidden
}
.siderbar .shadow {
    WIDTH: 217px; BOTTOM: -3px; LEFT: 2px
}
#bigimg {
    POSITION: absolute; TOP: 0px; LEFT: 0px
}
#bigimg LI {
    FLOAT: left
}
.miaosha {
    PADDING-BOTTOM: 10px; PADDING-LEFT: 28px; WIDTH: 711px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.msitem {
    MARGIN: 25px 26px 0px 0px; WIDTH: 210px; DISPLAY: inline-block; FLOAT: left; HEIGHT: 295px; _display: inline
}
.msitemhead {
    BORDER-BOTTOM: #aaa 1px solid; POSITION: relative; LINE-HEIGHT: 33px; PADDING-LEFT: 5px; BACKGROUND: #f6f6f6; HEIGHT: 33px
}
.msitemhead .showTime {
    POSITION: absolute; TOP: 0px; RIGHT: 2px
}
.msitemhead .showTime I.fenhao {
    WIDTH: 7px; BACKGROUND-POSITION: -11px -53px
}
.msitem_body {
    POSITION: relative; PADDING-BOTTOM: 40px; HEIGHT: 225px
}
.msitem_body A {
    DISPLAY: block; HEIGHT: 175px; OVERFLOW: hidden
}
.msitem_body IMG {
    DISPLAY: block
}
.msopt {
    POSITION: absolute; WIDTH: 210px; BOTTOM: 0px; HEIGHT: 35px; LEFT: 0px
}
.msprice {
    POSITION: absolute; TOP: -45px; RIGHT: 0px
}
.msprice_num {
    FONT: bold 24px/30px Arial; COLOR: #fb4e0b
}
.ms_nor_pirce {
    POSITION: absolute; PADDING-BOTTOM: 5px; LINE-HEIGHT: 18px; PADDING-LEFT: 0px; BOTTOM: 38px; PADDING-RIGHT: 0px; COLOR: #888; PADDING-TOP: 5px; LEFT: 0px
}
.msprice_num EM {
    PADDING-RIGHT: 3px; FONT: 12px/30px Arial
}
.msopt {
    BACKGROUND: url(http://pic2.58.com/n/tuan/special/2012dacu/css/qianggouanniu.gif) no-repeat 0px 0px; COLOR: #888
}
.msopt A {
    LINE-HEIGHT: 10; WIDTH: 49%; DISPLAY: inline-block; FLOAT: left; HEIGHT: 35px !important; OVERFLOW: hidden; TEXT-DECORATION: none
}
.msmore {
    TEXT-ALIGN: right; LINE-HEIGHT: 40px; PADDING-RIGHT: 28px; FONT-WEIGHT: 700
}
.zhongjiangrow TD.zhongjiang {
    BACKGROUND: url(http://pic2.58.com/n/tuan/special/2012dacu/css/gift_box_td.png?v=12) #ffffde no-repeat 100% 0px
}
.zhongjiangrow TD {
    BACKGROUND: #ffffde
}
.starlevel {
    BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/tgimg.png?v=20120709) no-repeat 0px 0px
}
.starlevel SPAN {
    BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/tgimg.png?v=20120709) no-repeat 0px 0px
}
.starlevel {
    WIDTH: 78px; VERTICAL-ALIGN: middle
}
.starlevel {
    POSITION: relative; LINE-HEIGHT: 20px; DISPLAY: inline-block; BACKGROUND-POSITION: 0px -441px; HEIGHT: 20px; FONT-SIZE: 0px; OVERFLOW: hidden
}
.starlevel SPAN {
    POSITION: relative; LINE-HEIGHT: 20px; DISPLAY: inline-block; BACKGROUND-POSITION: 0px -441px; HEIGHT: 20px; FONT-SIZE: 0px; OVERFLOW: hidden
}
.starlevel SPAN {
    POSITION: absolute; LINE-HEIGHT: 100px; BACKGROUND-POSITION: 0px -423px; TOP: 0px; LEFT: 0px
}
.starlevel_1 {
    WIDTH: 20%
}
.starlevel_2 {
    WIDTH: 40%
}
.starlevel_3 {
    WIDTH: 60%
}
.starlevel_4 {
    WIDTH: 80%
}
.starlevel_5 {
    WIDTH: 100%
}
.store {
    COLOR: #ff9e3e
}
.div_loading {
    PADDING-BOTTOM: 40px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/load16.gif) #fafafa no-repeat center center; PADDING-TOP: 40px
}
.allstore .arr {
    BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/tgimg.png?v=20120709) no-repeat 0px 0px
}
.starlevel {
    BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/tgimg.png?v=20120709) no-repeat 0px 0px
}
.starlevel SPAN {
    BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/tgimg.png?v=20120709) no-repeat 0px 0px
}
.bottomtic .buybtn {
    BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/tgimg.png?v=20120709) no-repeat 0px 0px
}
.c_blue {
    COLOR: #0066cc
}
.combar .tit {
    DISPLAY: block; FLOAT: left; MARGIN-RIGHT: 10px
}
.allstore {
    DISPLAY: block; FLOAT: left; MARGIN-RIGHT: 10px
}
.combar .comitem {
    DISPLAY: block; FLOAT: left; MARGIN-RIGHT: 10px
}
.comitem SPAN {
    DISPLAY: inline-block; MARGIN-RIGHT: 10px
}
.comitem A {
    DISPLAY: inline-block; MARGIN-RIGHT: 10px
}
.comitem A.cur {
    COLOR: #000
}
.comitem {
    LINE-HEIGHT: 24px; FONT-SIZE: 12px; PADDING-TOP: 5px; _padding-top: 8px
}
.comitem SPAN {
    COLOR: #000
}
.allstore {
    Z-INDEX: 2; POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 1px 10px 0px 1px; PADDING-LEFT: 10px; PADDING-RIGHT: 25px; FONT-SIZE: 12px; PADDING-TOP: 0px; _top: 1px
}
.allstore I {
    FONT-STYLE: normal
}
.allstore .c_blue {
    CURSOR: pointer
}
.allstoreH .c_blue {
    COLOR: #000
}
.allstore .arr {
    POSITION: absolute; WIDTH: 14px; DISPLAY: block; BACKGROUND-POSITION: 100% -589px; HEIGHT: 12px; TOP: 10px; RIGHT: 9px
}
.allstoreH {
    BORDER-BOTTOM: medium none; BORDER-LEFT: #e0e0e0 1px solid; BACKGROUND-COLOR: #fff; MARGIN: 0px 9px 0px 0px; BORDER-TOP: #e0e0e0 1px solid; BORDER-RIGHT: #e0e0e0 1px solid
}
.allstorelist {
    Z-INDEX: 9999; BORDER-BOTTOM: #e0e0e0 1px solid; POSITION: absolute; BORDER-LEFT: #e0e0e0 1px solid; PADDING-BOTTOM: 6px; LINE-HEIGHT: 24px; PADDING-LEFT: 0px; WIDTH: 171px; PADDING-RIGHT: 0px; DISPLAY: none; BACKGROUND: #fff; BORDER-TOP: medium none; TOP: 32px; BORDER-RIGHT: #e0e0e0 1px solid; PADDING-TOP: 6px; LEFT: -1px
}
.allstoreH .allstorelist {
    OVERFLOW-X: hidden; DISPLAY: block
}
.allstorelist A {
    PADDING-LEFT: 10px; DISPLAY: block
}
.allstorelist A:hover {
    BACKGROUND: #f5f5f5; TEXT-DECORATION: none
}
.moreAdd {
    BORDER-BOTTOM: #e1e1e4 1px solid; BORDER-LEFT: #e1e1e4 1px solid; MARGIN: 15px 18px; BACKGROUND: #fff; BORDER-TOP: #e1e1e4 1px solid; BORDER-RIGHT: #e1e1e4 1px solid; border-radius: 3px
}
.moreAdd:hover {
    BACKGROUND: #f0f0f0
}
.moreAdd A {
    TEXT-ALIGN: center; DISPLAY: block; FONT: 700 14px/31px Verdana; HEIGHT: 33px; TEXT-DECORATION: none
}
.bizinfo .clear {
    BORDER-BOTTOM: #fff 1px solid; MARGIN: 18px -18px 0px; BORDER-TOP: #ddd 1px solid
}
.buy_btn {
    BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/tgimg.png?v=20120709) no-repeat 0px 0px
}
.line {
    BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/tgimg.png?v=20120709) no-repeat 0px 0px
}
.buy_btn .o_btn {
    BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/tgimg.png?v=20120709) no-repeat 0px 0px
}
.seemap {
    BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/tgimg.png?v=20120709) no-repeat 0px 0px
}
.line {
    MARGIN: 10px auto; DISPLAY: block; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px -552px; HEIGHT: 1px; CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden
}
.order_top {
    BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.order_main {
    BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.order_main:after {
    LINE-HEIGHT: 0; DISPLAY: block; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden; CONTENT: "."
}
.order_top:after {
    LINE-HEIGHT: 0; DISPLAY: block; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden; CONTENT: "."
}
.order_wrap {
    MARGIN: 8px 0px 0px
}
.order_top {
    POSITION: relative; PADDING-BOTTOM: 18px; MARGIN: 0px 0px 13px; PADDING-LEFT: 18px; PADDING-RIGHT: 18px; ZOOM: 1; BACKGROUND: #fff; PADDING-TOP: 20px
}
.order_top H1 {
    FONT: 700 26px/1.2 "Microsoft YaHei", "锟斤拷锟斤拷"; COLOR: #000
}
.order_top P.des {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 20px/30px "微锟斤拷锟脚猴拷", "锟斤拷锟斤拷"; WORD-WRAP: break-word; COLOR: #777; PADDING-TOP: 10px
}
.order_tic {
    BORDER-BOTTOM: #e5e5e5 1px solid; POSITION: relative; TEXT-ALIGN: center; BORDER-LEFT: #e5e5e5 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 242px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 354px; FONT-SIZE: 14px; BORDER-TOP: #e5e5e5 1px solid; BORDER-RIGHT: #e5e5e5 1px solid; PADDING-TOP: 70px
}
.order_tic I {
    FONT-STYLE: normal
}
.order_pic {
    POSITION: relative; WIDTH: 680px; BACKGROUND: #f0f0f0; FLOAT: right; HEIGHT: 425px; OVERFLOW: hidden
}
.order_pic IMG {
    WIDTH: 680px; DISPLAY: block; HEIGHT: 425px
}
.shadow {
    POSITION: absolute; DISPLAY: block; BACKGROUND: #f0f0f0; HEIGHT: 2px; OVERFLOW: hidden
}
.aboutP TD {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; HEIGHT: 30px; COLOR: #666; PADDING-TOP: 8px
}
.aboutP I {
    COLOR: #333; FONT-WEIGHT: 700
}
.buy_btn {
    POSITION: absolute; TEXT-ALIGN: center; WIDTH: 231px; BACKGROUND-POSITION: 0px 0px; HEIGHT: 68px; TOP: -1px; LEFT: -5px
}
.buymums {
    LINE-HEIGHT: 1.5; FONT-SIZE: 12px
}
.buymums I {
    PADDING-RIGHT: 3px; COLOR: #fb4e0b; FONT-SIZE: 18px; VERTICAL-ALIGN: -2px; FONT-WEIGHT: 700
}
.buy_btn .value {
    FONT: bold 38px/64px Arial; WHITE-SPACE: nowrap; COLOR: #fff
}
.buy_btn .value I {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 4px; DISPLAY: inline-block; FONT: 18px/64px Arial; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.buy_btn .o_btn {
    POSITION: absolute; TEXT-INDENT: -99999px; DISPLAY: block; HEIGHT: 44px; TOP: 8px; RIGHT: 8px
}
.b_buy .o_btn {
    WIDTH: 102px; BACKGROUND-POSITION: -1000px 0px
}
.o_btn:focus {
    OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
.b_mg .o_btn {
    WIDTH: 116px; BACKGROUND-POSITION: 0px -122px
}
.b_jstart .o_btn {
    WIDTH: 116px; BACKGROUND-POSITION: 0px -167px; RIGHT: 15px
}
.b_miaosha .o_btn {
    WIDTH: 116px; BACKGROUND-POSITION: -127px -75px; RIGHT: 15px
}
.b_end .o_btn {
    WIDTH: 116px; BACKGROUND-POSITION: 0px -75px
}
.b_buy {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 138px; PADDING-RIGHT: 105px; PADDING-TOP: 0px
}
.b_mg {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 112px; PADDING-RIGHT: 131px; PADDING-TOP: 0px
}
.b_jstart {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 112px; PADDING-RIGHT: 131px; PADDING-TOP: 0px
}
.b_end {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 112px; PADDING-RIGHT: 131px; PADDING-TOP: 0px
}
.b_miaosha {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 112px; PADDING-RIGHT: 131px; PADDING-TOP: 0px
}
.showTime {
    COLOR: #666; FONT-SIZE: 12px
}
.showTime I {
    PADDING-RIGHT: 3px; FONT: 700 14px/2 Arial; COLOR: #333; VERTICAL-ALIGN: -1px; _vertical-align: 2px
}
.baozhang {
    POSITION: relative; PADDING-LEFT: 20px; ZOOM: 1; DISPLAY: block; OVERFLOW: hidden
}
.baozhang LI {
    TEXT-ALIGN: center; WIDTH: 100px; FLOAT: left
}
.baozhang LI A {
    PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/baozhang.png?v=20120507) no-repeat 50% -9px; HEIGHT: 22px; COLOR: #559402; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 30px
}
.baozhang LI .disable {
    PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/baozhang.png?v=20120507) no-repeat 50% -9px; HEIGHT: 22px; COLOR: #559402; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 30px
}
.baozhang LI.tui_7day {
    WIDTH: 120px; MARGIN-LEFT: 40px; _display: inline
}
.baozhang LI.tui_7day A {
    BACKGROUND-POSITION: 50% -112px
}
.baozhang LI.tui_guoqi A {
    BACKGROUND-POSITION: 50% -222px
}
.baozhang LI .disable {
    BACKGROUND-POSITION: 50% -60px; COLOR: #ccc; TEXT-DECORATION: none
}
.baozhang LI.tui_7day .disable {
    BACKGROUND-POSITION: 50% -164px
}
.baozhang LI.tui_guoqi .disable {
    BACKGROUND-POSITION: 50% -276px
}
.baozhang LI.tui_wfh {
    PADDING-LEFT: 35px; WIDTH: 135px
}
.baozhang LI.tui_wfh A {
    BACKGROUND-POSITION: 50% -338px
}
.baozhang LI.tui_wfh .disable {
    BACKGROUND-POSITION: 50% -392px
}
.mbottom {
    POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 18px; WIDTH: 960px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; HEIGHT: 40px; PADDING-TOP: 0px; LEFT: -18px
}
.share {
    POSITION: absolute; BOTTOM: 24px; HEIGHT: 18px; FONT-SIZE: 12px; LEFT: 16px
}
.share UL LI {
    LINE-HEIGHT: 16px; MARGIN: 0px 10px 0px 0px; DISPLAY: block; FLOAT: left; HEIGHT: 16px
}
.share UL LI A {
    BACKGROUND-IMAGE: url(http://pic2.58.com/n/tuan/v4/img/sico.png); LINE-HEIGHT: 62px; WIDTH: 16px; DISPLAY: inline-block; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 16px; COLOR: #333; OVERFLOW: hidden
}
.icon_xl {
    BACKGROUND-POSITION: 0px 0px
}
.icon_qq {
    BACKGROUND-POSITION: 0px -157px
}
.icon_rr {
    BACKGROUND-POSITION: 0px -52px
}
.icon_tx {
    BACKGROUND-POSITION: 0px -104px
}
.icon_wy {
    BACKGROUND-POSITION: 0px -131px
}
.icon_db {
    BACKGROUND-POSITION: 0px -78px
}
.icon_kx {
    BACKGROUND-POSITION: 0px -25px
}
.gf_bz {
    PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 20px
}
.gf_bz P {
    FONT-SIZE: 12px; PADDING-TOP: 15px
}
.gf_bz P B {
    DISPLAY: block; FONT-SIZE: 14px
}
.gf_bz SPAN {
    PADDING-RIGHT: 25px
}
.gf_bz SPAN IMG {
    DISPLAY: inline-block; VERTICAL-ALIGN: middle; CURSOR: pointer
}