.wrap {
    BORDER-BOTTOM: #e2e2e2 1px solid; BORDER-LEFT: #e2e2e2 1px solid; MARGIN: 10px auto 15px; WIDTH: 958px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/u1.png) #fff repeat-y 0px 0px; OVERFLOW: hidden; BORDER-TOP: #e2e2e2 1px solid; BORDER-RIGHT: #e2e2e2 1px solid
}
.wrap2 {
    BORDER-BOTTOM: #e2e2e2 1px solid; BORDER-LEFT: #e2e2e2 1px solid; MARGIN: 10px auto 15px; WIDTH: 958px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/u1.png) #fff repeat-y 0px 0px; OVERFLOW: hidden; BORDER-TOP: #e2e2e2 1px solid; BORDER-RIGHT: #e2e2e2 1px solid
}
.wrap2 {
    BACKGROUND: #fff
}
.wrap3 {
    PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; WIDTH: 938px; PADDING-RIGHT: 20px; PADDING-TOP: 20px
}
.wrap4 {

    BORDER-BOTTOM: #e2e2e2 1px solid; BORDER-LEFT: #e2e2e2 1px solid; MARGIN: 10px auto 15px; WIDTH: 958px; OVERFLOW: hidden; BORDER-TOP: #e2e2e2 1px solid; BORDER-RIGHT: #e2e2e2 1px solid;
}
.uleft {
    PADDING-BOTTOM: 20px; WIDTH: 165px; FLOAT: left; FONT-SIZE: 13px; OVERFLOW: hidden
}
.uright {
    PADDING-BOTTOM: 20px; PADDING-LEFT: 30px; WIDTH: 730px; PADDING-RIGHT: 30px; FLOAT: right; OVERFLOW: hidden; PADDING-TOP: 20px
}
.uright4 {
    PADDING-BOTTOM: 20px;  WIDTH: 100%; FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 20px
}
.uleft2 {
    PADDING-BOTTOM: 30px; PADDING-LEFT: 30px; WIDTH: 657px; PADDING-RIGHT: 30px; FLOAT: left; BORDER-RIGHT: #e8e8e8 1px solid; PADDING-TOP: 30px
}
.uright3 {
    PADDING-BOTTOM: 30px; PADDING-LEFT: 30px; WIDTH: 657px; PADDING-RIGHT: 30px; FLOAT: left; BORDER-RIGHT: #e8e8e8 1px solid; PADDING-TOP: 30px
}
.uright2 {
    PADDING-BOTTOM: 10px; PADDING-LEFT: 20px; WIDTH: 220px; PADDING-RIGHT: 20px; FLOAT: right; OVERFLOW: hidden; PADDING-TOP: 30px
}
.uleft3 {
    PADDING-BOTTOM: 10px; PADDING-LEFT: 20px; WIDTH: 220px; PADDING-RIGHT: 20px; FLOAT: right; OVERFLOW: hidden; PADDING-TOP: 30px
}
.uleft3 {
    WIDTH: 150px; FLOAT: left
}
.uright3 {
    BORDER-BOTTOM: 0px; BORDER-LEFT: #e8e8e8 1px solid; WIDTH: 707px; FLOAT: right; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.ul3 {
    WIDTH: 600px
}
.ur3 {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 50px; PADDING-TOP: 100px
}
.uleft H3 {
    PADDING-BOTTOM: 7px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; FONT-WEIGHT: 700; PADDING-TOP: 7px
}
.uleft LI A {
    PADDING-BOTTOM: 7px; LINE-HEIGHT: 18px; MARGIN: 2px 0px 2px 15px; PADDING-LEFT: 14px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND-POSITION: -646px -161px; HEIGHT: 16px; OVERFLOW: hidden; PADDING-TOP: 7px
}
.uleft LI A:hover {
    BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; BACKGROUND: #fff; COLOR: #729209; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid; PADDING-TOP: 6px
}
.uleft LI.cur A {
    BORDER-BOTTOM: #e8e8e8 1px solid; BORDER-LEFT: #f73d00 2px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png?v=20120507) #fff no-repeat 130px -267px; COLOR: #f73d00; BORDER-TOP: #e8e8e8 1px solid; BORDER-RIGHT: 0px; PADDING-TOP: 6px
}
.uleft LI.cur A:link {
    BORDER-BOTTOM: #e8e8e8 1px solid; BORDER-LEFT: #f73d00 2px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png?v=20120507) #fff no-repeat 130px -267px; COLOR: #f73d00; BORDER-TOP: #e8e8e8 1px solid; BORDER-RIGHT: 0px; PADDING-TOP: 6px
}
.uleft LI.cur A:visited {
    BORDER-BOTTOM: #e8e8e8 1px solid; BORDER-LEFT: #f73d00 2px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png?v=20120507) #fff no-repeat 130px -267px; COLOR: #f73d00; BORDER-TOP: #e8e8e8 1px solid; BORDER-RIGHT: 0px; PADDING-TOP: 6px
}
.uleft LI.cur A:hover {
    BORDER-BOTTOM: #e8e8e8 1px solid; BORDER-LEFT: #f73d00 2px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png?v=20120507) #fff no-repeat 130px -267px; COLOR: #f73d00; BORDER-TOP: #e8e8e8 1px solid; BORDER-RIGHT: 0px; PADDING-TOP: 6px
}
.uleft LI A:hover {
    FONT-WEIGHT: 700; BORDER-RIGHT: 0px; TEXT-DECORATION: none
}
.uleft LI.cur A {
    FONT-WEIGHT: 700; BORDER-RIGHT: 0px; TEXT-DECORATION: none
}
.uleft LI.cur A:hover {
    FONT-WEIGHT: 700; BORDER-RIGHT: 0px; TEXT-DECORATION: none
}
A.faq {
    BORDER-BOTTOM: #e2e2e2 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #e2e2e2 1px solid; PADDING-BOTTOM: 2px; MARGIN: 20px auto 0px; PADDING-LEFT: 5px; WIDTH: 130px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: #fff; COLOR: #729209; BORDER-TOP: #e2e2e2 1px solid; FONT-WEIGHT: 700; BORDER-RIGHT: #e2e2e2 1px solid; PADDING-TOP: 2px
}
A.faq:link {
    BORDER-BOTTOM: #e2e2e2 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #e2e2e2 1px solid; PADDING-BOTTOM: 2px; MARGIN: 20px auto 0px; PADDING-LEFT: 5px; WIDTH: 130px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: #fff; COLOR: #729209; BORDER-TOP: #e2e2e2 1px solid; FONT-WEIGHT: 700; BORDER-RIGHT: #e2e2e2 1px solid; PADDING-TOP: 2px
}
A.faq:visited {
    BORDER-BOTTOM: #e2e2e2 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #e2e2e2 1px solid; PADDING-BOTTOM: 2px; MARGIN: 20px auto 0px; PADDING-LEFT: 5px; WIDTH: 130px; PADDING-RIGHT: 5px; DISPLAY: block; BACKGROUND: #fff; COLOR: #729209; BORDER-TOP: #e2e2e2 1px solid; FONT-WEIGHT: 700; BORDER-RIGHT: #e2e2e2 1px solid; PADDING-TOP: 2px
}
H2#helptit A {
    BACKGROUND-POSITION: 0px -109px
}
H2#uctit {
    BACKGROUND-POSITION: 0px -81px
}
H2#abouttit A {
    BACKGROUND-POSITION: 0px -135px
}
H2#uctit {
    LINE-HEIGHT: 100px; MARGIN: 20px 0px 10px; WIDTH: 161px; DISPLAY: block; HEIGHT: 27px; OVERFLOW: hidden
}
H2#helptit A {
    LINE-HEIGHT: 100px; MARGIN: 20px 0px 10px; WIDTH: 161px; DISPLAY: block; HEIGHT: 27px; OVERFLOW: hidden
}
H2#abouttit A {
    LINE-HEIGHT: 100px; MARGIN: 20px 0px 10px; WIDTH: 161px; DISPLAY: block; HEIGHT: 27px; OVERFLOW: hidden
}
H2#businesstit A{
    BACKGROUND-POSITION: -162px -136px;
}
H2#businesstit A {
    LINE-HEIGHT: 100px; MARGIN: 20px 0px 10px; WIDTH: 161px; DISPLAY: block; HEIGHT: 27px; OVERFLOW: hidden
}
.uc_list {
    TEXT-ALIGN: center; WIDTH: 753px
}
.bt {
    BORDER-TOP: #e2e2e2 1px solid
}
.uc_list TD {
    PADDING-BOTTOM: 14px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; VERTICAL-ALIGN: middle; BORDER-TOP: #f2f1f1 1px solid; PADDING-TOP: 14px
}
.buy_list TD {
    PADDING-BOTTOM: 14px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; VERTICAL-ALIGN: middle; BORDER-TOP: #f2f1f1 1px solid; PADDING-TOP: 14px
}
.uc_list TD EM {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: #f2f1f1; PADDING-TOP: 0px
}
.uc_list TD.uc_list_1 {
    TEXT-ALIGN: left; PADDING-BOTTOM: 12px; LINE-HEIGHT: 22px; PADDING-LEFT: 10px; WIDTH: 300px; PADDING-RIGHT: 10px; HEIGHT: 50px; OVERFLOW: hidden; PADDING-TOP: 12px
}
.uc_list TH {
    TEXT-ALIGN: center; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BACKGROUND: #faf9f9; BORDER-TOP: #fff 1px solid; FONT-WEIGHT: 700; PADDING-TOP: 4px
}
.buy_list TH {
    TEXT-ALIGN: center; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BACKGROUND: #faf9f9; BORDER-TOP: #fff 1px solid; FONT-WEIGHT: 700; PADDING-TOP: 4px
}
.uc_list TR.tdover TD {
    BACKGROUND: #faf9f9
}
.uc_list_1 IMG {
    WIDTH: 73px; PADDING-RIGHT: 10px; DISPLAY: block; FLOAT: left; HEIGHT: 50px
}
.uc_list_1 SPAN {
    COLOR: #888
}
.uc_list_1 SPAN.red {
    COLOR: red
}
.daoqi {
    PADDING-LEFT: 17px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png?v=20120507) no-repeat 0px -550px; COLOR: #f30; TEXT-DECORATION: none
}
A.daoqi:hover {
    TEXT-DECORATION: none
}
UL.step {
    PADDING-BOTTOM: 0px; LINE-HEIGHT: 200px; PADDING-LEFT: 0px; WIDTH: 338px; PADDING-RIGHT: 0px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/ucico.png) #b9b9b9 no-repeat 0px 0px; HEIGHT: 27px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.utit .step {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.step2 {
    BACKGROUND-POSITION: 0px -27px
}
UL.step3 {
    BACKGROUND-POSITION: 0px -54px
}
.buy_list {
    WIDTH: 657px
}
.buy_list .zs I {
    FONT-STYLE: normal; PADDING-RIGHT: 3px; COLOR: #ff3300
}
.buy_list TD.tb_left {
    TEXT-ALIGN: left; PADDING-LEFT: 5px
}
.buy_list TH.tb_left {
    TEXT-ALIGN: left; PADDING-LEFT: 5px
}
.buy_list TD {
    TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-SIZE: 14px; PADDING-TOP: 10px
}
.buy_list TD.pname {
    TEXT-ALIGN: left; WIDTH: 330px
}
.buy_list .counts {
    BORDER-BOTTOM: #bbb 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #bbb 1px solid; PADDING-BOTTOM: 2px; MARGIN: 0px 5px; PADDING-LEFT: 0px; WIDTH: 50px; PADDING-RIGHT: 0px; FONT-SIZE: 18px; BORDER-TOP: #bbb 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #bbb 1px solid; PADDING-TOP: 2px; box-shadow: inset 1px 1px 2px #e4e4e4
}
.pcount A {
    BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 11px; WIDTH: 11px; DISPLAY: inline-block; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 11px; COLOR: #333; FONT-SIZE: 12px; VERTICAL-ALIGN: -2px; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.pcount A.no-munus {
    BORDER-BOTTOM: #efefef 1px solid; BORDER-LEFT: #efefef 1px solid; COLOR: #efefef; BORDER-TOP: #efefef 1px solid; BORDER-RIGHT: #efefef 1px solid
}
.pcount A:hover {
    BORDER-BOTTOM: #f60 1px solid; BORDER-LEFT: #f60 1px solid; COLOR: #f60; BORDER-TOP: #f60 1px solid; BORDER-RIGHT: #f60 1px solid
}
.buy_list .red STRONG {
    FONT-SIZE: 16px
}
.buy_list TD.allcount {
    TEXT-ALIGN: right; PADDING-RIGHT: 20px; FONT-WEIGHT: bold
}
.buy_list .allcount SPAN {
    COLOR: #f73d00; FONT-SIZE: 20px
}
.tb_add {
    BORDER-BOTTOM: #f0e5c9 1px solid; BORDER-LEFT: #f0e5c9 1px solid; MARGIN-TOP: 15px; BACKGROUND: #fff8e7; BORDER-TOP: #f0e5c9 1px solid; BORDER-RIGHT: #f0e5c9 1px solid
}
.tb_add TH {
    BORDER-BOTTOM: #f5edd8 1px solid; BORDER-LEFT: 0px; BACKGROUND: #fff8e7; COLOR: #985f04; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.tb_sel {
    BORDER-BOTTOM: #d6e4ce 1px solid; BORDER-LEFT: #d6e4ce 1px solid; MARGIN-TOP: 15px; BACKGROUND: #fff; BORDER-TOP: #d6e4ce 1px solid; BORDER-RIGHT: #d6e4ce 1px solid
}
.tb_sel TH {
    BORDER-BOTTOM: #d6e4ce 1px solid; BORDER-LEFT: 0px; BACKGROUND: #e1f0d8; COLOR: #567002; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.tb_sel TD {
    PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 6px
}
.dzc {
    WIDTH: 325px; FLOAT: left; MARGIN-RIGHT: 10px; BORDER-RIGHT: #e2e2e2 1px dashed
}
.ddl {
    WIDTH: 320px; FLOAT: left
}
.ddl LI LABEL {
    WIDTH: 90px
}
.ddl H3 {
    PADDING-LEFT: 98px
}
.ddl P {
    PADDING-LEFT: 98px
}
.bank_list {
    WIDTH: 657px
}
.bank_list TD {
    PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.bank_list TD P {
    FONT-SIZE: 14px
}
.bank_list TD H2 {
    MARGIN: 10px 0px 0px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.bank_list LABEL {
    LINE-HEIGHT: 200px; WIDTH: 117px; DISPLAY: inline-block; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/bank.png?v=20120507) no-repeat 0px 0px; HEIGHT: 29px; MARGIN-LEFT: 5px; VERTICAL-ALIGN: middle; OVERFLOW: hidden
}
LABEL.b_ali {
    BACKGROUND-POSITION: 0px -30px
}
LABEL.b_ICBC {
    BACKGROUND-POSITION: 0px -60px
}
LABEL.b_CMB {
    BACKGROUND-POSITION: 0px -150px
}
LABEL.b_ABC {
    BACKGROUND-POSITION: 0px -240px
}
LABEL.b_CCB {
    BACKGROUND-POSITION: 0px -330px
}
LABEL.b_SPDB {
    BACKGROUND-POSITION: 0px -90px
}
LABEL.b_BCOM {
    BACKGROUND-POSITION: 0px -180px
}
LABEL.b_CMBC {
    BACKGROUND-POSITION: 0px -270px
}
LABEL.b_SDB {
    BACKGROUND-POSITION: 0px -360px
}
LABEL.b_GDB {
    BACKGROUND-POSITION: 0px -120px
}
LABEL.b_BOC {
    BACKGROUND-POSITION: 0px -210px
}
LABEL.b_CEB {
    BACKGROUND-POSITION: 0px -300px
}
LABEL.b_CIB {
    BACKGROUND-POSITION: 0px -423px
}
LABEL.b_BOB {
    BACKGROUND-POSITION: 0px -568px
}
LABEL.b_CITIC {
    BACKGROUND-POSITION: 0px -390px
}
LABEL.b_shouji {
    BACKGROUND-POSITION: 0px -460px
}
LABEL.b_czk {
    BACKGROUND-POSITION: 0px -495px
}
.qa_list {
    MARGIN-TOP: 10px; BORDER-TOP: #e2e2e2 1px solid
}
.qa_list1 {
    BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.qa_list LI {
    BORDER-BOTTOM: #f2f1f1 1px solid; PADDING-BOTTOM: 15px; LINE-HEIGHT: 21px; PADDING-LEFT: 0px; WIDTH: 713px; PADDING-RIGHT: 20px; OVERFLOW: hidden; PADDING-TOP: 15px; _padding: 15px 20px 4px 0
}
.qa_list SPAN {
    FLOAT: right; COLOR: #999; MARGIN-LEFT: 3px
}
.qa_list STRONG {
    WIDTH: 150px; PADDING-RIGHT: 30px; DISPLAY: inline-block; FONT-SIZE: 14px
}
.qa_list A {
    MARGIN-LEFT: 7px
}
.qa_list EM {
    MARGIN: 0px 7px
}
.qa_list P.anstime {
    ZOOM: 1; OVERFLOW: hidden
}
.qa_list .replay {
    PADDING-LEFT: 30px
}
.askcon {
    PADDING-BOTTOM: 5px; PADDING-LEFT: 30px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.asker {
    PADDING-LEFT: 30px; BACKGROUND-POSITION: -349px 5px
}
.rang {
    BACKGROUND-POSITION: -348px -22px
}
.anscon {
    BORDER-BOTTOM: #f9f8f8 2px solid; MARGIN: 10px 0px 10px 30px; BORDER-RIGHT: #f9f8f8 1px solid
}
.anscon P {
    BORDER-BOTTOM: #e2e2e2 1px solid; BORDER-LEFT: #eee 1px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND: #fefefe; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #e2e2e2 1px solid; PADDING-TOP: 6px
}
.anscon SPAN {
    FLOAT: none; COLOR: #f73d00; FONT-WEIGHT: 700
}
.uright2 {
    LINE-HEIGHT: 23px
}
.uright2 IMG {
    MARGIN-TOP: 15px
}
.uright2 H3 {
    PADDING-BOTTOM: 5px; LINE-HEIGHT: 21px; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.uright2 P {
    MARGIN-BOTTOM: 20px
}
.uright2 UL {
    MARGIN-BOTTOM: 20px
}
.login {
    MARGIN: 40px 0px 0px
}
.login P.c9 {
    PADDING-LEFT: 114px; HEIGHT: 18px; FONT-SIZE: 12px
}
#remeber {
    _vertical-align: -1px
}
#registerform LI {
    LINE-HEIGHT: 1.5; MARGIN: 0px; HEIGHT: 64px
}
#registerform LI.i_font12 {
    HEIGHT: 25px
}
#registerform LI.i_font12 INPUT {
    _vertical-align: baseline
}
#registerform LI.title {
    PADDING-BOTTOM: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; HEIGHT: auto; PADDING-TOP: 0px
}
#loginform LI.title {
    PADDING-BOTTOM: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; HEIGHT: auto; PADDING-TOP: 0px
}
#loginform LI.title {
    MARGIN: 0px 0px -14px
}
.login P.c9 {
    PADDING-LEFT: 114px; HEIGHT: 18px; FONT-SIZE: 12px
}
.login LI {
    MARGIN-TOP: 17px
}
#remeber {
    _vertical-align: -1px
}
#registerform LI {
    MARGIN: 0px; HEIGHT: 64px
}
#registerform LI.i_font12 {
    HEIGHT: 25px
}
#registerform LI.i_font12 INPUT {
    _vertical-align: baseline
}
#registerform LI.title {
    PADDING-BOTTOM: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; HEIGHT: auto; PADDING-TOP: 0px
}
#loginform LI.title {
    PADDING-BOTTOM: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; HEIGHT: auto; PADDING-TOP: 0px
}
#loginform LI.title {
    MARGIN: 0px 0px -14px
}
.login .ulogin {
    MARGIN-TOP: 20px; COLOR: #666
}
.ishare A {
    LINE-HEIGHT: 18px; PADDING-LEFT: 20px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png?v=20120507) no-repeat 0px 0px; OVERFLOW: hidden
}
.ulogin A {
    LINE-HEIGHT: 18px; PADDING-LEFT: 20px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png?v=20120507) no-repeat 0px 0px; OVERFLOW: hidden
}
.sharecon A {
    LINE-HEIGHT: 18px; PADDING-LEFT: 20px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png?v=20120507) no-repeat 0px 0px; OVERFLOW: hidden
}
A.d_add {
    LINE-HEIGHT: 18px; PADDING-LEFT: 20px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png?v=20120507) no-repeat 0px 0px; OVERFLOW: hidden
}
A.d_del {
    LINE-HEIGHT: 18px; PADDING-LEFT: 20px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png?v=20120507) no-repeat 0px 0px; OVERFLOW: hidden
}
.rlogin A {
    LINE-HEIGHT: 18px; PADDING-LEFT: 20px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png?v=20120507) no-repeat 0px 0px; OVERFLOW: hidden
}
DIV.ulogin SPAN {
    LINE-HEIGHT: 18px; PADDING-LEFT: 20px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png?v=20120507) no-repeat 0px 0px; OVERFLOW: hidden
}
.ishare {
    BORDER-BOTTOM: 0px; POSITION: absolute; BORDER-LEFT: #e0e0e0 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 17px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND: #fff; HEIGHT: 16px; BORDER-TOP: #e0e0e0 1px solid; TOP: -30px; RIGHT: 15px; BORDER-RIGHT: #e0e0e0 1px solid; PADDING-TOP: 5px; _padding: 5px 20px 3px
}
.ishare LI {
    PADDING-BOTTOM: 0px; LINE-HEIGHT: 17px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; DISPLAY: inline-block; FLOAT: left; HEIGHT: 17px; VERTICAL-ALIGN: baseline; OVERFLOW: hidden; PADDING-TOP: 0px
}
.sharecon LI {
    PADDING-BOTTOM: 0px; LINE-HEIGHT: 17px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; DISPLAY: inline-block; FLOAT: left; HEIGHT: 17px; VERTICAL-ALIGN: baseline; OVERFLOW: hidden; PADDING-TOP: 0px
}
.allshare {
    MARGIN-TOP: 20px
}
.allshare P {
    LINE-HEIGHT: 25px; MARGIN-BOTTOM: 20px; HEIGHT: 120px; FONT-SIZE: 12px; OVERFLOW: hidden
}
.allshare P IMG {
    PADDING-RIGHT: 15px; FLOAT: left
}
UL.sharecon {
    DISPLAY: block; HEIGHT: 18px
}
.i_renren {
    LINE-HEIGHT: 18px; DISPLAY: inline-block
}
.i_sina {
    LINE-HEIGHT: 18px; DISPLAY: inline-block
}
.i_kaixin {
    LINE-HEIGHT: 18px; DISPLAY: inline-block
}
.i_douban {
    LINE-HEIGHT: 18px; DISPLAY: inline-block
}
.i_copy {
    LINE-HEIGHT: 18px; DISPLAY: inline-block
}
.i_qq {
    LINE-HEIGHT: 18px; DISPLAY: inline-block
}
.i_163 {
    LINE-HEIGHT: 18px; DISPLAY: inline-block
}
.i_qzone {
    LINE-HEIGHT: 18px; DISPLAY: inline-block
}
.i_taobao {
    LINE-HEIGHT: 18px; DISPLAY: inline-block
}
.i_360 {
    LINE-HEIGHT: 18px; DISPLAY: inline-block
}
.i_qq1 {
    LINE-HEIGHT: 18px; DISPLAY: inline-block
}
.i_baidu {
    LINE-HEIGHT: 18px; DISPLAY: inline-block
}
.i_2345 {
    LINE-HEIGHT: 18px; DISPLAY: inline-block
}
.i_tuan800 {
    LINE-HEIGHT: 18px; DISPLAY: inline-block
}
.i_alipay {
    LINE-HEIGHT: 18px; DISPLAY: inline-block
}
.ulogin P A {
    FONT-SIZE: 12px; MARGIN-RIGHT: 20px
}
A.i_renren {
    BACKGROUND-POSITION: 0px -52px
}
A.i_sina {
    BACKGROUND-POSITION: 0px 0px
}
A.i_kaixin {
    BACKGROUND-POSITION: 0px -26px
}
A.i_douban {
    BACKGROUND-POSITION: 0px -78px
}
A.i_copy {
    BACKGROUND-POSITION: 0px -938px
}
A.i_qq {
    BACKGROUND-POSITION: 0px -104px
}
A.i_163 {
    BACKGROUND-POSITION: 0px -131px
}
A.i_qzone {
    BACKGROUND-POSITION: 0px -157px
}
A.i_taobao {
    BACKGROUND-POSITION: 0px -372px
}
A.i_360 {
    BACKGROUND-POSITION: 0px -346px
}
A.i_qq1 {
    BACKGROUND-POSITION: 0px -320px
}
A.i_baidu {
    BACKGROUND-POSITION: 0px -459px
}
A.i_2345 {
    BACKGROUND-POSITION: 0px -490px
}
A.i_tuan800 {
    BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND-POSITION: 0px -520px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
A.i_alipay {
    BACKGROUND-POSITION: 0px -1076px
}
.tb_add TH.tb_left {
    PADDING-LEFT: 15px
}
.tb_add TD.pname {
    PADDING-LEFT: 15px
}
.tb_sel TH.tb_left {
    PADDING-LEFT: 15px
}
.tb_sel TD.tb_left {
    PADDING-LEFT: 15px
}
.tb_sel TD.pname {
    PADDING-LEFT: 15px
}
A.d_add {
    PADDING-LEFT: 21px; DISPLAY: inline-block; BACKGROUND-POSITION: 0px -210px
}
A.d_del {
    PADDING-LEFT: 21px; DISPLAY: inline-block; BACKGROUND-POSITION: 0px -210px
}
A.d_del {
    BACKGROUND-POSITION: 0px -183px
}
UL.sharecon {
    DISPLAY: block; HEIGHT: 18px
}
.quote_tit2_div {
    ZOOM: 1; OVERFLOW: hidden
}
.quote_tit2_div A {
    COLOR: #333; FONT-SIZE: 12px
}
.quote_tit2_div .sharecon {
    MARGIN-TOP: 25px; FLOAT: right
}
.quote_tit2_div A.i_qq {
    BACKGROUND-POSITION: 0px -104px
}
DIV.ulogin {
    COLOR: #888
}
DIV.ulogin SPAN {
    PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; MARGIN: 10px 10px 0px 0px; PADDING-LEFT: 15px; WIDTH: 82px; PADDING-RIGHT: 0px; DISPLAY: inline-block; BACKGROUND-POSITION: 0px -1100px; FLOAT: left; HEIGHT: 23px; PADDING-TOP: 6px
}
DIV.ulogin SPAN A {
    DISPLAY: block
}
.buy_form {
    WIDTH: 450px
}
.buy_form .ulogin A {
    MARGIN-TOP: 5px; WIDTH: 40px; DISPLAY: inline-block; FLOAT: left; MARGIN-RIGHT: 0px
}
.buy_form .ulogin P {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 98px; PADDING-RIGHT: 0px; COLOR: #888; PADDING-TOP: 10px
}
.buy_form .ulogin A.i_sina {
    WIDTH: 65px
}
#citylist {
    BORDER-BOTTOM: #e8e8e8 1px solid; BORDER-LEFT: #e8e8e8 1px solid; PADDING-BOTTOM: 39px; MARGIN: 10px auto 15px; PADDING-LEFT: 39px; WIDTH: 900px; PADDING-RIGHT: 39px; BACKGROUND: url(http://pic2.58.com/n/tuan/v3/shenqi.png) #fff no-repeat right top; OVERFLOW: hidden; BORDER-TOP: #e8e8e8 1px solid; BORDER-RIGHT: #e8e8e8 1px solid; PADDING-TOP: 39px
}
#citylist P {
    PADDING-BOTTOM: 20px; FONT: 700 18px/30px "寰蒋闆呴粦"
}
.hotcity A {
    MARGIN-LEFT: 10px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.citysear {
    PADDING-BOTTOM: 22px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 22px
}
.citysear SELECT {
    BORDER-BOTTOM: #e2e2e2 1px solid; BORDER-LEFT: #e2e2e2 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 100px; PADDING-RIGHT: 2px; BORDER-TOP: #e2e2e2 1px solid; BORDER-RIGHT: #e2e2e2 1px solid; PADDING-TOP: 2px
}
.citysear SELECT {
    MARGIN-LEFT: 10px
}
.citysear INPUT {
    MARGIN-LEFT: 10px
}
.clist H2 {
    PADDING-BOTTOM: 10px
}
.clist DT {
    LINE-HEIGHT: 26px; WIDTH: 30px; FLOAT: left; CLEAR: both; FONT-SIZE: 16px; FONT-WEIGHT: 700
}
.clist DD {
    LINE-HEIGHT: 24px; WIDTH: 840px; MARGIN-BOTTOM: 10px; FLOAT: left; FONT-SIZE: 13px
}
.clist DD.clist2 {
    WIDTH: 750px; PADDING-RIGHT: 90px
}
.clist DD A {
    DISPLAY: inline-block; MARGIN-RIGHT: 13px
}
.clist DD A.c2 {
    TEXT-DECORATION: underline
}
.yaoqing H2 {
    LINE-HEIGHT: 32px; MARGIN-TOP: 25px; PADDING-LEFT: 38px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png?v=20120507) no-repeat 0px -584px; HEIGHT: 34px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.yq_sina {
    LINE-HEIGHT: 32px; MARGIN-TOP: 25px; PADDING-LEFT: 38px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png?v=20120507) no-repeat 0px -584px; HEIGHT: 34px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.yq_txqq {
    LINE-HEIGHT: 32px; MARGIN-TOP: 25px; PADDING-LEFT: 38px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png?v=20120507) no-repeat 0px -584px; HEIGHT: 34px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
H2.yq_msn {
    BACKGROUND-POSITION: 0px -631px
}
H2.yq_mail {
    BACKGROUND-POSITION: 0px -681px
}
H2.yq_fx {
    BACKGROUND-POSITION: 0px -726px
}
.yq_tit {
    LINE-HEIGHT: 25px; MARGIN: 15px 0px; FONT-SIZE: 14px
}
.yaoqing .ucon {
    MARGIN: 10px 0px 0px 38px
}
.yq_copy {
    MARGIN: 10px 0px 0px 38px
}
.yaoqing LI {
    _margin-top: 10px
}
.yaoqing LI LABEL {
    WIDTH: 71px
}
.yaoqing LI .i_tips {
    LEFT: 320px
}
.yaoqing .i_text {
    WIDTH: 229px
}
.yaoqing LI.yq_yx .i_text {
    WIDTH: 100px
}
.yq_copy .i_text {
    WIDTH: 302px
}
.yaoqing .i_select {
    WIDTH: 110px
}
.yaoqing .allshare {
    MARGIN: 5px 0px 0px 38px
}
.yq_ifx {
    FONT-FAMILY: "榛戜綋"; MARGIN-BOTTOM: 10px; FONT-SIZE: 16px
}
.yq_sina {
    BORDER-BOTTOM: #ebebeb 1px solid; BORDER-LEFT: #ebebeb 1px solid; PADDING-BOTTOM: 7px; LINE-HEIGHT: 27px; MARGIN: 15px 50px 30px 0px; PADDING-LEFT: 50px; PADDING-RIGHT: 12px; DISPLAY: inline-block; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png?v=20120507) #fcfcfc no-repeat 10px -989px; HEIGHT: 25px; BORDER-TOP: #ebebeb 1px solid; BORDER-RIGHT: #ebebeb 1px solid; PADDING-TOP: 8px; border-radius: 4px
}
.yq_txqq {
    BORDER-BOTTOM: #ebebeb 1px solid; BORDER-LEFT: #ebebeb 1px solid; PADDING-BOTTOM: 7px; LINE-HEIGHT: 27px; MARGIN: 15px 50px 30px 0px; PADDING-LEFT: 50px; PADDING-RIGHT: 12px; DISPLAY: inline-block; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png?v=20120507) #fcfcfc no-repeat 10px -989px; HEIGHT: 25px; BORDER-TOP: #ebebeb 1px solid; BORDER-RIGHT: #ebebeb 1px solid; PADDING-TOP: 8px; border-radius: 4px
}
.yq_txqq {
    BACKGROUND-POSITION: 13px -1038px
}
.sharecj {
    BORDER-BOTTOM: #ebebeb 1px solid; BORDER-LEFT: #ebebeb 1px solid; PADDING-BOTTOM: 8px !important; PADDING-LEFT: 6px !important; PADDING-RIGHT: 6px !important; BACKGROUND: #fcfcfc; BORDER-TOP: #ebebeb 1px solid; BORDER-RIGHT: #ebebeb 1px solid; PADDING-TOP: 8px !important; border-radius: 4px
}
.sharecj LI {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 20px; PADDING-TOP: 0px
}
.mail_list {
    BORDER-BOTTOM: #e2e2e2 1px solid; BORDER-LEFT: #e2e2e2 1px solid; PADDING-BOTTOM: 20px; MARGIN: 10px 0px 0px 38px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND: #fbfbfb; BORDER-TOP: #e2e2e2 1px solid; BORDER-RIGHT: #e2e2e2 1px solid; PADDING-TOP: 20px
}
.mail_list H3 {
    MARGIN-BOTTOM: 10px; FONT-WEIGHT: bold
}
.allmail {
    WIDTH: 575px
}
.allmail2 {
    BORDER-BOTTOM: 0px; BORDER-LEFT: #cacaca 1px solid; WIDTH: 577px; BACKGROUND: #f6f6f6; BORDER-TOP: #cacaca 1px solid; BORDER-RIGHT: #cacaca 1px solid; _width: 594px
}
.allmail TD {
    PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; PADDING-TOP: 5px; _padding: 4px 0 4px 10px
}
.allmail TR.mbg TD {
    BACKGROUND: #f8f8f8
}
.mailcon {
    BORDER-BOTTOM: #cacaca 1px solid; BORDER-LEFT: #cacaca 1px solid; OVERFLOW-Y: auto; BACKGROUND: #fff; HEIGHT: 200px; OVERFLOW: hidden; BORDER-TOP: #cacaca 1px solid; BORDER-RIGHT: #cacaca 1px solid
}
.mail_list .ucon {
    MARGIN-LEFT: 0px
}
.acon {
    LINE-HEIGHT: 27px; MARGIN: 20px 0px; FONT-SIZE: 14px
}
.acon H3 {
    MARGIN: 10px 0px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.acon H2 {
    MARGIN: 10px 0px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.acon H2 {
    BORDER-BOTTOM: #e2e2e2 1px solid; MARGIN: 20px 0px 10px
}
.acon P {
    PADDING-BOTTOM: 3px; TEXT-INDENT: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 3px
}
.agrment P {

}
.uright .agrment LI {
    LIST-STYLE-TYPE: none !important; LIST-STYLE-IMAGE: none !important
}
.acon UL {
    MARGIN-LEFT: 20px
}
.meiti LI {
    BORDER-BOTTOM: #f2f1f1 1px solid; MARGIN-TOP: 15px; HEIGHT: 120px
}
.meiti H3 {
    PADDING-LEFT: 15px; MARGIN-BOTTOM: 10px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png?v=20120507) no-repeat 0px -271px; FONT-SIZE: 14px
}
.meiti IMG {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 10px; FLOAT: left; PADDING-TOP: 0px
}
.meiti P {
    LINE-HEIGHT: 21px; PADDING-LEFT: 15px
}
.meiti P.mtinfo {
    MARGIN-BOTTOM: 7px
}
.joblist {
    WIDTH: 100%; OVERFLOW: hidden
}
.joblist LI {
    WIDTH: 230px; FLOAT: left
}
.joblist UL {
    ZOOM: 1; DISPLAY: block; CLEAR: both; OVERFLOW: hidden
}
.jobcon {
    FONT-SIZE: 12px
}
.jobcon STRONG {
    MARGIN-LEFT: 20px
}
.dingyue {
    BORDER-BOTTOM: #f0e5c9 1px solid; BORDER-LEFT: #f0e5c9 1px solid; PADDING-BOTTOM: 20px; LINE-HEIGHT: 30px; MARGIN: 20px 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND: #fff8e7; BORDER-TOP: #f0e5c9 1px solid; BORDER-RIGHT: #f0e5c9 1px solid; PADDING-TOP: 20px
}
.utit2 {
    PADDING-LEFT: 14px; FONT-FAMILY: "瀹嬩綋"; FONT-SIZE: 14px
}
.return_uc{text-align:left;}
.return_uc a{font-size:14px;color:#ee5500;}
.ulcon {
    MARGIN-TOP: 30px
}
.ulcon H2 {
    FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.ulcon .i_tips {
    WIDTH: 300px
}
.wz {
    PADDING-BOTTOM: 30px
}
.wz H3 {
    PADDING-BOTTOM: 0px; LINE-HEIGHT: 34px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "榛戜綋"; COLOR: #f73d00; FONT-SIZE: 20px; PADDING-TOP: 20px
}
.wz H3 SPAN {
    TEXT-ALIGN: center; WIDTH: 34px; PADDING-RIGHT: 10px; DISPLAY: inline-block; FONT-FAMILY: Arial; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png?v=20120507) no-repeat 0px -775px; FLOAT: left; HEIGHT: 34px; COLOR: #fff; FONT-SIZE: 18px; OVERFLOW: hidden
}
.wz P {
    LINE-HEIGHT: 27px; PADDING-LEFT: 45px; FONT-SIZE: 14px
}
.wz H3 {
    OVERFLOW: hidden; _zoom: 1
}
.wz DIV {
    OVERFLOW: hidden; _zoom: 1
}
.wzdetail {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 45px; PADDING-RIGHT: 0px; PADDING-TOP: 15px
}
.wz IMG {
    WIDTH: 264px; FLOAT: left; HEIGHT: 268px; PADDING-TOP: 15px
}
.wzdetailr {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 102px; WIDTH: 223px; PADDING-RIGHT: 33px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/wz_bg.png) no-repeat left top; FLOAT: right; HEIGHT: 230px; COLOR: #999; PADDING-TOP: 71px
}
.wzdetailr OL {
    LINE-HEIGHT: 200%; LIST-STYLE-TYPE: decimal
}
.fix {
    HEIGHT: 246px; PADDING-TOP: 55px
}
.wzd1 {
    PADDING-LEFT: 30px
}
.uc_acon {
    LINE-HEIGHT: 25px; MARGIN: 20px 0px; FONT-SIZE: 12px; OVERFLOW: hidden; _zoom: 1
}
.uc_acon H3 {
    MARGIN: 10px 0px 5px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.uc_aconr {
    LINE-HEIGHT: 28px; WIDTH: 220px; FLOAT: right
}
.uc_aconl {
    MARGIN-RIGHT: 240px
}
.uc_aconl A {
    DISPLAY: inline-block
}
.uc_aconl I {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; COLOR: #ccc; PADDING-TOP: 0px
}
#questionpostform .my_qa LI {
    WIDTH: 480px; OVERFLOW: hidden
}
.comment {
    WIDTH: 400px; OVERFLOW: hidden
}
.comment_t {
    MARGIN-BOTTOM: 15px
}
.comment_t {
    FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.comment_t P {
    FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.comment_s .star_rating {
    MARGIN: 10px 0px
}
.comment_s .star_list {
    POSITION: relative; WIDTH: 110px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/ucico.png) no-repeat -149px -172px; HEIGHT: 20px; VERTICAL-ALIGN: top
}
.comment_s SPAN {
    DISPLAY: inline-block
}
.comment_s .star_list {
    DISPLAY: inline-block
}
.comment_s SPAN {
    LINE-HEIGHT: 20px; HEIGHT: 20px
}
.comment_s .star {
    POSITION: absolute; TEXT-INDENT: -99999px; DISPLAY: block; HEIGHT: 20px; TOP: 0px; LEFT: 0px
}
.comment_s .star:hover {
    BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/ucico.png) no-repeat 0px -172px
}
.comment_s A.current {
    BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/ucico.png) no-repeat 0px -172px
}
.comment_s A.one {
    Z-INDEX: 5; WIDTH: 20px
}
.comment_s A.two {
    Z-INDEX: 4; WIDTH: 40px
}
.comment_s A.three {
    Z-INDEX: 3; WIDTH: 70px
}
.comment_s A.four {
    Z-INDEX: 2; WIDTH: 90px
}
.comment_s A.five {
    Z-INDEX: 1; WIDTH: 110px
}
.comment_s A.current {
    Z-INDEX: 0
}
.comment_w {
    WIDTH: 400px; MARGIN-BOTTOM: 10px; HEIGHT: 60px
}
.coupon_list {
    OVERFLOW-Y: auto; HEIGHT: 150px
}
.coupon_list TABLE {
    MARGIN: 0px auto; WIDTH: 100%; BORDER-COLLAPSE: collapse
}
.coupon_list TABLE TH {
    BORDER-BOTTOM: #e2e2e2 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #e2e2e2 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; HEIGHT: 25px; BORDER-TOP: #e2e2e2 1px solid; BORDER-RIGHT: #e2e2e2 1px solid; PADDING-TOP: 0px
}
.coupon_list TABLE TD {
    BORDER-BOTTOM: #e2e2e2 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #e2e2e2 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; HEIGHT: 25px; BORDER-TOP: #e2e2e2 1px solid; BORDER-RIGHT: #e2e2e2 1px solid; PADDING-TOP: 0px
}
#couponResult {
    LINE-HEIGHT: 20px; MARGIN-TOP: 10px; HEIGHT: 20px
}
.p_dz LI {
    POSITION: relative; PADDING-BOTTOM: 10px; LINE-HEIGHT: 24px; PADDING-LEFT: 70px; WIDTH: 600px; PADDING-RIGHT: 0px; ZOOM: 1; DISPLAY: block; PADDING-TOP: 0px
}
.p_dz LABEL {
    POSITION: absolute; TEXT-ALIGN: right; WIDTH: 70px; TOP: 0px; LEFT: 0px
}
#plist LI.last {
    BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
TR.last TD {
    BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
TR.last TD {
    BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#changebound {
    WIDTH: 600px
}
#toupbound {
    MARGIN-LEFT: 71px
}
.tips5 {
    MARGIN-TOP: -20px; DISPLAY: block; MARGIN-BOTTOM: 15px; COLOR: #f00
}
#tuikuan1 {
    PADDING-LEFT: 60px
}
.tuikuanfs {
    COLOR: #888
}
.tuikuanfs TH {
    TEXT-ALIGN: left; COLOR: #000
}
#tuikuan1 .dev {
    BORDER-LEFT: #ccc 1px dotted; WIDTH: 70px
}
#tuikuan1 .ncbtn {
    MARGIN-TOP: 10px
}
#tuikuan2 .text {
    WIDTH: auto
}
#tuikuan2 {
    MARGIN-BOTTOM: 10px
}
#tuikuan2 H2 {
    PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.tkyuany LI {
    WIDTH: 49%; FLOAT: left
}
.tkyuany LI.last {
    WIDTH: auto; FLOAT: none; CLEAR: both
}
.tkyuany INPUT {
    MARGIN-RIGHT: 4px
}
.selecjindu {
    WIDTH: 100%; COLOR: #888
}
.btnbar {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
DIV.btnbar .ncbtn {
    FLOAT: right; MARGIN-RIGHT: 0px
}
.tksteps LI {
    POSITION: relative; PADDING-LEFT: 16px; ZOOM: 1; FONT: 700 14px/32px Arial; FLOAT: left; COLOR: #888
}
.tksteps LI EM {
    POSITION: absolute; WIDTH: 12px; DISPLAY: block; FLOAT: left; HEIGHT: 32px; TOP: -1px; LEFT: 4px
}
.tksteps LI.cur {
    COLOR: #f16905
}
#btmrecommend {
    BORDER-BOTTOM: #ccc 1px solid; POSITION: relative; BORDER-LEFT: #ccc 1px solid; WIDTH: 958px; MARGIN-BOTTOM: 15px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/4colums.gif) #fff repeat-y -2px 0px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.b_top {
    BORDER-BOTTOM: #ccc 1px solid; POSITION: relative; BORDER-LEFT: #ccc 1px solid; WIDTH: 958px; MARGIN-BOTTOM: 15px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/4colums.gif) #fff repeat-y -2px 0px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
#bfd_icon {
    POSITION: absolute; BOTTOM: 3px; RIGHT: 3px
}
#btmrecommend .bar {
    PADDING-LEFT: 18px; FONT: 700 14px/33px Arial; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/tgimg.png) repeat-x 0px -493px; COLOR: #000
}
.lister_4 {
    BORDER-BOTTOM: #ccc 1px solid; POSITION: relative; PADDING-LEFT: 5px; ZOOM: 1; HEIGHT: 100%; OVERFLOW: hidden
}
.b_top {
    MARGIN-BOTTOM: 13px !important
}
.l_tops {
    BORDER-BOTTOM: medium none; BORDER-TOP: #ccc 1px solid
}
.shadow_1 {
    POSITION: absolute; WIDTH: 974px; BOTTOM: -3px; BACKGROUND: #f0f0f0; HEIGHT: 2px; LEFT: 2px
}
.l_tops SPAN.rtext {
    COLOR: #888
}
.l_tops SPAN.rtext B {
    COLOR: #000; FONT-SIZE: 13px !important; FONT-WEIGHT: normal
}
#btmrecommend .lister_4 {
    OVERFLOW: hidden
}
.lister_4 .rdl {
    POSITION: relative; PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; WIDTH: 211px; PADDING-RIGHT: 15px; FLOAT: left; HEIGHT: 212px; PADDING-TOP: 15px
}
.rdl A {
    COLOR: #333
}
.rdl A:hover {
    COLOR: #f00; TEXT-DECORATION: underline
}
.rdl DT {
    WIDTH: 210px; OVERFLOW: hidden
}
.rdl DT IMG {
    WIDTH: 210px; DISPLAY: block; HEIGHT: 131px
}
.rdl .info {
    POSITION: absolute; LINE-HEIGHT: 36px; WIDTH: 240px; BOTTOM: 10px; HEIGHT: 36px; LEFT: 0px
}
.rdl .info .ltext {
    FLOAT: left; COLOR: #f00; MARGIN-LEFT: 15px; FONT-SIZE: 18px; FONT-WEIGHT: 700
}
.rdl .info .ltext I {
    FONT-STYLE: normal; PADDING-RIGHT: 3px; FONT-SIZE: 12px
}
.rdl .info .rtext {
    FLOAT: right; MARGIN-RIGHT: 15px
}
.rdl .info .rtext B {
    PADDING-RIGHT: 3px; FONT-SIZE: 14px
}
.btmlist {
    POSITION: relative; MARGIN: 0px -30px 0px 0px; ZOOM: 1
}
.btmlist:after {
    LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden; CONTENT: " "
}
.btmlist H3 {
    FONT-SIZE: 14px
}
.btmlist LI {
    BORDER-BOTTOM: #ddd 1px solid; POSITION: relative; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 15px; MARGIN: 0px 15px 15px 0px; PADDING-LEFT: 15px; WIDTH: 210px; PADDING-RIGHT: 15px; BACKGROUND: #fff; FLOAT: left; HEIGHT: 224px; COLOR: #999; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 15px
}
.btmlist LI A {
    COLOR: #999; FONT-WEIGHT: 400
}
.btmlist H2 IMG {
    WIDTH: 210px; DISPLAY: block; MARGIN-BOTTOM: 8px; HEIGHT: 131px
}
.btmlist P {
    POSITION: absolute; WIDTH: 212px; BOTTOM: 11px; DISPLAY: block; PADDING-TOP: 13px; LEFT: 15px
}
.btmlist P A {
    LINE-HEIGHT: 70px; WIDTH: 86px; DISPLAY: block; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/iico.png) no-repeat -167px -312px; FLOAT: right; HEIGHT: 21px; OVERFLOW: hidden
}
.btmlist P A:hover {
    BACKGROUND-POSITION: -77px -312px
}
.btmlist P SPAN {
    FONT: 700 14px "Times New Roman"; COLOR: red
}
#btmrecommend222 #bfd_icon {
    POSITION: absolute; BOTTOM: 1px; RIGHT: 26px
}
#btmrecommend222 UL {
    ZOOM: 1
}
.ddiscount {
    POSITION: absolute; TEXT-ALIGN: center; FONT: 700 14px/78px tahoma; COLOR: #fff
}
.ddiscount I {
    POSITION: absolute; LINE-HEIGHT: 12px; FONT-SIZE: 12px; TOP: 0px; RIGHT: 0px; FONT-WEIGHT: 400
}
.ddiscount B {
    TEXT-ALIGN: center; MARGIN: 0px auto; DISPLAY: block; OVERFLOW: hidden
}
.rdl .ddiscount {
    LINE-HEIGHT: 48px; WIDTH: 48px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/zkpic2.png) no-repeat; HEIGHT: 47px; TOP: 3px; RIGHT: 3px; PADDING-TOP: 1px; _background: none
}
.rdl .ddiscount B {
    WIDTH: 28px; FONT-SIZE: 18px
}
.bd_wz H3 {
    FONT-SIZE: 14px; FONT-WEIGHT: normal; PADDING-TOP: 26px
}
.bd_wz H3 {
    PADDING-LEFT: 36px
}
.bd_wz DT {
    PADDING-LEFT: 36px
}
.bd_wz DL {
    BORDER-BOTTOM: #f2f1f1 1px solid; POSITION: relative; PADDING-BOTTOM: 28px; PADDING-LEFT: 0px; WIDTH: 750px; PADDING-RIGHT: 0px; ZOOM: 1; FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 28px
}
.bd_wz DT {
    WIDTH: 525px; FLOAT: left; COLOR: #666
}
.bd_wz DT IMG {
    PADDING-RIGHT: 30px
}
.bd_wz DD {
    LINE-HEIGHT: 30px; FLOAT: left
}
.bd_wz DD A {
    WHITE-SPACE: nowrap; MARGIN-LEFT: 10px; TEXT-DECORATION: underline
}
.bd_wz DL.pd {
    PADDING-TOP: 76px
}
.bd_wz .ncbtn INPUT {
    WIDTH: 86px
}
.bd_sz {
    POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; WIDTH: 395px; PADDING-RIGHT: 0px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/images/bd_img_09.gif); HEIGHT: 41px; TOP: 24px; RIGHT: -12px; PADDING-TOP: 8px
}
.bd_sz LI {
    LINE-HEIGHT: 25px; DISPLAY: inline; MARGIN-RIGHT: 7px
}
.bd_sz LI INPUT {
    WIDTH: 13px; HEIGHT: 13px
}
.bd_sz LI INPUT.sz_bj {
    BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; WIDTH: 44px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/images/bd_img_03.gif); HEIGHT: 25px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.fxnr_s DT {
    FLOAT: left
}
.fxnr_s DD {
    FLOAT: left
}
.fxnr_s DD {
    WIDTH: 330px
}
.fxnr_s LI LABEL {
    CURSOR: pointer
}
.fxnr_s DD LI {
    POSITION: relative; DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 6px
}
.bg_s1 {
    WIDTH: 18px; DISPLAY: block; HEIGHT: 18px
}
.bg_s2 {
    WIDTH: 18px; DISPLAY: block; HEIGHT: 18px
}
.bg_s3 {
    WIDTH: 18px; DISPLAY: block; HEIGHT: 18px
}
.bg_s4 {
    WIDTH: 18px; DISPLAY: block; HEIGHT: 18px
}
.bg_s5 {
    WIDTH: 18px; DISPLAY: block; HEIGHT: 18px
}
.bg_s6 {
    WIDTH: 18px; DISPLAY: block; HEIGHT: 18px
}
.bg_s7 {
    WIDTH: 18px; DISPLAY: block; HEIGHT: 18px
}
.bg_s1 {
    BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png) no-repeat 0px 0px
}
.bg_s2 {
    BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png) no-repeat 0px -26px
}
.bg_s3 {
    BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png) no-repeat 0px -52px
}
.bg_s4 {
    BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png) no-repeat 0px -76px
}
.bg_s5 {
    BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png) no-repeat 0px -104px
}
.bg_s6 {
    BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png) no-repeat 0px -131px
}
.bg_s7 {
    BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/sico.png) no-repeat 0px -157px
}
.zitise_s {
    COLOR: #999
}
.zitise2_s {
    COLOR: #222
}
.hide {
    DISPLAY: none
}
.share_s {
    CURSOR: pointer
}
.fxzhgpy {
    BORDER-BOTTOM: #e49e61 1px solid; POSITION: absolute; BORDER-LEFT: #e49e61 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 10px; WIDTH: 170px; PADDING-RIGHT: 10px; DISPLAY: block; BACKGROUND: #ffffe1; HEIGHT: 25px; COLOR: #000; BORDER-TOP: #e49e61 1px solid; TOP: 29px; BORDER-RIGHT: #e49e61 1px solid; PADDING-TOP: 0px; LEFT: 0px
}
.fxzhgpy EM {
    COLOR: #45bcdf; FONT-WEIGHT: normal
}
.iconbgs1 {
    POSITION: absolute; WIDTH: 9px; DISPLAY: block; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/images/iconbgs1.gif) no-repeat; HEIGHT: 8px; TOP: 22px; LEFT: 10px
}
DL {
    PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
    PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
    PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.success {
    BORDER-BOTTOM: #ffb864 1px solid; BORDER-LEFT: #ffb864 1px solid; PADDING-BOTTOM: 10px; MARGIN: 5px auto 10px; PADDING-LEFT: 0px; WIDTH: 958px; PADDING-RIGHT: 0px; BACKGROUND: #fff7eb; BORDER-TOP: #ffb864 1px solid; BORDER-RIGHT: #ffb864 1px solid; PADDING-TOP: 10px
}
.fail {
    BORDER-BOTTOM: #ffb864 1px solid; BORDER-LEFT: #ffb864 1px solid; PADDING-BOTTOM: 10px; MARGIN: 5px auto 10px; PADDING-LEFT: 0px; WIDTH: 958px; PADDING-RIGHT: 0px; BACKGROUND: #fff7eb; BORDER-TOP: #ffb864 1px solid; BORDER-RIGHT: #ffb864 1px solid; PADDING-TOP: 10px
}
.success P {
    TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 40px; MARGIN: 0px auto; PADDING-LEFT: 50px; WIDTH: 204px; PADDING-RIGHT: 0px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/zficon.gif) no-repeat; HEIGHT: 40px; COLOR: #ff7214; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.fail DL {
    TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 34px; MARGIN: 0px auto; PADDING-LEFT: 56px; WIDTH: 309px; PADDING-RIGHT: 0px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/zficon.gif) no-repeat 0px -66px; HEIGHT: auto; PADDING-TOP: 0px
}
.fail DL DT {
    COLOR: #da0000; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.fail DL DD {
    COLOR: #333
}
.ping {
    BORDER-BOTTOM: #dcdcdc 1px solid; POSITION: relative; TEXT-ALIGN: left; BORDER-LEFT: #dcdcdc 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 22px; MARGIN: 0px 0px 0px 100px; MIN-HEIGHT: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: auto !important; COLOR: #f83b01; BORDER-TOP: #dcdcdc 1px solid; BORDER-RIGHT: #dcdcdc 1px solid; PADDING-TOP: 5px
}
.ping_i {
    POSITION: absolute; WIDTH: 7px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/images/i.png) no-repeat; HEIGHT: 7px; OVERFLOW: hidden; TOP: -1px; LEFT: -7px
}
.ping SPAN {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; COLOR: #b5b5b5; PADDING-TOP: 0px
}
TD.noline {
    PADDING-BOTTOM: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-TOP: 0px
}
.order_list {
    WIDTH: 100%
}
.order_list EM {
    MARGIN: 0px 5px; COLOR: #999
}
.tuimg_m1 IMG {
    WIDTH: 75px; HEIGHT: 50px
}
.biati_m1 TH {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; WHITE-SPACE: nowrap; BACKGROUND: #faf9f9; HEIGHT: 30px; COLOR: #666; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.biati_m2 {
    BACKGROUND: #faf9f9; HEIGHT: 30px; COLOR: #666
}
.biati_m2 TD {
    BORDER-BOTTOM: #e9e9e9 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BORDER-TOP: #e9e9e9 1px solid; PADDING-TOP: 0px
}
.leftbian {
    BORDER-LEFT: #e9e9e9 1px solid
}
.rightbian {
    BORDER-RIGHT: #e9e9e9 1px solid
}
.rightbian SPAN {
    MARGIN-LEFT: 10px
}
.nr_list TD {
    BORDER-BOTTOM: #e9e9e9 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; WHITE-SPACE: nowrap; HEIGHT: 70px; PADDING-TOP: 0px
}
.nr_list TD.baibian {
    BORDER-BOTTOM: #fff 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.nr_list TD.baibian2 {
    BORDER-LEFT: #e9e9e9 1px solid; BORDER-RIGHT: #e9e9e9 1px solid
}
.nr_list TD.baibian3 {
    BORDER-BOTTOM: #fff 1px solid
}
.nr_tu1 H3 {
    PADDING-LEFT: 10px
}
.nr_tu1 P {
    PADDING-LEFT: 10px
}
.juzhong H3 {
    PADDING-LEFT: 10px
}
.juzhong P {
    PADDING-LEFT: 10px
}
.nr_tu1 H3 {
    FONT-WEIGHT: normal
}
.juzhong H3 {
    FONT-WEIGHT: normal
}
.nr_tu1 P {
    COLOR: #888; FONT-WEIGHT: bold
}
.nr_tu1 P SPAN {
    MARGIN-LEFT: 5px
}
.pingjia1 A {
    TEXT-ALIGN: center; PADDING-BOTTOM: 4px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/btn_bg1.gif) no-repeat; COLOR: #fff; CURSOR: pointer; PADDING-TOP: 4px
}
.pingjia1 A:hover {
    COLOR: #fff; TEXT-DECORATION: none
}
.yunfei1 {
    COLOR: #999
}
.bgse01 {
    BACKGROUND: #fffffb
}
.fkqx_m {
    MARGIN: 0px auto
}
.fkqx_m TD {
    BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; HEIGHT: 20px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.juzhong {
    BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
.juzhong TH {
    TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px; _padding-left: 5px
}
.juzhong TD {
    TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px; _padding-left: 5px
}
.juzhong TH.juzuuo {
    TEXT-ALIGN: left
}
.juzhong TD.juzuuo {
    TEXT-ALIGN: left
}
.gaodu1 {
    HEIGHT: 70px
}
.tdbian1 TD {
    BORDER-BOTTOM: #e9e9e9 1px solid; BORDER-LEFT: #e9e9e9 1px solid; BORDER-TOP: #e9e9e9 1px solid; BORDER-RIGHT: #e9e9e9 1px solid
}
.tdbian1 TD.wubian {
    BORDER-BOTTOM: 0px; TEXT-ALIGN: left; BORDER-LEFT: 0px; BORDER-SPACING: 0; BORDER-COLLAPSE: collapse; COLOR: #888; BORDER-TOP: 0px; FONT-WEIGHT: bold; BORDER-RIGHT: 0px
}
.tdbian1 TD.wubian SPAN {
    MARGIN-LEFT: 8px
}
.pad10 {
    PADDING-LEFT: 10px
}
.bar_title {
    BORDER-BOTTOM: #ccc 1px solid; PADDING-LEFT: 18px; FONT: 700 14px/33px Arial; BACKGROUND: #fbfbfb; COLOR: #666
}
.fengefu1 {
    BACKGROUND: #fff; HEIGHT: 10px
}
.caicai01 {
    BORDER-BOTTOM: 0px; BORDER-LEFT: #ccc 1px solid; MARGIN-TOP: 55px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.caicai01 DL {
    MARGIN-LEFT: 3px; BORDER-RIGHT: #ccc 1px solid
}
.caicai01 DL.wubian {
    BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.rdl .ddiscount {
    POSITION: absolute; LINE-HEIGHT: 48px; WIDTH: 48px; BACKGROUND: url(http://pic2.58.com/n/tuan/v4/img/zkpic2.png) no-repeat; HEIGHT: 47px; TOP: 3px; RIGHT: 3px; PADDING-TOP: 1px
}
#pptregul LI.i_font12 {
    PADDING-LEFT: 0px; HEIGHT: auto
}
.ucon table tr{height:50px; line-height:50px; }
.ucon table tr td{height:50px; line-height:50px;}
.ucon table tr td.td_two{text-align:left;}
.ucon table tr td.input_title{text-align:right; padding-right:10px; }
.ucon table tr td input{height:30px;line-height:30px;}

/*绫诲埆鐨勯€夋嫨tr*/
.ucon table tr#sort_tr_item{line-height:normal; height:auto;}
.ucon table tr#sort_tr_item td{ line-height:normal; height:auto; }

.captcha{position:relative; top:15px;height:35px;}
.utit .post_msg,.utit .post_msg:hover{
    font-weight: bold;
    width: 80px;
    padding-left: 41px;
    height: 32px;
    line-height: 32px;
    background:#FFF1E8;
    border: 1px solid #ffb38c;
    font-size: 14px;
    color: #ee5500;
    text-align: left;
    cursor: pointer;
    display:block;
    position:relative;

}
.utit .post_msg i{
    width: 15px;
    height: 16px;
    position: absolute;
    top: 9px;
    left: 20px;
    background:url(./i/post.png) 0 0 no-repeat;
    display: inline-block;
    overflow: hidden;
}
.msg_list ul{display:block; margin:10px 0 ; }
.msg_list ul li {display:block; }
.msg_list ul li a{color:#1f1f1f;line-height:30px;}
.msg_list ul li a:hover{color:#FB4E0B; }

.msg_list ul li .edit,.msg_list ul li .top{ color:#ee5500;margin:0 2px;text-decoration: none; }

.post_msg_form .i_text{width:550px;}

.post_msg_form select{height:30px; line-height:30px; }
.gray{color:gray;}
#signup-content{width:550px; height:300px; overflow:hidden; margin-top:20px;  }
.sort_item{height:auto;}

#refresh_captcha{position:relative; top:12px; }

.keep_time{color:#ccc; margin-left:10px;}

/**鐢ㄦ埛涓績鐨勬í鍚戝鑸殑鏂版牱寮�*/
.tab_nav{text-align:left;border-bottom: #e2e2e2 1px solid; background:url(../images/myls08.png) 0 0 repeat-x;height:37px; }
.tab_nav a{display:block; float:left; text-align:center; width:120px; height:38px; line-height:38px;color:#555;border-left: 1px solid transparent;border-right: 1px solid transparent; font-size:14px; font-weight:bold; text-decoration: none;}
.tab_nav a.current{background:#fff;border-left:#e2e2e2 1px solid;border-right:#e2e2e2 1px solid;color:#252525;}
.tab_nav a.no-link{ border-left:1px solid transparent; }
.uright4 .msg_list{text-align:left;}


.uc_tuanitem{width:314px; float:left;margin: 0 8px 12px 0; }
.uc_tuanitem .tuanitem{margin:0px;}

.action-all{font-weight:bold; font-size:16px; padding:0 15px;margin:20px 0; border-bottom:1px solid #e2e2e2; }
.action-item{font-weight:bold; font-size:16px; color:red;}
.action-item a,.action-all a{color:red;font-weight:bold; font-size:16px;margin-left:5px;}
.action-item span{font-weight:bold; font-size:16px;}


.card_list , .card_list li { display:block; }
.card_list li {line-height:40px;font-size:14px; padding-left:15px; }
.card_list li label{color:red; font-weight:bold; margin-right:5px; }
.card_list li a{font-size:14px;}