<extend name="Public/base" />

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>

<block name="body">
    <script charset="utf-8" src="__STATIC__/kindeditor/kindeditor-min.js"></script>
	<div class="main-title cf">
		<h2>
			新增[
			<volist name="rightNav" id="nav">
			<a href="{:U('article/index','cate_id='.$nav['id'])}">{$nav.title}</a>
			<if condition="count($rightNav) gt $i"><i class="ca"></i></if>
			</volist>
			<present name="article">：<a href="{:U('article/index','cate_id='.$info['category_id'].'&pid='.$article['id'])}">{$article.title}</a></present>
			]
		</h2>
	</div>
	<!-- 标签页导航 -->
<div class="tab-wrap">
	<div class="tab-content">
	<!-- 表单 -->
        <form id="form" action="{:U('update')}" method="post" class="form-horizontal">
            <div class="form-item cf">
                <label class="item-label">标题<span class="check-tips">（标题）</span></label>
                <div class="controls">
                    <input type="text" class="text input-large" name="title" value="">
                </div>
            </div>
            <div class="form-item cf">
                <label class="item-label">始发地<span class="check-tips">（始发地）</span></label>
                <div class="controls">
                    <include file="Public:pca" project="start" />
                </div>
            </div>
            <div class="form-item cf">
                <label class="item-label">目的地<span class="check-tips">（目的地）</span></label>
                <div class="controls">
                    <include file="Public:pca" project="dest" />
                </div>
            </div>
            <div class="form-item cf">
                <label class="item-label">公司地址<span class="check-tips">（详细地址）</span></label>
                <div class="controls">
                    <input type="text" class="text input-large" name="address" value="">
                </div>
            </div>
            <if condition="GROUP_ID neq 2">
                <div class="form-item cf">
                    <label class="item-label">优先级<span class="check-tips">（越高排序越靠前）</span></label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="level" value="">
                    </div>
                </div>
            </if>
            <div class="form-item cf">
                <label class="item-label">封面图片<span class="check-tips">（点击上传按钮，如果已经上传则会覆盖）</span></label>
                <div class="controls">
                    <div id="upload_picture_{$field.name}" class="uploadify-button " style="height: 30px; line-height: 30px; width: 120px;">
                        <span class="uploadify-button-text">上传图片</span>
                    </div>
                    <input type="hidden" name="{$field.name}" id="cover_id_{$field.name}" value="{$data[$field['name']]}"/>
                    <div class="upload-img-box">
                        <notempty name="data[$field['name']]">
                            <div class="upload-pre-item"><img src="{$data[$field['name']]|get_cover='path'}"/></div>
                        </notempty>
                    </div>
                </div>
                <script type="text/javascript">
                    KindEditor.ready(function(K) {
                        var upload_picture = K.editor({
                            allowFileManager : true,
                            uploadJson : "{:U('File/uploadPicture',array('save_path'=>'cover'))}"
                        });
                        K('#upload_picture_{$field.name}').click(function() {
                            upload_picture.loadPlugin('image', function() {
                                upload_picture.plugin.imageDialog({
                                    showRemote : false,
                                    clickFn : function(url, title, width, height, border, align, error, cover_id){
                                        if(!error){
                                            $("#cover_id_{$field.name}").val(cover_id);
                                            $("#cover_id_{$field.name}").parent().find('.upload-img-box').html('<div class="upload-pre-item"><img src="__ROOT__' + url + '"/></div>');
                                            upload_picture.hideDialog();
                                        }
                                    }
                                });
                            });
                        });
                    });
                </script>
            </div>
            <div class="form-item cf">
                <label class="item-label">详细内容<span class="check-tips">（详细内容）</span></label>
                <div class="controls">
                    <label class="textarea">
                        <textarea name="content"></textarea>
                        {:hook('adminArticleEdit', array('name'=>'content','value'=>''))}
                    </label>
                </div>
            </div>
            <div class="form-item cf">
                <button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>
                <a class="btn btn-return" href="{:U('article/index?cate_id='.$cate_id)}">返 回</a>

                <input type="hidden" name="id" value="{$info.id|default=''}"/>
                <input type="hidden" name="pid" value="{$info.pid|default=''}"/>
                <input type="hidden" name="model_id" value="{$info.model_id|default=''}"/>
                <input type="hidden" name="category_id" value="{$info.category_id|default=''}">
            </div>
        </form>
	</div>
</div>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">

$('#submit').click(function(){
	$('#form').submit();
});

$(function(){

});
</script>
</block>
