<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
    <div class="main-title cf">
        <h2>[{$user.nickname}]&nbsp;&nbsp;
            {:vipZh($user['vip'])}&nbsp;&nbsp;
            <if condition="$user['vip'] gt 0">
                {$user.vip_end|time_format='Y-m-d'}到期
            </if>
        </h2>
    </div>
    <div class="tab-wrap">
		<ul class="tab-nav nav">
		    <li><a class="btn-select" href="javascript:///">试用期会员</a></li>
		    <li><a class="btn-select"href="javascript:///">推荐会员</a></li>
		    <li class="current"><a class="btn-select" href="javascript:///">vip会员</a></li>
		</ul>
		<div class="tab-content" style="display: none">
            <!-- 修改密码表单 -->
            <form action="{:U('User/recharge')}" method="post" class="form-horizontal vip-1">
                <input type="hidden" name="vip" value="1"/>
                <input type="hidden" name="uid" value="{$user.uid}"/>
                <div class="form-item">
                    <label class="item-label">试用期会员说明：</label>
                    <div class="controls">
                        试用期会员可以添加20条货源信息，免费查看20条货源信息。
                    </div>
                </div>
                <div class="form-item">
                    <button type="submit" class="btn submit-btn ajax-post" target-form="vip-1">成为试用期会员</button>
                </div>
            </form>
        </div>
        <div class="tab-content" style="display: none">
            <!-- 修改密码表单 -->
            <form action="{:U('User/recharge')}" method="post" class="form-horizontal vip-2">
                <input type="hidden" name="vip" value="2"/>
                <input type="hidden" name="uid" value="{$user.uid}"/>
                <div class="form-item">
                    <label class="item-label">推荐会员说明：</label>
                    <div class="controls">
                        暂未开通线上支付，如需支付请用微信扫描下方二维码转账
                    </div>
                </div>
                <div class="form-item">
                    <!--<label class="item-label">选择会员期限：</label>-->
                    <div class="controls">
                        <img src="__STATIC__/images/recharge_qrcode.jpg" />
                        <!--<select name="month">-->
                            <!--<option value="6">6个月</option>-->
                            <!--<option value="12" selected="">12个月</option>-->
                        <!--</select>-->
                    </div>
                </div>
                <div class="form-item">
                    <!--<button type="submit" class="btn submit-btn ajax-post" target-form="vip-2">成为推荐会员</button>-->
                    <!--<a class="btn" target="_blank" href="http://mp.weixin.qq.com/s/FoG26QwEVDlZ5TWh5kY9Mw">去支付</a>-->
                </div>
            </form>
        </div>
        <div class="tab-content">
            <!-- 修改密码表单 -->
            <form action="{:U('User/recharge')}" method="post" class="form-horizontal vip-3">
                <input type="hidden" name="vip" value="3"/>
                <input type="hidden" name="uid" value="{$user.uid}"/>
                <div class="form-item">
                    <label class="item-label">vip会员说明：</label>
                    <div class="controls">
                        暂未开通线上支付，如需支付请用微信扫描下方二维码转账
                    </div>
                </div>
                <div class="form-item">
                    <!--<label class="item-label">选择会员期限：</label>-->
                    <div class="controls">
                        <!--<select name="month">-->
                            <!--<option value="6">6个月</option>-->
                            <!--<option value="12" selected="">12个月</option>-->
                        <!--</select>-->
                        <img src="__STATIC__/images/recharge_qrcode.jpg" />
                    </div>
                </div>
                <div class="form-item">
                    <!--<button type="submit" class="btn submit-btn ajax-post" target-form="vip-3">成为vip会员</button>-->
                    <!--<a class="btn" target="_blank" href="http://mp.weixin.qq.com/s/T2QrP9ZHbDoxnQ9yCOEB4Q">去支付</a>-->
                </div>
            </form>
        </div>
	</div>
</block>
<block name="script">
    <script>
        $(function(){
            $('.nav li').click(function(){
                $(this).addClass('current').siblings().removeClass('current');
                $('.tab-content').hide().eq($(this).index()).show();
            })
        })
    </script>
</block>
